<div class="booking" ng-class="{disabled : !bookingSuccess}">
	<div ng-if="matchs.length == 0 || favorites.length == 0 || matchs || favorites">
		<div class="booking-tips">
			<p class="f-fl">
				<span ng-if="(requirement.status == 0 || requirement.status == 1 || requirement.status == 2 || requirement.status == 3 || requirement.status == 6) && ordersData.length < 3">您还可以预约<i ng-bind="3 - ordersData.length"></i>名设计师</span>
				<span ng-if="booking.bookingChangeStatus">您可以重新预约1名设计师</span>
			</p>
			<a href="/tpl/design/index.html" class="f-fr u-btns" ng-if="bookingSuccess" target="_blank">更多选择</a>
		</div>
		<h3>匹配的设计师</h3>
		<ul class="m-designerList">
			<li bindonce="matchs" ng-repeat="data in matchs" ng-click="selectDesign(data)" class="{{data.active ? 'active' : ''}}">
				<div class="designer f-cb">
					<div class="info f-fl">
						<a bo-href-i="/tpl/design/home.html?{{data._id}}" class="head f-fl" target="_blank">
							<img bo-src-i="/api/v2/web/thumbnail/70/{{data.imageid}}" bo-if="data.imageid" />
						</a>
						<dl class="f-fl">
							<dt>
								<a bo-href-i="/tpl/design/home.html?{{data._id}}" bo-text="data.username" target="_blank"></a>
								<span><i>V</i>认证设计师</span>
							</dt>
							<dd><i bo-text="data.city" bo-if="data.district != '请选择市'"></i><i bo-text="data.district" bo-if="data.district != '请选择县/区'"></i></dd>
							<dd>作品数<strong bo-text="data.authed_product_count"></strong><em>|</em>预约数<strong bo-text="data.order_count"></strong><span bo-if="data.deal_done_count"><em>|</em>成交数<strong bo-text="data.deal_done_count"></strong></span></dd>
						</dl>
					</div>
					<div class="select f-fr">
						<span class="match">匹配度 <i bo-text="data.match"></i>%</span>
						<span class="status"></span>
					</div>
				</div>
			</li>
		</ul>
		<h3>自选的设计师</h3>
		<ul class="m-designerList">
			<li bindonce="favorites" ng-repeat="data in favorites" ng-click="selectDesign(data)" class="{{data.active ? 'active' : ''}}">
				<div class="designer f-cb">
					<div class="info f-fl">
						<a bo-href-i="/tpl/design/home.html?{{data._id}}" class="head f-fl" target="_blank">
							<img bo-src-i="/api/v2/web/thumbnail/70/{{data.imageid}}" bo-if="data.imageid" />
						</a>
						<dl class="f-fl">
							<dt>
								<a bo-href-i="/tpl/design/home.html?{{data._id}}" bo-text="data.username" target="_blank"></a>
								<span><i>V</i>认证设计师</span>
							</dt>
							<dd><i bo-text="data.city" bo-if="data.district != '请选择市'"></i><i bo-text="data.district" bo-if="data.district != '请选择县/区'"></i></dd>
							<dd>作品数<strong bo-text="data.authed_product_count"></strong><em>|</em>预约数<strong bo-text="data.order_count"></strong><span bo-if="data.deal_done_count"><em>|</em>成交数<strong bo-text="data.deal_done_count"></strong></span></dd>
						</dl>
					</div>
					<div class="select f-fr">
						<span class="status"></span>
					</div>
				</div>
			</li>
			<li ng-show="favorites.length == 0 && (requirement.status == 0 || requirement.status == 1 || requirement.status == 2 || requirement.status == 6 || requirement.status == 3)">
				<div class="notdesigner f-cb">
					<p>没有可预约的意向设计师</p>
					<div class="btns">
						<a href="/tpl/design/index.html" class="u-btns u-btns-revise" target="_blank">前往添加意向设计师</a>
					</div>
				</div>
			</li>
		</ul>
		<div class="booking-btns" ng-if="bookingSuccess && ordersData.length < 3 && (requirement.status == 0 || requirement.status == 1 || requirement.status == 2 || requirement.status == 6 || requirement.status == 3)">
			<a href="javascript:;" class="u-btns" ng-click="booking.bookingBtn()">预约量房</a>
		</div>
	</div>
	<div class="pageLoading" ng-hide="!!matchs || !!favorites"></div>
</div>
<div class="k-motai" ng-if="booking.motaiDoneb">
	<div class="motai done">
		<span class="done-icon"></span>
		<h3>温馨提示！</h3>
		<p>您是否预约该设计师量房。</p>
		<a href="javascript:;" class="u-btns u-btns-revise" ng-click="booking.bookingCancelChange()">我再看看</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="javascript:;" class="u-btns" ng-click="booking.bookingChange()">确定预约</a>
	</div>
</div>
<div class="k-motai" ng-if="booking.motaiDone">
	<div class="motai done">
		<span class="done-icon"></span>
		<h3>预约成功！</h3>
		<p>请耐心等待设计师响应并提交量房时间。</p>
		<a href="javascript:;" class="u-btns" ng-click="booking.bookingCancelBtn()">&nbsp;&nbsp;确定&nbsp;&nbsp;</a>
	</div>
</div>