<div class="main">
	<div class="m-tt">
		<h2>个人信息</h2>
	</div>
	<div class="m-ct">
		<div class="k-form">
			<div class="m-boxs">
				<div class="m-item f-cb">
					<div class="item">
						<label class="u-lab" for="owner-name">姓&nbsp;&nbsp;&nbsp;名：</label>
						<div class="u-inp">
							<div class="inp">
								<input type="text" class="input" ng-model="user.username" />
							</div>
						</div>
					</div>
				</div>
				<div class="m-item f-cb">
					<div class="item">
						<label class="u-lab" for="owner-sex">性&nbsp;&nbsp;&nbsp;别：</label>
						<div class="u-inp">
							<div class="radio">
								<label ng-click="radiosex(sex.id)" ng-repeat="sex in usersex"><span class="{{sex.cur}}"></span>{{sex.name}}</label>
							</div>
						</div>
					</div>
				</div>
				<div class="m-item f-cb">
					<div class="item">
						<label class="u-lab" for="owner-email">电子邮箱：</label>
						<div class="u-inp">
							<div class="inp">
								<input type="text" class="input" ng-model="user.email" />
							</div>
						</div>
					</div>
					<p class="tips-icon tips-icon-ok hide"><i class="iconfont">&#xe616;</i></p>
					<p class="tips-icon tips-icon-err hide"><i class="iconfont">&#xe611;</i></p>
					<p class="tips-info hide"></p>
				</div>
				<div class="m-item f-cb">
					<div class="item">
						<label class="u-lab">手机号码：</label>
						<div class="u-inp">
							<div class="inp phone" ng-bind="user.phone"></div>
						</div>
					</div>
				</div>
				<div class="m-item f-cb">
					<div class="item">
						<label class="u-lab" for="dec_area">所在地区：</label>
						<div class="u-inp">
							<div my-cities my-list="cities_list" my-province="user.province" my-city="user.city" my-district="user.district" ng-if="user.province"></div>				
						</div>
					</div>
				</div>
				<div class="m-item f-cb">
					<div class="item">
						<label class="u-lab" for="owner-addr">邮寄详细地址：</label>
						<div class="u-inp">
							<div class="inp address">
								<input type="text" class="input" ng-model="user.address" />
							</div>
						</div>
					</div>
				</div>
				<div class="k-uppicbox">
					<div my-upload my-query="user.imageid" ng-if="user.province"></div>
					<p>请上传大于300*300头像照片<br />1M以内jpg/png格式</p>
				</div>
				<div class="m-item m-error-info hide" id="error-info"></div>
			</div>
			<div class="m-btns">
				<input type="button" class="u-btns" id="owner-submit" ng-click="submitBtn()" value="保存" />
			</div>
		</div>
	</div>
</div>
<div class="k-cropMask" id="j-cropMask"></div>
<div class="k-cropBox" id="j-cropBox">
	<div class="cropBox">
		<img src="" class="img1" id="cropPic1" />
		<img src="" class="img2" id="cropPic2" />	
		<div class="cropBorder" id="cropBorder">
			<span class="dot1"></span>
			<span class="dot2"></span>
			<span class="dot3"></span>
			<span class="dot4"></span>
			<span class="dot5"></span>
			<span class="dot6"></span>
			<span class="dot7"></span>
			<span class="dot8"></span>
			<div></div>
		</div>
	</div>
	<div class="btns">
		<input type="button" class="u-btns" id="crop-submit" value="确定" />
	</div>
</div>
<script type="text/javascript">
	// $(function(){
	// 	var $cropMask = $('#j-cropMask');
	// 	var $cropBox = $('#j-cropBox');
	// 	var $cropbox = $cropBox.find('.cropBox');
	// 	var $winW = $(window).width();
	// 	var $winH = $(window).height();
	// 	var checkSupport = function(){
	// 		var input = document.createElement('input');
	// 		var fileSupport = !!(window.File && window.FileList);
	// 		var xhr = new XMLHttpRequest();
	// 		var fd = !!window.FormData;
	// 		return 'multiple' in input && fileSupport && 'onprogress' in xhr && 'upload' in xhr && fd ? 'html5' : 'flash';
	// 	};
	// 	var uploaderUrl = RootUrl+'api/v2/web/image/upload';
	// 	var croploaderUrl = RootUrl+'api/v2/web/image/crop';
	// 	if(checkSupport() === "html5"){
	// 		$('#upload').Huploadify({
	// 			auto:true,
	// 			fileTypeExts:'*.jpg;*.png',
	// 			multi:true,
	// 			formData:{},
	// 			fileSizeLimit:1024,
	// 			showUploadedPercent:true,//是否实时显示上传的百分比，如20%
	// 			showUploadedSize:true,
	// 			removeTimeout:1,
	// 			fileObjName:'Filedata',
	// 			buttonText : "",
	// 			uploader:uploaderUrl,
	// 			onUploadComplete:function(file, data, response){
	// 				callbackImg(data)
	// 			}
	// 		});
	// 	}else{
	// 		$('#fileToUpload').uploadify({
	// 	    	'auto'     : true,
	// 	    	'removeTimeout' : 1,
	// 	        'swf'      : 'uploadify.swf',
	// 	        'uploader' : uploaderUrl,
	// 	        'method'   : 'post',
	// 			'buttonText' : '',
	// 	        'multi'    : true,
	// 	        'uploadLimit' : 10,
	// 	        'width' : 120,
	// 	        'height' : 120,
	// 	        'fileTypeDesc' : 'Image Files',
	// 	        'fileTypeExts' : '*.jpg; *.png',
	// 	        'fileSizeLimit' : '1024KB',
	// 	        'onUploadSuccess' : function(file, data, response) {
	// 	            callbackImg(data)  
	// 	        }
	// 	    });
	// 	}
	// 	function callbackImg(arr){
	// 		var data = $.parseJSON(arr)
	// 		///$scope.user.imageid = data.data;
	// 		var img = new Image();
	// 		img.onload=function(){
	// 			console.log(img.width,img.height)
	// 			if(img.width < 300){
	// 				alert('图片宽度小于300，请从新上传');
	// 				return false;
	// 			}else if(img.height < 300){
	// 				alert('图片高度小于300，请从新上传');
	// 				return false;
	// 			}
	// 			var w = img.width > 800 ? 800 : img.width;
	// 			$cropMask.css({
	// 				width:$winW,
	// 				height:$winH
	// 			}).fadeTo("slow", 0.3);
	// 			$cropBox.css({
	// 				width:w,
	// 				marginLeft:-(w/2)
	// 			}).show().animate({
	// 				top: 100,
	// 				opacity:1
	// 			});
	// 			$('#cropPic').attr('src',img.src);
	// 		};  
	// 	    img.onerror=function(){alert("error!")};  
	// 	    img.src=RootUrl+'api/v1/image/'+data.data; 
	// 		$('#crop-submit').on('click',function(){
	// 			$.ajax({
	// 				url: RootUrl+'api/v2/web/image/crop',
	// 				type: "post",
	// 				contentType : 'application/json; charset=utf-8',
	// 				dataType: 'json',
	// 				data : JSON.stringify({
	// 				  "_id":data.data,
	// 				  "x":10,
	// 				  "y":10,
	// 				  "width":300,
	// 				  "height":300
	// 				}),
	// 				processData : false
	// 			})
	// 			.done(function(res) {
	// 				$('#userHead').attr('src',RootUrl+'api/v2/web/thumbnail/120/'+res.data).data('img',res.data);
	// 				$cropMask.hide();
	// 				$cropBox.hide();
	// 			})
	// 			.fail(function() {
	// 				console.log("error");
	// 			})
	// 			.always(function() {
	// 				console.log("complete");
	// 			});
				
	// 		})
	// 	}
	// })
</script>