<div class="main m-requirement m-message">
    <div class="m-tt">
        <h2 class="f-fl">系统通知<span ng-if="count.notice">(<i ng-bind="count.notice"></i>)</span></h2>
    </div>
    <div class="m-ct">
        <div class="tabs-box">
            <ul class="tabs">
                <li ng-class="{'active':item.cur}" ng-repeat="item in notice.tab"><a ng-click="notice.goto(item.id)" ui-sref="notice.list.type({id:1,type:item.arr,status:notice.status})" ng-bind="item.name"></a></li>
            </ul>
            <button type="button" ng-if="count.notice" ui-sref="notice.list.type({id:1,type:notice.arr,status:0})" class="unread">只看未读</button>
        </div>
        <!--视图模板容器 start-->
        <div ui-view></div>
        <!--视图模板容器 end-->
    </div>
</div>
