<div class="plans">
	<div class="plans-tips">
		<p class="f-fl">装修方案摘要</p>
	</div>
	<ul class="m-plans" ng-if="plans.length == 0 || plans">
		<li ng-if="plans.length == 0">
			<div class="notData">
				设计师正在提交方案中，请耐心等候！
			</div>
		</li>
		<li bindonce="plans" ng-repeat="data in plans">
			<div class="boxs">
				<div class="info f-cb">
					<a bo-href-i="../design/homepage.html?{{data.designer._id}}" class="head f-fl" target="_blank">
						<img bo-src-i="/api/v2/web/thumbnail/70/{{data.designer.imageid}}" bo-alt="data.designer.username" bo-if="data.designer.imageid" />
						<img bo-src="../../static/img/user/headPic.png" bo-alt="data.designer.username" bo-if="!data.designer.imageid" />
					</a>
					<dl class="f-fl">
						<dt>
							<a bo-href-i="../design/homepage.html?{{data.designer._id}}" bo-text="data.designer.username" target="_blank"></a>
							<span><i>V</i>认证设计师</span>
							的方案
						</dt>
						<dd>
							<span>报价<strong>￥<i bo-text="data.total_price"></i></strong></span>
							<span>工期<strong><i bo-text="data.duration"></i>天</strong></span>
							<span><i>手机</i><em bo-text="data.designer.phone"></em></span>
						</dd>
					</dl>
					<span ng-class="{'status status4 f-fr':data.status == 4,'status status5 f-fr':data.status == 5,'status status3 f-fr':data.status == 3}">
						<i bo-if="data.status == 4">未中标</i>
						<i bo-if="data.status == 5">已中标</i>
						<i bo-if="data.status == 3">沟通中</i>
					</span>
				</div>
				<div class="profile f-cb">
					<h4 class="f-fl">设计说明：</h4>
					<p class="f-fl" bo-text="data.description"></p>
				</div>
				<div class="images">
					<img bo-src-i="/api/v2/web/thumbnail/280/{{img}}" alt="" ng-repeat="img in data.images | limitTo : 3" />
				</div>
				<div class="select">
					<a bo-href-i="plans.html#/detail/{{data._id+'&'+data.requirementid}}#plansMsg" class="u-btns u-btns-revise msg f-fl" target="_blank">留言 (<i bo-text="data.comment_count"></i>)</a>
					<div class="btns f-fr">
						<a bo-href-i="plans.html#/detail/{{data._id+'&'+data.requirementid}}" class="u-btns u-btns-revise" target="_blank">预览方案</a>
						<a href="javascript:;" class="u-btns" ng-hide="{{requirement.status == 4}}" ng-click="definePlan(data._id,data.designer._id)">选定方案</a>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="loading" ng-if="!plans">
		正在加载数据。。。
	</div>
</div>
<div class="k-motai" ng-if="score.motaiDone">
	<div class="motai done">
		<span class="done-icon"></span>
		<h3>提交成功！</h3>
		<p>设计师将在5天内提交装修方案，请保持紧密沟通。</p>
		<a href="javascript:;" class="u-btns" ng-click="score.scoreDefineBtn()">&nbsp;立即评价&nbsp;</a>
	</div>
</div>