<div class="main m-requirement" bindonce="requirement" ng-controller="requirementCtrl">
	<div class="m-tt">
		<h2 class="f-fl">
			<span bo-if="requirement.street && requirement.dec_type == 1" bo-text="requirement.street"></span>
			<span bo-if="requirement.cell"><i bo-text="requirement.cell"></i><i bo-if="requirement.dec_type == 0">小区</i></span>
			<span bo-if="requirement.street && requirement.dec_type == 0"><i bo-text="requirement.cell_phase"></i>期</span>
			<span bo-if="requirement.street && requirement.dec_type == 0"><i bo-text="requirement.cell_building"></i>栋</span>
			<span bo-if="requirement.street && requirement.dec_type == 0"><i bo-text="requirement.cell_unit"></i>单元</span>
			<span bo-if="requirement.street && requirement.dec_type == 0"><i bo-text="requirement.cell_detail_number"></i>室</span>
		</h2>
		<a ui-sref="requirementList" class="f-fr u-btns u-btns-revise returnList">返回需求列表</a>
	</div>
	<div class="m-ct">
		<ul class="tabs">
			<li ng-class="{active: tab==&quot;detail&quot;}"><a ui-sref="requirement.detail({id:requiremtneId})">需求描述</a></li>
			<li ng-class="{active: tab==&quot;booking&quot;}" ng-if="requirement.status == 0 || requirement.status == 1 || requirement.status == 2 || requirement.status == 3 || requirement.status == 4 || requirement.status == 5 || requirement.status == 6 || requirement.status == 7 || requirement.status == 8"><a ui-sref="requirement.booking({id:requiremtneId})">预约量房</a></li>
			<li ng-class="{active: tab==&quot;score&quot;}" ng-if="requirement.status == 1 || requirement.status == 2 || requirement.status == 3 || requirement.status == 4 || requirement.status == 5 || requirement.status == 6 || requirement.status == 7 || requirement.status == 8"><a ui-sref="requirement.score({id:requiremtneId})">确认量房</a></li>
			<li ng-class="{active: tab==&quot;plan&quot;}" ng-if="requirement.status == 6 || requirement.status == 3 || requirement.status == 7 || requirement.status == 4 || requirement.status == 5 || requirement.status == 8"><a ui-sref="requirement.plan({id:requiremtneId})">选择方案</a></li>
			<li ng-class="{active: tab==&quot;contract&quot;}" ng-if="(requirement.status == 7 || requirement.status == 5 || requirement.status == 8) && requirement.work_type != 2"><a ui-sref="requirement.contract({id:requiremtneId})">生成合同</a></li>
			<li ng-class="{active: tab==&quot;field&quot;}" ng-if="(requirement.status == 5 || requirement.status == 8) && requirement.work_type != 2"><a ui-sref="requirement.field({id:requiremtneId})">管理工地</a></li>
			<li ng-class="{active: tab==&quot;fulfill&quot;}" ng-if="requirement.status == 8 && requirement.work_type != 2"><a ui-sref="requirement.fulfill({id:requiremtneId})">完成</a></li>
			<li ng-class="{active: tab==&quot;fulfill&quot;}" ng-if="requirement.status == 4 && requirement.work_type == 2"><a ui-sref="requirement.fulfill({id:requiremtneId})">完成</a></li>
		</ul>
		<div class="requirement" ng-controller="requirementDetailCtrl">
			<!--视图模板容器 start-->
			<div ui-view></div>
			<!--视图模板容器 end-->
		</div>
	</div>
</div>
