<div class="booking score">
	<div class="booking-tips">
		<p class="f-fl">评价参与本案的设计师</p>
	</div>
	<ul class="m-designerList" ng-if="ordersData">
		<li bindonce="ordersData" ng-repeat="data in ordersData">
			<div class="designer f-cb">
				<div class="info f-fl">
					<a bo-href-i="../design/homepage.html?{{data._id}}" class="head f-fl" target="_blank">
						<img bo-src-i="/api/v2/web/thumbnail/70/{{data.imageid}}" bo-if="data.imageid" />
					</a>
					<dl class="f-fl">
						<dt>
							<a bo-href-i="../design/homepage.html?{{data._id}}" bo-text="data.username" target="_blank"></a>
							<span><i>V</i>认证设计师</span>
						</dt>
						<dd><i bo-text="data.city"></i><i bo-text="data.district"></i></dd>
						<dd ng-switch="data.plan.status">
							<span ng-switch-when="0">作品数<strong bo-text="data.authed_product_count"></strong><em>|</em>预约数<strong bo-text="data.order_count"></strong><span bo-if="data.deal_done_count"><em>|</em>成交数<strong bo-text="data.deal_done_count"></strong></span></span>
							<span ng-switch-when="1">作品数<strong bo-text="data.authed_product_count"></strong><em>|</em>预约数<strong bo-text="data.order_count"></strong><span bo-if="data.deal_done_count"><em>|</em>成交数<strong bo-text="data.deal_done_count"></strong></span></span>
							<span ng-switch-when="2"><i class="iconfont2">&#xe625;</i><span bo-text="data.phone"></span></span>
							<span ng-switch-when="3"><i class="iconfont2">&#xe625;</i><span bo-text="data.phone"></span></span>
							<span ng-switch-when="4"><i class="iconfont2">&#xe625;</i><span bo-text="data.phone"></span></span>
							<span ng-switch-when="5"><i class="iconfont2">&#xe625;</i><span bo-text="data.phone"></span></span>
							<span ng-switch-when="6"><i class="iconfont2">&#xe625;</i><span bo-text="data.phone"></span></span>
							<span ng-switch-when="7">作品数<strong bo-text="data.authed_product_count"></strong><em>|</em>预约数<strong bo-text="data.order_count"></strong><span bo-if="data.deal_done_count"><em>|</em>成交数<strong bo-text="data.deal_done_count"></strong></span></span>
							<span ng-switch-when="8"><i class="iconfont2">&#xe625;</i><span bo-text="data.phone"></span></span>
						</dd>
					</dl>
				</div>
				<div class="select f-fr">
					<!-- 正常需求情况 -->
					<div ng-if="requirement.status == 0 || requirement.status == 1 || requirement.status == 2 || requirement.status == 6 || requirement.status == 3">
						<p class="f-tar" ng-if="data.plan.status != 2 && data.plan.status != 6 && data.plan.status == 0">设计师正在响应中，请耐心等候！</p>
						<p class="f-tar" ng-if="data.plan.status == 7">设计师无响应导致响应过期!<br /><br />
							<a bo-href-i="owner.html#/requirement/{{requiremtneId}}/booking?{{data._id}}" class="u-btns u-btns-revise">重新预约一名设计师</a></p>
						<p class="f-tar" ng-if="data.plan.status == 8">设计师规定时间内没有上传方案已过期！<br /><br />
							<a bo-href-i="owner.html#/requirement/{{requiremtneId}}/booking?{{data._id}}" class="u-btns u-btns-revise">重新预约一名设计师</a></p>
						<p class="f-tar" ng-if="data.plan.status == 1">设计师正在忙，暂时无法为您服务。<br /><br />
							<a bo-href-i="owner.html#/requirement/{{requiremtneId}}/booking?{{data._id}}" class="u-btns u-btns-revise">重新预约一名设计师</a></p>
						<div class="btns" ng-if="data.plan.status == 2">
							<a href="javascript:;" class="u-btns" ng-click="score.confirmBtn(data)">已上门量房</a>
						</div>
						<div class="btns" ng-if="(data.plan.status == 6 || data.evaluation) && data.plan.status != 8">
							<span>已确认<i ng-if="data.evaluation">并已评价</i></span>
							<a href="javascript:;" class="u-btns u-btns-revise" ng-click="score.scoreBtn(data)" ng-if="!data.evaluation">&nbsp;评价&nbsp;</a>
						</div>
						<p ng-class="{cur:data.plan.status == 2}" ng-if="(data.plan.status == 2 || data.plan.status == 6 || data.evaluation) && data.plan.status != 8">量房时间：<i bo-text="data.house_check_time"></i></p>
					</div>
					<!-- 需求完结状态 -->
					<div ng-if="requirement.status == 4 || requirement.status == 5 || requirement.status == 7">
						<p class="f-tar" ng-if="data.plan.status == 5">已中标</p>
						<p class="f-tar" ng-if="data.plan.status == 4">未中标</p>
						<p class="f-tar" ng-if="data.plan.status == 7">设计师无响应导致响应过期</p>
						<p class="f-tar" ng-if="data.plan.status == 8">设计师规定时间内没有上传方案已过期</p>
						<p class="f-tar" ng-if="data.plan.status == 1">设计师正在忙，暂时无法为您服务</p>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="pageLoading" ng-hide="!!ordersData"></div>
</div>
<div class="k-motai" ng-if="score.motaiDone">
	<div class="motai done">
		<span class="done-icon"></span>
		<h3>提交成功！</h3>
		<p>设计师将在5天内提交装修方案，请保持紧密沟通。</p>
		<a href="javascript:;" class="u-btns" ng-click="score.scoreDefineBtn()">&nbsp;立即评价&nbsp;</a>
	</div>
</div>
<div class="k-motai" ng-if="score.motaiScore">
	<div class="motai score">
		<h3>评价设计师</h3>
		<dl>
			<dt>响应速度</dt>
			<dd>
				<span ng-repeat="list in score.scoreResponds" ng-click="score.respondBtn(list.id)" class="{{list.cur}}"></span>
			</dd>
		</dl>
		<dl>
			<dt>服务态度</dt>
			<dd>
				<span ng-repeat="list in score.scoreServices" ng-click="score.serviceBtn(list.id)" class="{{list.cur}}"></span>
			</dd>
		</dl>
		<div class="textarea"><textarea rows="10" ng-model="score.scoreComment"></textarea></div>
		<div class="anonymity">
			<span ng-click="score.anonymityBtn()"><i ng-class="{true:'active',false:''}[score.anonymity]"></i>匿名评价</span>
		</div>
		<div class="btns">
			<a href="javascript:;" class="u-btns u-btns-revise" ng-click="score.scoreCancelBtn()">&nbsp;&nbsp;取消&nbsp;&nbsp;</a>
			<a href="javascript:;" class="u-btns" ng-click="score.scoreSubmitBtn()">&nbsp;&nbsp;提交&nbsp;&nbsp;</a>
		</div>
	</div>
</div>