<ol class="breadcrumb"><li><a ui-sref="index">首页</a></li><li class="active">方案列表</li></ol>
<form name="recruit" ng-submit="searchTimeBtn()" novalidate>
	<p>方案最后更新时间过滤</p>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1">开始时间</div>
			<div class="col-md-3">
				<p class="input-group">
				  	<input type="text" class="form-control" uib-datepicker-popup ng-model="startTime.time" is-open="startTime.status.opened" datepicker-options="startTime.dateOptions" close-text="关闭" clear-text="清除" current-text="今天" required />
				  	<span class="input-group-btn">
				  		<button type="button" class="btn btn-default" ng-click="startTime.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				  	</span>
			  	</p>
			</div>
			<div class="col-md-1">--结束时间</div>
			<div class="col-md-3">
				<p class="input-group">
				  	<input type="text" class="form-control" uib-datepicker-popup ng-model="endTime.time" is-open="endTime.status.opened" datepicker-options="endTime.dateOptions" close-text="关闭" clear-text="清除" current-text="今天" required />
				  	<span class="input-group-btn">
				  		<button type="button" class="btn btn-default" ng-click="endTime.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				  	</span>
				</p>
			</div>
			<div class="col-md-2"><button type="submit" class="btn btn-info" ng-disabled="recruit.$invalid" ng-class="">搜索</button></div>
		</div>
	</div>
</form>
<br />
<ul class="list-inline">
	方案状态：<li ng-repeat="auth in authList"><button type="button" class="btn btn-default" ng-class="{true:'btn-warning',false:'btn-default'}[auth.cur]" ng-click="authBtn(auth.id)">{{auth.name}}</button></li>
</ul>
<br />
<div>
	<button type="button" class="btn btn-danger" ng-click="clearStatus()">重置清空还原</button>
</div>
<br />
<div class="panel panel-info ng-scope">
	<table class="table table-bordered">
		<tbody>
			<tr class="info thead">
				<th>方案ID</th>
				<th  ng-class="{'-1':'tablesorter-headerDesc', undefined:'tablesorter-header', '1':'tablesorter-headerAsc'}[sort.request_date]" ng-click="sortData('request_date')">预约时间</th>
				<th  ng-class="{'-1':'tablesorter-headerDesc', undefined:'tablesorter-header', '1':'tablesorter-headerAsc'}[sort.get_phone_time]" ng-click="sortData('get_phone_time')">获取电话时间</th>
				<th  ng-class="{'-1':'tablesorter-headerDesc', undefined:'tablesorter-header', '1':'tablesorter-headerAsc'}[sort.house_check_time]" ng-click="sortData('house_check_time')">量房时间</th>
				<th>当前状态</th>
				<th  ng-class="{'-1':'tablesorter-headerDesc', undefined:'tablesorter-header', '1':'tablesorter-headerAsc'}[sort.last_status_update_time]" ng-click="sortData('last_status_update_time')">状态更新时间</th>
				<th>设计师姓名</th>
				<th>设计师电话</th>
				<th>业主姓名</th>
				<th>业主电话</th>
				<th>查看方案</th>
			</tr>
			<tr ng-repeat="user in userList">
				<td>{{user._id}}</td>
				<td>{{user.request_date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>{{user.get_phone_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>{{user.house_check_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>{{user.status | planFilter}}</td>
				<td>{{user.last_status_update_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>{{user.designer.username}}({{user.biaoshi}})</td>
				<td>{{user.designer.phone}}</td>
				<td>{{user.user.username}}</td>
				<td>{{user.user.phone}}</td>
				<td><a target="_blank" href="../tpl/user/plans.html?pid={{user._id}}" class="btns browse">预览方案</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="loadData" ng-hide="loading.loadData"></div>
<div class="loadData notData" ng-show="loading.notData"></div>
<div class="text-center" ng-if="loading.loadData && !loading.notData">
	<uib-pagination total-items="pagination.totalItems" first-text="首页" next-text="下一页" previous-text="上一页" last-text="尾页" ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" rotate="false" ng-change="pagination.pageChanged()"></uib-pagination>
	<span class="pagecode">当前：{{pagination.currentPage}} / {{numPages}} 页 总共 {{pagination.totalItems}} 条数据</span>
</div>
