<ol class="breadcrumb"><li><a ui-sref="index">首页</a></li><li class="active">天使业主招募列表</li></ol>
<form class="form-inline">
	<p>[注意时间格式：2015-10-01]如果搜索当前的信息，开始时间为当天日期，结束时间为第二天日期</p>
	<div class="form-group">
		<label for="inputPassword2">开始时间：</label>
		<input type="text" class="form-control" id="inputPassword2" placeholder="例如：2015-10-01" ng-model="startTime" required>
		<label for="inputPassword2">--截止时间：</label>
		<input type="text" class="form-control" id="inputPassword2" placeholder="例如：2015-10-01" ng-model="endTime">
	</div>
	<button type="button" class="btn btn-info" ng-click="searchTimeBtn()">搜索</button>
</form>
<br />
<div class="panel panel-info ng-scope">
	<table class="table table-bordered">
		<tbody>
			<tr class="info thead">
				<th>提交ID</th>
				<th>注册时间</th>
				<th>业主姓名</th>
				<th>业主电话</th>
				<th>装修区域</th>
				<th>装修面积</th>
				<th>装修预算</th>
			</tr>
			<tr ng-repeat="user in userList">
				<td>{{user._id}}</td>
				<td>{{user.create_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>{{user.name ? user.name : '未填写'}}</td>
				<td>{{user.phone}}</td>
				<td>{{user.district ? (user.district | decDistrictsFilter) : '未填写'}}</td>
				<td>{{user.house_area}} m&sup2;</td>
				<td>{{user.total_price}} 万元</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="loadData" ng-hide="loadData" id="j-loadData"></div>
<div paging page-object="pageing" click-function="list" ></div>