/*独家秘笈*/
body{
	background-color: #ebeced;
}
.g-bd{
	min-height: 680px;
	padding-bottom: 50px;
}
.m-hot{
	height: 348px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.m-hot .slidepic{
	position: relative;
	width: 820px;
	height: 100%;
	background:url(../img/user/loading.gif) center center no-repeat;
}
.m-hot .slidepic ol{
	position: absolute;
	bottom: 15px;
	right: 20px;
	z-index: 10;
}
.m-hot .slidepic ol li{
	float: left;
	width: 15px;
	height: 4px;
	overflow: hidden;
	margin-right: 5px;
	background-color: #fff;
	opacity: 0.8;
	filter: alpha(opacity=80);
	cursor: pointer;
}
.m-hot .slidepic ol li.active{
	opacity: 1;
	filter: alpha(opacity=100);
}
.m-hot .slidepic .pic{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.m-hot .slidepic .pic ul{
	position: absolute;
	left:0;
	top:0;
	width: 8200px;
	height: 100%;
}
.m-hot .slidepic .pic li{
	float: left;
	width: 820px;
	height: 100%;
}
.m-hot .slidepic .pic a{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}
.m-hot .slidepic .pic a div{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background:url(../img/article/slidepic-shadow.png) left top repeat-x;
}
.m-hot .slidepic .pic strong{
	position: absolute;
	left:29px;
	top:38px;
	font-size: 30px;
	line-height: 40px;
}
.m-hot .slidepic .pic span{
	position: absolute;
	left:29px;
	top:77px;
	font-size: 14px;
	line-height: 22px;
}
.m-hot .slidepic .pic img{
	width: 100%;
	min-height: 100%;
}
.m-hot .hotposts{
	width: 300px;
	padding-right: 39px;
}
.m-hot .hotposts li{
	height: 83px;
	padding-top: 32px;
	border-bottom: 1px solid #eee;
}
.m-hot .hotposts li.last{
	border-bottom: none;
}
.m-hot .hotposts h4{
	line-height: 30px;
}
.m-hot .hotposts h4 a{
	display: block;
	width: 100%;
	height: 30px;
	font-size: 20px;
	color: #383d48;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.m-hot .hotposts h4 a:hover{
	color: #fe7004;
}
.m-hot .hotposts p{
	width: 100%;
	font-size: 14px;
	line-height: 24px;
	color: #999;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.m-filter{
	height: 38px;
	font-size: 14px;
	line-height: 38px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
}
.m-filter a{
	float: left;
	padding: 0 31px;
	color: #999;
}
.m-filter a.current{
	padding: 0 30px;
	color: #61687a;
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
.m-filter a:hover{
	color: #61687a;
}
.m-filter a:first-child{
	border-left: none;
	padding-left: 30px;
}
.m-list{
	padding-top: 10px;
}
.m-list li{
	float: left;
	width: 388px;
	height: 298px;
	margin-left: 15px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.m-list li.first{
	margin-left: 0;
}
.m-list li .img{
	display: block;
	width: 100%;
	height: 165px;
	overflow: hidden;
}
.m-list li .img img{
	width: 100%;
	min-height: 100%;
}
.m-list li .img:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.m-list li h4{
	padding-top: 26px;
	padding-left: 19px;
	line-height: 38px;
}
.m-list li h4 a{
	display: block;
	width: 90%;
	height: 38px;
	font-size: 18px;
	color: #383d48;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.m-list li h4 a:hover{
	color: #fe7004;
}
.m-list li p{
	padding:0 19px;
	font-size: 14px;
	line-height: 18px;
	color: #999;
}
/*详情*/
.g-sd{
	width: 260px;
}
.g-sd .related{
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.g-sd .related h3{
	padding-left: 19px;
	font-size: 18px;
	line-height: 63px;
	color: #383d48;
	border-bottom: 1px solid #e5e5e5;
}
.g-sd .related ul{
	padding-top: 19px;
	margin: 0 19px;
}
.g-sd .related li{
	width: 100%;
	height: 140px;
	padding-bottom: 19px;
}
.g-sd .related a{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.g-sd .related img{
	width: 100%;
	min-height: 100%;
}
.g-sd .related span{
	position: absolute;
	left:0;
	bottom: 0;
	width: 200px;
	height: 32px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding: 8px 10px 0;
	text-align: center;
	color: #fff;
	background:url(../img/index/index-toggle-btn.png) 0 -90px repeat-x;
}
.g-sd .related a:hover span{
	color: #fe7004;
}
.g-sd .related a:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.g-sd .concern{
	padding: 51px;
}
.g-sd .concern .box{
	position: relative;
	width: 117px;
	height: 117px;
	padding: 28px 28px 66px;
	background-color: #fff;
}
.g-sd .concern .box img{
	width: 100%;
	height: 100%;
}
.g-sd .concern .box span{
	position: absolute;
	background:url(../img/article/ribbon.png) no-repeat;
}
.g-sd .concern .box span.arrow{
	top:-3px;
	right: -3px;
	width: 37px;
	height: 37px;
	background-position: 0 0;
}
.g-sd .concern .box span.ribbonLeft{
	bottom:7px;
	left: -31px;
	width: 37px;
	height: 36px;
	background-position: 0 -41px;
}
.g-sd .concern .box span.ribbonRight{
	bottom:7px;
	right: -31px;
	width: 37px;
	height: 36px;
	background-position: 0 -80px;
}
.g-sd .concern .box p{
	position: absolute;
	bottom: 13px;
	left:0;
	width: 180px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background-color: #fe7004;
}
.g-mn{
	width: 918px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.g-mn .m-tt{
	padding-left: 19px;
	font-size: 18px;
	line-height: 63px;
	color: #383d48;
	border-bottom: 1px solid #e5e5e5;
}
.g-mn .m-ct{
	padding: 20px 19px 29px;
}
.g-mn .m-ct .content{
	min-height: 880px;
}
.g-mn .m-ct .content img{
	max-width: 100%;
}
.g-mn .m-ct .toggle{
	padding-top: 30px;
}
.g-mn .m-ct .toggle p{
	font-size: 14px;
	line-height: 30px;
}
.g-mn .m-ct .toggle p a{
	color: #383d48;
}
.g-mn .m-ct .toggle p a:hover{
	color: #fe7004;
}
