<%- include('../module/head') -%>
<title>首页--互联网装修|武汉装修|设计师平台|简繁家互联网装修平台</title>
<meta name="description" content="简繁家提供家装设计、新房装修、装修流程、室内设计、家装设计、室内装修、施工监理等服务和装修知识、装修风格、装修效果图、装修设计图等信息。">
<meta name="keywords" content="互联网装修,武汉装修,设计师平台,简繁家互联网装修平台,家装施工监理">
<link rel="stylesheet" type="text/css" href="/static/css/public.css" />
<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
<%- include('../module/header') -%>
<div class="g-wp g-shortcut f-cb" id="j-shortcut">
  <div class="home-top">
    <div class="top-img">
      <img data-original="/static/img/index/index1.jpg" src="/static/img/public/load.gif" class="img lazyimg u-placeholder-image">
    </div>
    <div class="top-title"></div>
  </div>
  <!--   <div><%= JSON.stringify(data) %></div> -->
</div>

<section class="g-wp g-steps">
  <div class="g-compute" id="j-budget">
    <div class="step1">
      <h3 class="title">只需三步，即刻在线生成智能预算</h3>
      <div class="content">
        <div class="items f-cb">
          <div class="item item-address f-fl">
            <label for="" class="u-lab"><i class="icon address"></i></label>
            <div class="u-box">
              <span>武汉</span>
            </div>
          </div>
          <div class="item item-area f-fl">
            <label for="" class="u-lab"><i class="icon area"></i></label>
            <div class="u-box">
              <div class="u-inp f-fl">
                <input type="text" class="input" id="house-area" placeholder="建筑面积">
              </div>
              <span class="unit f-fl">m&sup2;</span>
            </div>
            <div class="error hide">面积不正确</div>
          </div>
          <div class="item item-house f-fl">
            <label for="" class="u-lab"><i class="icon house"></i></label>
            <div class="u-box">
              <ul class="f-cb">
                <li>
                  <div class="f-fl k-select" id="j-house-shi">1</div><span class="unit f-fl">室</span>
                  <div class="user">
                    <span class="arrow"><i></i></span>
                    <ul>
                      <li class="shi">1</li>
                      <li class="shi">2</li>
                      <li class="shi">3</li>
                      <li class="shi">4</li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="f-fl k-select" id="j-house-ting">1</div><span class="unit f-fl">厅</span>
                  <div class="user">
                    <span class="arrow"><i></i></span>
                    <ul>
                      <li class="ting">1</li>
                      <li class="ting">2</li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="f-fl k-select" id="j-house-chu">1</div><span class="unit f-fl">厨</span>
                  <div class="user">
                    <span class="arrow"><i></i></span>
                    <ul>
                      <li class="chu">1</li>
                      <li class="chu">2</li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="f-fl k-select" id="j-house-wu">1</div><span class="unit f-fl">卫</span>
                  <div class="user">
                    <span class="arrow"><i></i></span>
                    <ul>
                      <li class="wu">1</li>
                      <li class="wu">2</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <button class="btns get-budget">获取装修预算</button>
    </div>
    <div class="step2 hide">
      <span class="icon goback" data-back="step1"></span>
      <h3 class="title">您选择的<strong class="room bright">3</strong>室<strong class="live-room bright">1</strong>厅<strong class="kitchen-room bright">1</strong>厨<strong class="wash-room bright">2</strong>卫</h3>
      <p class="tips">除了主卧室另外<span class="other-room">2</span>个房间打算怎么安排？</p>
      <div class="content">
        <ul class="list f-cb">
          <li class="live-room1 active">
            <div class="img"><img src="/static/img/index/compute-room01.png" alt=""></div>
            <p>次卧</p>
            <span class="mask"></span>
            <div class="text">
              <i class="icon"></i>
              <p>次卧</p>
            </div>
          </li>
          <li class="live-room2">
            <div class="img"><img src="/static/img/index/compute-room01.png" alt=""></div>
            <p>次卧</p>
            <span class="mask"></span>
            <div class="text">
              <i class="icon"></i>
              <p>次卧</p>
            </div>
          </li>
          <li>
            <div class="img"><img src="/static/img/index/compute-room02.png" alt=""></div>
            <p>儿童房</p>
            <span class="mask"></span>
            <div class="text">
              <i class="icon"></i>
              <p>儿童房</p>
            </div>
          </li>
          <li class="child-room2">
            <div class="img"><img src="/static/img/index/compute-room02.png" alt=""></div>
            <p>儿童房</p>
            <span class="mask"></span>
            <div class="text">
              <i class="icon"></i>
              <p>儿童房</p>
            </div>
          </li>
          <li>
            <div class="img"><img src="/static/img/index/compute-room03.png" alt=""></div>
            <p>书房</p>
            <span class="mask"></span>
            <div class="text">
              <i class="icon"></i>
              <p>书房</p>
            </div>
          </li>
          <li>
            <div class="img"><img src="/static/img/index/compute-room04.png" alt=""></div>
            <p>衣帽间</p>
            <span class="mask"></span>
            <div class="text">
              <i class="icon"></i>
              <p>衣帽间</p>
            </div>
          </li>
        </ul>
      </div>
      <button class="btns next">下一步</button>
      <div class="process">
        <span class="active"></span>
        <span></span>
      </div>
    </div>
    <div class="step3 hide">
      <span class="icon goback" data-back="step2" data-back2="step1"></span>
      <h3 class="title">选择您喜欢的新家风格</h3>
      <div class="content">
        <ul class="list f-cb">
          <li class="active">
            <div class="img"><img src="/static/img/index/compute-style01.jpg" alt=""></div>
            <p>欧式</p>
            <span class="mask"></span>
            <div class="text">
              <i class="icon"></i>
              <p>欧式</p>
            </div>
          </li>
          <li>
            <div class="img"><img src="/static/img/index/compute-style02.jpg" alt=""></div>
            <p>中式</p>
            <span class="mask"></span>
            <div class="text">
              <i class="icon"></i>
              <p>中式</p>
            </div>
          </li>
          <li>
            <div class="img"><img src="/static/img/index/compute-style03.jpg" alt=""></div>
            <p>现代</p>
            <span class="mask"></span>
            <div class="text">
              <i class="icon"></i>
              <p>现代</p>
            </div>
          </li>
          <li>
            <div class="img"><img src="/static/img/index/compute-style04.jpg" alt=""></div>
            <p>地中海</p>
            <span class="mask"></span>
            <div class="text">
              <i class="icon"></i>
              <p>地中海</p>
            </div>
          </li>
          <li>
            <div class="img"><img src="/static/img/index/compute-style05.jpg" alt=""></div>
            <p>美式</p>
            <span class="mask"></span>
            <div class="text">
              <i class="icon"></i>
              <p>美式</p>
            </div>
          </li>
          <li>
            <div class="img"><img src="/static/img/index/compute-style06.jpg" alt=""></div>
            <p>东南亚</p>
            <span class="mask"></span>
            <div class="text">
              <i class="icon"></i>
              <p>东南亚</p>
            </div>
          </li>
          <li>
            <div class="img"><img src="/static/img/index/compute-style07.jpg" alt=""></div>
            <p>田园</p>
            <span class="mask"></span>
            <div class="text">
              <i class="icon"></i>
              <p>田园</p>
            </div>
          </li>
        </ul>
      </div>
      <button class="btns generate">生成预算清单</button>
      <div class="process">
        <span></span>
        <span class="active"></span>
      </div>
    </div>
    <div class="step4 hide">
      <h3 class="title"><i class="icon phone"></i>发送到手机</h3>
      <p class="tips">请填写手机号码，装修预算将会发送到您的手机里</p>
      <div class="content">
        <div class="item item-phone">
          <label for="" class="u-lab"><i class="icon phone"></i></label>
          <div class="u-box">
            <div class="u-inp">
              <input type="text" class="input" placeholder="请输入手机号码">
            </div>
          </div>
          <p class="hide">手机号不正确</p>
        </div>
      </div>
      <button class="btns submit">立即获取</button>
    </div>
    <div class="step5 hide">
      <h3 class="title"><i class="icon success"></i>成功发送到手机</h3>
      <p class="tips">您的装修预算已通过短信形式发送到您的手机，点开链接即可查看。</p>
      <div class="content">
        <div class="contact">
          <dl class="f-fl">
            <dt>关注简繁家公众号</dt>
            <dd><img src="/static/img/index/weixin.jpg" alt=""></dd>
          </dl>
          <dl class="f-fr">
            <dt>下载简繁家APP</dt>
            <dd><img src="/static/img/index/owner-app.jpg" alt=""></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="g-wp g-package">
  <div class="need-designer">
    <div class="need-mask"></div>
    <div class="need-img"></div>
    <div class="need-title">
      <h3><a href="/tpl/design/index.html">需要一名设计师？</a></h3>
    </div>
  </div>

  <div class="package1">
    <div class="content f-fl">
      <div class="box-padding">
        <h2><span></span></h2>
        <p class="line"><span></span></p>
        <h3 class="desc">"宜家风”整装解决方案</h3>
        <p class="text-left">精心为85后的年轻人打造的“宜家风”全包装修解决方案，
          我们的抓也团队帮您搞定设计搭配、硬装、软装和配件，
          你只需要提交需求就能轻
        </p>
        <p class="more"><a href="/zt/jian/index.html">了解更多</a></p>
      </div>
    </div>
    <div class="package1-img f-fr">
      <img data-original="/static/img/index/index3.jpg" src="/static/img/public/load.gif" class="img lazyimg u-placeholder-image">
    </div>
  </div>

  <div class="package2">
    <div class="package2-img f-fl">
      <img data-original="/static/img/index/index4.jpg" src="/static/img/public/load.gif" class="img lazyimg u-placeholder-image">
    </div>
    <div class="content f-fr">
      <div class="box-padding">
        <h2><span></span></h2>
        <p class="line"><span></span></p>
        <h3 class="desc">微装修解决方案</h3>
        <p class="text-left">针对还在租房、并追求一定生活品质的年轻人推出的出租房或旧房改造方案，
          通过对地面、墙壁的改造并加入软装设计，让你的出租房或旧房焕
        </p>
        <p class="more"><a href="/zt/decorate/index.html">了解更多</a></p>
      </div>
    </div>
  </div>

  <div class="package3">
    <div class="content f-fl">
      <div class="box-padding">
        <h2><span></span></h2>
        <p class="line"><span></span></p>
        <h3 class="desc">基础装修解决方案</h3>
        <p class="text-left">我们将水电、泥木、油漆、安装等基础装修部分实施统一标准化，
          规定统一的主材、辅材等项目的品牌和规格，制定施工的工艺标准，基装部分
        </p>
        <p class="more"><a href="/zt/365package/index.html">了解更多</a></p>
      </div>
    </div>
    <div class="package3-img f-fr">
      <img data-original="/static/img/index/index5.jpg" src="/static/img/public/load.gif" class="img lazyimg u-placeholder-image">
    </div>
  </div>

  <div class="download">
    <a class="app" href="/tpl/download/index.html"></a>
  </div>
</section>

<section class="g-item g-wp g-to-designer">
  <h2>成为“简繁家”平台入驻设计师，这些福利都是您的</h2>
  <p>获得更多客户的订单，充分展示自己的才华</p>
  <p>强调设计师在装修中的地位，充分证明您的价值</p>
  <p>不断提升自己的能力和经验，与我们共同成长</p>
  <p class="more"><a href="/tpl/user/reg.html?2">加入我们</a></p>
</section>

<script type="text/javascript" data-main="/static/js/index/index" src="/static/js/lib/require.js"></script>
<%- include('../module/footer') -%>
