<div class="requirement-detail-page row common">
	<div class="box col-md-12">
		<ol class="breadcrumb"><li><a ui-sref="index">首页</a></li><li><a ui-sref="requirement">业务需求列表</a></li><li class="active">匹配设计师</li></ol>
		<div class="breadcrumb">
			<div class="panel panel-info ng-scope table-responsive panel-common">
				<div class="panel-heading clearfix">
					<h2 class="panel-title">
						{{user.user.username}}
						<small>业主 (手机号码：{{user.user.phone}})</small>
					</h2>
					<h4>
						{{user.basic_address}}
						<small>装修需求（需求编号{{user._id}}）</small>
					</h4>
				</div>
				
				<div class="panel-body table-responsive">
					<table class="table table-bordered table-striped">
						<tbody>
							<tr>
								<td  class="col-md-4">装修城市</td>
								<td>{{user.province}} {{user.city}} {{user.district}}</td>
							</tr>

							<tr>
								<td>需求状态</td>
								<td>{{user.status | requirementFilter}}</td>
							</tr>

							<tr>
								<td>详细地址</td>
								<td>{{user.basic_address}}</td>
							</tr>

							<tr>
								<td>装修类别</td>
								<td>{{user.dec_type | decTypeFilter}}</td>
							</tr>

							<tr>
								<td>包类型</td>
								<td>{{user.package_type | requirePackageTypeFilter}}</td>
							</tr>

							<tr>
								<td>计划常住成员</td>
								<td>{{user.family_description}}</td>
							</tr>

							<tr>
								<td>风格喜好</td>
								<td>{{user.dec_style | decStyleFilter}}</td>
							</tr>

							<tr>
								<td>装修户型</td>
								<td>{{user.house_type | houseTypeFilter}}</td>
							</tr>

							<tr>
								<td>装修面积</td>
								<td>{{user.house_area}} m&sup2;</td>
							</tr>

							<tr>
								<td>包工类型</td>
								<td>{{user.work_type | workTypeFilter}}</td>
							</tr>

							<tr>
								<td>装修预算</td>
								<td>{{user.total_price}} 万元</td>
							</tr>

							<tr>
								<td>偏好设计师类型</td>
								<td>{{user.communication_type | designTypeFilter}}</td>
							</tr>

							<tr>
								<td>偏好设计师性别</td>
								<td>{{user.prefer_sex | sexFilter}}</td>
							</tr>

							<tr>
								<td>匹配设计师</td>
								<td ng-if="recDesignerList">
									匹配设计师：
									<span ng-repeat="user in recDesignerList">
										<a ui-sref="designerInfo({id:user._id})">{{user.username}}({{user.phone}})</a> 
									</span>
								</td>
								<td ng-if="!recDesignerList"></td>
							</tr>

							<tr>
								<td>所有预约设计师</td>
								<td ng-if="designerList">
									所有预约设计师：
									<span ng-repeat="user in designerList">
									<a ui-sref="designerInfo({id:user._id})">{{user.username}}({{user.phone}})</a>
									</span>
								</td>
								<td ng-if="!designerList"></td>
							</tr>

							<tr>
								<td>成交设计师</td>
								<td ng-if="finalDesigner">
									成交设计师：
									<a ui-sref="designerInfo({id:finalDesigner._id})">{{finalDesigner.username}}({{finalDesigner.phone}})
									</a>
								</td>
								<td ng-if="!finalDesigner"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<h4>所有服务评价：</h4>
			<div class="panel panel-info ng-scope table-responsive">
				<table class="table table-bordered table-striped" ng-if="user.evaluations">
			    <tbody>
			    	<tr class="info thead">
			        <th>序号</th>
			        <th>设计师</th>
			        <th>是否匿名评价</th>
			        <th>响应速度</th>
			        <th>服务态度</th>
			        <th>评价内容</th>
			      </tr>
			      <tr ng-repeat="e in user.evaluations">
			        <td scope="row">{{$index+1}}</th>
			        <td>{{e.designer.username}}({{e.designer.phone}})</td>
			        <td>{{e.is_anonymous == 1 ? "匿名" : "实名"}}</td>
			        <td>{{e.respond_speed}} 星</td>
			        <td>{{e.service_attitude}} 星</td>
			        <td>{{e.comment}}</td>
			      </tr>
			    </tbody>
			  </table>
			</div>

			<div class="panel panel-info ng-scope table-responsive">
				<table class="table table-bordered table-striped">
					<tbody>
						<tr class="info thead">
							<th>方案Id</th>
							<th>提交时间</th>
							<th>获取电话时间</th>
							<th>量房时间</th>
							<th>设计师姓名</th>
							<th>设计师电话</th>
							<th>项目经理</th>
							<th>当前状态</th>
							<th>方案查看</th>
						</tr>
						<tr ng-class="{false:'tr-odd'}[$even]" ng-repeat="user in plans">
							<td>{{user._id}}</td>
							<td>{{user.request_date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{user.get_phone_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{user.house_check_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{user.designer.username}}({{user.biaoshi}})</td>
							<td>{{user.designer.phone}}</td>
							<td>{{user.manager}}</td>
							<td>{{user.status | planFilter}}</td>
							<td><a target="_blank" href="{{('/tpl/user/plans.html?pid=' + user._id) | pcUrl}}" class="btns browse">预览方案</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
