<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pivotal Search</title>
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
       <p>title = <%= dec_strategy.title %></p>
       <p>keywords = <%= dec_strategy.keywords %></p>
       <p>cover_imageid = <%= dec_strategy.cover_imageid %></p>
       <p>description = <%= dec_strategy.description %></p>
       <p>content = <%= dec_strategy.content %></p>
       <p>authorid = <%= dec_strategy.authorid %></p>
       <p>usertype = <%= dec_strategy.usertype %></p>
       <p>status = <%= dec_strategy.status %></p>
       <p>create_at = <%= dec_strategy.create_at %></p>
       <p>lastupdate = <%= dec_strategy.lastupdate %></p>
       <p>view_count = <%= dec_strategy.view_count %></p>
</body>
</html>
