.g-banner .g-wp{
	position: relative;
}
.g-banner{
	width: 100%;
	height: 714px;
	background-color: #ccc;
}
.m-user{
	position: absolute;
	top:150px;
	right:150px;
	width: 262px;
	height: 356px;
	padding:32px 24px 0;
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.10);
}
.m-user .head{
	width: 86px;
	height: 86px;
	overflow: hidden;
	margin: 0 auto 30px;
	border-radius: 50%;
	background-color: #fe7004;
}
.m-user .sign-mn{
	width: 262px;
	padding-right: 0;
}
.m-user .sign-mn .item .u-inp{
	width: 205px;
}
.m-user .sign-mn .u-btn{
	padding-top: 5px;
}
.m-user .sign-mn .u-btn .btn{
	width: 262px;
	line-height: 48px;
}
.m-user .sign-mn .other a{
	font-size: 14px;
	text-decoration: none;
	color: #34495c;
}
.m-user .sign-mn .other a:hover{
	color: #fe7004;
}