/*发现设计师首页*/
.g-subad{
	width: 100%;
	height: 434px;
	overflow: hidden;
}
.design-list{
	padding-top: 55px;
}
.design-list .m-filter dl{
	padding-left: 53px;
	line-height: 28px;
	padding-bottom: 20px;
}
.design-list .m-filter dt{
	float: left;
	width: 143px;
	font-size: 18px;
	color: #34495e;
	padding-bottom: 20px;
}
.design-list .m-filter dd{
	float: left;
	font-size: 14px;
}
.design-list .m-filter dd a{
	float: left;
	padding: 0 16px;
	margin-right: 45px;
	line-height: 28px;
	color: #7c8389;
}
.design-list .m-filter dd .current{
	color: #fff;
	background-color: #fe7004;
	border-radius: 4px;
}
.design-list .m-filter dd .current:hover{
	color: #fff;
	text-decoration: none;
}
.design-list .m-sort{
	height: 86px;
	text-align: right;
	background-color: #f6f7f9;
	font-size: 0;
}
.design-list .m-sort a{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	margin: 23px 35px 0;
	text-align: center;
	font-size: 14px;
	color: #7c8389;
}
.design-list .m-sort a span{
	position: absolute;
	top:4px;
	margin-left: 5px;
	display: none;
}
.design-list .m-sort a span i{
	position: absolute;
	left:4px;
	top:10px;
	width: 2px;
	height: 8px;
	background-color: #fff;
}
.design-list .m-sort a span em{
	position: absolute;
	left:0;
	top:18px;
	height:0;
    width:0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-color:#fff transparent transparent transparent;
    border-style:solid dashed dashed dashed;
    border-width:5px;
}
.design-list .m-sort .sort span i{
	position: absolute;
	left:4px;
	top:14px;
	width: 2px;
	height: 8px;
	background-color: #fff;
}
.design-list .m-sort .sort span em{
	position: absolute;
	left:0;
	top:6px;
	height:0;
    width:0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-color:transparent transparent #fff transparent;
    border-style:dashed dashed solid dashed;
    border-width:5px;
}
.design-list .m-sort .current{
	color: #fe7004;
	font-weight: bold;
	color: #fff;
	background-color: #fe7004;
	border-radius: 4px;
}
.design-list .m-sort .current span{
	display: inline-block;
}
.design-list .m-list li{
	padding: 28px 0 50px;
}
.design-list .m-list .info{
	padding-left: 32px;
}
.design-list .m-list .head{
	width: 90px;
	height: 90px;
	margin-left: 9px;
	overflow: hidden;
	border: 3px solid #fff;
	border-radius: 50%;
}
.design-list .m-list .head img{
	width: 100%;
	height: 100%;
}
.design-list .m-list .msg dl{
	float: left;
	width: 56px;
	text-align: center;
	color: #7c8389;
	line-height: 14px;
}
.design-list .m-list .msg dt{
	font-size: 20px;
	line-height: 30px;
	color: #fe7004;
	font-weight: normal;
}
.design-list .m-list .status{
	padding-left: 50px;
	line-height: 36px;
	color: #7c8389;
	font-size: 14px;
}
.design-list .m-list .status strong{
	font-weight: normal;
	margin-right: 25px;
}
.design-list .m-list .status h4{
	font-size: 18px;
	font-weight: normal;
	color: #34495e;
}
.design-list .m-list .status h4 span{
	display: inline-block;
	width: 16px;
	height: 15px;
	overflow: hidden;
	margin-left: 14px;
	vertical-align: middle;
}
.design-list .m-list .status h4 .sex1{
	background-position: 0 -16px;
}
.design-list .m-list .atte{
	width: 118px;
	padding: 1px;
	margin: 5px 0 7px;
	font-size: 14px;
	line-height: 28px;
	color: #7c8389;
}
.design-list .m-list .atte span{
	display: inline-block;
	width: 15px;
	height: 17px;
	overflow: hidden;
	margin-left: 13px;
	margin-top: -5px;
	background-position: 0 -52px;
	vertical-align: middle;
}
.design-list .m-list .atte1{
	padding: 0;
	border: 1px solid #fe7004;
	border-radius: 28px;
	color: #fe7004;
}
.design-list .m-list .atte1 span{
	background-position: 0 -70px;
}
.design-list .m-list .addr .i-icon{
	display: inline-block;
	width: 13px;
	height: 19px;
	overflow: hidden;
	margin-left: 8px;
	vertical-align: middle;
	background-position: 0 -32px;
}
.design-list .m-list .addr span,.design-list .m-list .style span{margin-right: 10px;}
.design-list .m-list .order{
	padding-right: 28px;
	padding-top: 42px;
}
.design-list .m-list .order p{
	font-size: 14px;
	line-height: 20px;
	text-align: right;
	padding-right: 15px;
}
.design-list .m-list .order strong{
	margin-right: 3px;
	font-weight: normal;
	font-size: 20px;
	color: #fe7004;
}
.design-list .m-list .order .btn{
	display: block;
	width: 140px;
	line-height: 48px;
	margin-top: 25px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	background-color: #fe7004;
	border-radius: 8px;
	-webkit-transition:background,top 0.5s;
	-moz-transition:background,top 0.5s;	
	-o-transition:background,top 0.5s;
	transition:background,top 0.5s;
}
.design-list .m-list .order .btn:hover{
	text-decoration: none;
	color: #fff;
	background-color: #fe4504;
}
.design-list .m-list .m-ct{
	padding-top: 20px;
}
.design-list .m-list .works{
	float: left;
	width: 383px;
	height: 285px;
	overflow: hidden;
	margin-left: 25px;
	border-radius: 8px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 11px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 11px rgba(0,0,0,0.15);
}
.design-list .m-list .works:first-child{
	margin-left: 0;
}
.design-list .m-list .works img{
	width: 100%;
	height: 100%;
}
.design-list .m-list .even{
	background-color: #f6f7f9;
}
/*设计师个人主页*/
.home-info{
	width: 100%;
	height: 432px;
	overflow: hidden;
	padding-top: 88px;
	background:url(../img/design/homepage-banne.jpg) center 0 no-repeat;
}
.home-list{
	background-color: #f6f7f9;
}
.home-desc{
	padding: 30px 0 60px;
}
.home-desc dl{
	padding-left: 50px;
	padding-bottom: 12px;
	font-size: 14px;
	line-height: 36px;
	color: #7c8389;
}
.home-desc dt{
	float: left;
	
}
.home-desc dd{
	float: left;
	width: 990px;
	padding-left: 25px;
}
.home-desc dd span{
	margin-right: 20px;
}
.home-desc dd strong{
	font-size: 20px;
	color: #fe7004;
	font-weight: normal;
}
.g-index-live .pic{
	background-color: #dcdcdc;
}
.g-index-live .pic img{
	width: 100%;
}
.g-index-live .txt{
	padding-top: 20px;
}
.g-index-live li{
	height: 465px;
}
.g-index-live li .btn{
	top:470px;
}
.g-index-live p{
	padding:0 20px;
	line-height: 26px;
}
/*设计师作品详情页*/
.design-detail{
	width: 100%;
	min-width: 1200px;
	padding: 108px 0 130px;
	background:url(../img/design/design_detail-bg.jpg) repeat;
}
.design-detail .head{
	width: 90px;
	height: 90px;
	margin:0 auto 54px;
	overflow: hidden;
	border: 3px solid #fff;
	border-radius: 50%;
}
.design-detail .head img{
	width: 100%;
}
.design-detail h2{
	padding-bottom: 40px;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	color: #7c8389;
	font-weight: normal;
}
.design-detail .m-tt p{
	padding-bottom: 20px;
	font-size: 14px;
	line-height: 20px;
	color: #7c8389;
	text-align: center;
}
.design-detail .m-tt p span{
	padding: 0 13px;
}
.design-detail .m-tt p strong{
	font-weight: normal;
	color: #fe7004;
}
.design-detail .m-tt .btn{
	display: block;
	width: 260px;
	line-height: 48px;
	margin:20px auto 0;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background-color: #fe7004;
	border-radius: 8px;
	-webkit-transition:background,top 0.5s;
	-moz-transition:background,top 0.5s;	
	-o-transition:background,top 0.5s;
	transition:background,top 0.5s;
}
.design-detail .m-tt .btn:hover{
	text-decoration: none;
	color: #fff;
	background-color: #fe4504;
}
.design-detail .desc{
	padding-top: 78px;
	padding-left: 38px;
	padding-bottom: 43px;
}
.design-detail .desc h3{
	padding-bottom: 34px;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	color: #7c8389;
}
.design-detail .desc p{
	line-height: 36px;
	font-size: 14px;
	color: #7c8389;
}
.design-detail .list h4{
	line-height: 30px;
	font-size: 16px;
	padding-left: 30px;
	color: #333;
	font-weight: normal;
	padding-bottom: 20px;
}
.design-detail .list p{
	padding: 50px 0 70px;
	line-height: 36px;
	font-size: 14px;
	color: #7c8389;
	text-indent: 2em;
}