/*公共模块*/
.g-item{
	padding-top: 60px;
}
.g-item .m-tt{
	position: relative;
	width: 400px;
	height: 72px;
	padding-bottom: 50px;
	margin: 0 auto;
	line-height: 72px;
	text-align: center;
}
.g-item .m-tt a{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 24px;
	font-weight: bold;
	color: #383d48;
	background-color: #fff;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.g-item .m-tt:after,.g-item .m-tt:before{
	display: block;
	position: absolute;
	top:37px;
	content: "";
	width: 368px;
	height: 1px;
}
.g-item .m-tt:before{
	left:-370px;
	background: #dbdbdb;
}
:root .g-item .m-tt:before{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmRiZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #ffffff 0%, #dbdbdb 100%);
	background: -webkit-linear-gradient(left,  #ffffff 0%,#dbdbdb 100%);
	background: linear-gradient(to right,  #ffffff 0%,#dbdbdb 100%);
}
.g-item .m-tt:after{
	left:402px;
	background: #dbdbdb;
}
:root .g-item .m-tt:after{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  #dbdbdb 0%, #ffffff 99%);
	background: -webkit-linear-gradient(left,  #dbdbdb 0%,#ffffff 99%);
	background: linear-gradient(to right,  #dbdbdb 0%,#ffffff 99%);
}
.g-item .m-tt strong{
	position: absolute;
	left:0;
	top:8px;
	width: 100%;
	height: 56px;
	line-height: 56px;
	background-color: #fff;
}
.g-item .m-tt span,.g-item .m-tt span:before{
	position: absolute;
	top:0;
	left:50%;
	width: 122px;
	height: 70px;
	margin-left: -62px;
}
.g-item .m-tt span{
	border: 1px solid #ccc;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: border;
	transition-property: border;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.g-item .m-tt span:before{
	top:-1px;
	border: 1px solid #fe7004;
	content: "";
	z-index: -1;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	-moz-transform-origin: 50%;
	-ms-transform-origin: 50%;
	-o-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition:transform 0.3s ease-out;
	-moz-transition:transform 0.3s ease-out;
	-ms-transition:transform 0.3s ease-out;
	-o-transition:transform 0.3s ease-out;
	transition:transform 0.3s ease-out;
	display: none\9;
}
.g-item .m-tt a:hover{
	color: #fe7004;
}
.g-item .m-tt a:hover span:before{
	display: block;
	z-index:0;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
/*banner*/
.g-banner{
	height: 660px;
	overflow: hidden;
	background-color: #f9f9f9;
}
.g-banner ul{
	position: relative;
	width: 100%;
	height: 580px;
	overflow: hidden;
}
.g-banner ul li{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}
.g-banner ul li img{
	position: relative;
	left:50%;
	margin-left: -960px;
}
.g-banner ul li.default{
	z-index: 10;
	opacity: 1;
	filter: alpha(opacity=100);
}
.g-banner ol{
	height: 80px;
}
.g-banner ol li{
	position: relative;
	float: left;
	width: 274px;
	height: 80px;
	padding-left: 126px;
	cursor: pointer;
}
.g-banner ol li i{
	position: absolute;
	width: 46px;
	height: 46px;
}
.g-banner ol li h4{
	padding-top: 14px;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #383d48;
}
.g-banner ol li p{
	font-size: 14px;
	line-height: 18px;
	color: #61687a;
}
.g-banner ol li.active h4,.g-banner ol li.active p{
	color: #fff;
}
.g-banner ol li i{
	position: absolute;
	left:60px;
	top:17px;
	width: 46px;
	height: 46px;
	background:url(../img/index/banner-sprite.png) 0 0 no-repeat;
}
.g-banner ol li.two i{
	background-position: -63px 0;
}
.g-banner ol li.three i{
	background-position: -126px 0;
}
.g-banner ol li.one.active{
	background-color: #3d7fc0;
}
.g-banner ol li.two.active{
	background-color: #ffa400;
}
.g-banner ol li.three.active{
	background-color: #d32000;
}
.g-banner ol li.one.active i{
	background-position: 0 -58px;
}
.g-banner ol li.two.active i{
	background-position: -63px -58px;
}
.g-banner ol li.three.active i{
	background-position: -126px -58px;
}
/*大数据*/
.g-designers .m-ct{

}
.g-designers .m-info{
	height: 285px;
	padding-bottom: 40px;
}
.g-designers .m-info li{
	float: left;
	width: 260px;
	padding: 0 70px;
	text-align: center;
}
.g-designers .m-info li .u-icon{
	position: relative;
	height: 180px;
}
.g-designers .m-info li .u-icon div{
	position: absolute;
	background:url(../img/index/designers-sprite.png) no-repeat;
}
.g-designers .m-info li .u-icon .shadow{
	top:121px;
	left:50%;
	width: 76px;
	height: 6px;
	margin-left: -38px;
	background-position: -163px -153px;
}
.g-designers .m-info li .u-icon .base{
	top:100px;
	left:50%;
	width: 141px;
	height: 60px;
	margin-left: -70px;
	background-position: -133px -181px;
}
.g-designers .m-info li:hover .u-icon .icon{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
@-webkit-keyframes bounceIn {
    0%,100%,20%,40%,60%,80% {
        -webkit-animation-timing-function: cubic-bezier(0.215,.61,.355,1);
        animation-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        -webkit-transform: scale(.3);
    }

    20% {
        -webkit-transform: scale(1.1);
    }

    40% {
        -webkit-transform: scale(.9);
    }

    60% {
        -webkit-transform: scale(1.03);
    }

    80% {
        -webkit-transform: scale(.97);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounceIn {
    0%,100%,20%,40%,60%,80% {
        -webkit-animation-timing-function: cubic-bezier(0.215,.61,.355,1);
        animation-timing-function: cubic-bezier(0.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3,.3,.3);
        transform: scale3d(.3,.3,.3)
    }

    20% {
        -webkit-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1)
    }

    40% {
        -webkit-transform: scale3d(.9,.9,.9);
        transform: scale3d(.9,.9,.9)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03,1.03,1.03);
        transform: scale3d(1.03,1.03,1.03)
    }

    80% {
        -webkit-transform: scale3d(.97,.97,.97);
        transform: scale3d(.97,.97,.97)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}
.g-designers .m-info li:hover .u-icon .shadow{
	-webkit-animation-name: bounceIn;
}

.g-designers .m-info li .u-icon .icon1{
	top:0;
	left:50%;
	width: 112px;
	height: 113px;
	margin-left: -56px;
	background-position: 0 0;
}
.g-designers .m-info li .u-icon .icon2{
	top:0;
	left:56px;
	width: 165px;
	height: 116px;
	background-position: -121px 0;
}
.g-designers .m-info li .u-icon .icon3{
	top:0;
	left:50%;
	width: 112px;
	height: 113px;
	margin-left: -56px;
	background-position: 0 -124px;
}
.g-designers .m-info li h4{
	font-size: 18px;
	line-height: 36px;
	font-weight: bold;
	color: #383d48;
}
.g-designers .m-info li p{
	padding: 2px 35px 0;
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	color: #999;
}
.g-designers .m-list{
	height: 140px;
	padding-left: 60px;
}
.g-designers .m-list li{
	float: left;
	width: 140px;
	height: 140px;
	margin: 0 20px;
	cursor: pointer;
}
.g-designers .m-list li a{
	display: block;
	position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 140px;
    -moz-perspective: 400px;
    -webkit-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.g-designers .m-list li img {
	width: 140px;
	height: 140px;
	border-radius: 140px;
	-webkit-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
.g-designers .m-list li span{
	position: absolute;
	left:0;
	top:0;
	width: 140px;
	height: 0;
	overflow: hidden;
	padding-top: 140px;
	font-size: 18px;
	line-height: 140px;
	text-align: center;
	color: #fff;
	background-color:#fe7004;
	border-radius: 140px;
	filter: alpha(opacity=0);
	background-color:rgba(254,112,4,0);
	-webkit-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.g-designers .m-list li:hover a{
	-webkit-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.g-designers .m-list li:hover a span{
	padding: 0;
	height: 140px;
	filter: alpha(opacity=90);
	background-color:rgba(254,112,4,0.9);
}
:root .g-designers .m-list li span,:root .g-designers .m-list li:hover span{
	filter:none;
}
.g-designers .m-list li.current a{
	-webkit-transform: rotateY(720deg);
	-o-transform: rotateY(720deg);
    transform: rotateY(720deg);
}
.g-designers .m-list li:hover{

}
.g-designers .m-more{
	padding-top: 40px;
}
.g-designers .m-more a{
	display: inline-block;
	padding:0 20px;
	font-size: 14px;
	line-height: 30px;
	color: #fe7004;
	border: 1px solid #fe7004;
	border-radius: 30px;
}
.g-designers .m-more a:hover{
	color: #fff;
	background-color: #fe7004;
}
/*装修保障*/
.g-protect .m-ct{
	height: 196px;	
} 
.g-protect ul{
}
.g-protect li{
	float: left;
	width: 166px;
	height: 196px;
	margin: 0 37px;
	text-align: center;
	background:url(../img/index/protect-sprite.png) 0 0 no-repeat;
}
.g-protect li h4{
	font-size: 18px;
	line-height: 50px;
	font-weight: bold;
	color: #383d48;
}
.g-protect li p{
	height: 55px;
	padding-top: 46px;
}
.g-protect li p i{
	display: inline-block;
	width: 55px;
	height: 55px;
	background:url(../img/index/protect-sprite.png) 0 -221px no-repeat;
}
.g-protect li p i.icon2{
	width: 59px;
	background-position: -61px -221px;
}
.g-protect li p i.icon3{
	width: 50px;
	background-position: -132px -221px;
}
.g-protect li p i.icon4{
	width: 50px;
	background-position: -193px -221px;
}
.g-protect li p i.icon5{
	width: 42px;
	background-position: -252px -221px;
}
/*三方监理*/
.g-supervise .m-ct{
	height: 386px;
}
.g-supervise ul{
	width: 960px;
	margin: 0 auto;	
}
.g-supervise li{
	float: left;
	width: 322px;
	height: 348px;
	border: 1px solid #e5e5e5;
	text-align: center;
	margin-top: 16px;
	margin-left: -6px;
	background-color: #fff;
}
.g-supervise li h4{
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 55px;
	font-weight: bold;
	color: #383d48;
	background-color: #e5e5e5;
}
.g-supervise li .iconfont{
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	font-size: 40px;
	line-height: 60px;
}
.g-supervise li p{
	font-size: 14px;
	line-height: 28px;
	color: #383d48;
}
.g-supervise li a{
	display: inline-block;
	width: 170px;
	margin-top: 30px;
	font-size: 14px;
	line-height: 38px;
	color: #fe7004;
	border: 1px solid #fe7004;
	border-radius: 38px;
}
.g-supervise li a:hover{
	color: #fff;
	background-color: #fe7004;
}
.g-supervise li.active{
	position: relative;
	z-index: 1;
	width: 320px;
	height: 382px;
	margin: 0;
	border: 2px solid #fe7004;
}
.g-supervise li.active h4{
	margin-bottom: 30px;
	color: #fff;
	background-color: #fe7004;
}
.g-supervise li.active .iconfont{
	font-size: 60px;
	line-height: 80px;
}
.g-supervise li.active a{
	margin-top: 40px;
	color: #fff;
	background-color: #fe7004;
}
.g-supervise li.active a:hover{
	border-color: #fe5c04;
	background-color: #fe5c04;
}
.g-supervise li.first{
	margin-left: 0;
	margin-right: -6px;
	background-color: #f9f9f9;
}
.g-supervise li.first h4{
	width: 184px;
	padding-top: 66px;
	padding-left: 69px;
	margin-bottom: 19px;
	background: none;
}
.g-supervise li.first p{
	width: 184px;
	padding-left: 69px;
	line-height: 20px;
	text-align: left;
	color: #616879;
}
/*装修美图*/
.g-mito .m-ct{
	height: 380px;
}
.g-mito li{
	float: left;
	width: 395px;
	height: 380px;
}
.g-mito li.center{
	width: 390px;
	margin:0 10px;
}
.g-mito li a{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.g-mito li a img{
	width: 100%;
	min-height: 100%;
}
.g-mito li span{
	position: absolute;
	left:0;
	bottom: 0;
	width: 100%;
	height: 42px;
	padding-top: 16px;
	font-size: 14px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	background: url(../img/index/index-toggle-btn.png) repeat-x 0 -90px;
}
.g-mito li a:hover img{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
:root .g-mito li a span{
	background: none;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.45) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.45) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.45) 100%);	
}
.g-mito li.center a{
	height: 185px;
}
.g-mito li.center a:first-child{
	margin-bottom: 10px;
}
/*装修直播*/
.g-live{

}
.g-live .m-live{
	position: relative;
	width: 895px;
	height: 385px;
}
.g-live .m-live .live{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.g-live .m-live ul{
	position: absolute;
	left:0;
	top:0;
	width: 2000px;
}
.g-live .m-live li{
	position: relative;
	float: left;
	width: 285px;
	height: 385px;
	margin-right: 20px;
}
.g-live .m-live li .img{
	display: block;
	width: 285px;
	height: 262px;
	overflow: hidden;
	border-radius: 2px 2px 0 0;
}
.g-live .m-live li .img img{
	width: 100%;
	min-height: 100%;
}
.g-live .m-live li .txt{
	height: 122px;
	text-align: center;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-top: none;
	border-radius:0 0 2px 2px;
}
.g-live .m-live li .txt h4{
	padding-top: 50px;
	line-height: 35px;
}
.g-live .m-live li .txt h4 a{
	font-size: 14px;
	font-weight: bold;
	color: #383d48;
}
.g-live .m-live li .txt h4 a:hover{
	color: #fe7004;
}
.g-live .m-live li .txt p{
	font-size: 14px;
	color: 999px;
}
.g-live .m-live li .txt p i{
	font-size: 12px;
	margin: 0 13px;
	color: #e5e5e5;
}
.g-live .m-live li .head{
	position: absolute;
	left:50%;
	top:220px;
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin-left: -42px;
	border: 2px solid #fff;
	border-radius: 80px;
	-webkit-transition:border 0.5s;
	-moz-transition:border 0.5s;	
	-ms-transition:border 0.5s;	
	-o-transition:border 0.5s;
	transition:border 0.5s;
}
.g-live .m-live li .head img{
	width: 100%;
}
.g-live .m-live li .head:hover{
	border-color: #fe7004;
}
.g-live .m-live .toggle a{
	position: absolute;
	top:50%;
	left:0;
	width: 26px;
	height: 45px;
	margin-top: -22px;
	background: url(../img/index/index-toggle-btn.png) no-repeat 0 0;
}
.g-live .m-live .toggle a:hover{
	background-position: 0 -45px;
}
.g-live .m-live .toggle a.next{
	left:auto;
	right: 0;
	background-position: -26px 0;
}
.g-live .m-live .toggle a.next:hover{
	background-position: -26px -45px;
}
.g-live .m-site{
	width: 283px;
	height: 383px;
	font-size: 14px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
}
.g-live .m-site h4{
	margin-bottom: 20px;
	line-height: 49px;
	padding-left: 19px;
	color: #383d48;
	border-bottom: 1px solid #e5e5e5;
}
.g-live .m-site .site{
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.g-live .m-site ul{
	position: absolute;
	left:0;
	top:0;
}
.g-live .m-site li{
	height: 30px;
	padding: 0 19px;
	line-height: 30px;
	vertical-align: middle;
}
.g-live .m-site li span{
	float: left;
}
.g-live .m-site li span.name{
	width: 80px;
}
.g-live .m-site li span.area{
	width: 85px;
	text-align: center;
}
.g-live .m-site li span.size{
	width: 80px;
	text-align: right;
}
/*装修攻略*/
.g-raiders .m-ct{
	height: 410px;
}
.g-raiders dl{
	height: 200px;
}
.g-raiders dt{
	position: relative;
	float: left;
	width: 140px;
	height: 100%;	
	background-color: #04bafe;
}
.g-raiders dt .angle{
	position: absolute;
	top:0;
	right:0;
	width: 16px;
	height: 16px;
	overflow: hidden;
}
.g-raiders dt .angle span{
	position: absolute;
	left:0;
	top:0;
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 16px;
	border-color: transparent;
	border-style: dashed;
}
.g-raiders dt span.white{
	border-top-style: solid;
	border-top-color: #fff;
}
.g-raiders dt span.other{
	left: -16px;
	top: -16px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.g-raiders dt h4{
	font-size: 18px;
	line-height: 200px;
	text-align: center;
	color: #fff;
}
.g-raiders dd{
	float: left;
}
.g-raiders dd a{
	position: relative;
	float: left;
	width: 212px;
	height: 200px;
	overflow: hidden;
	background-color: #ccc;
}
.g-raiders dd a img{
	width: 100%;
	min-height: 100%;
}
.g-raiders dd a span{
	position: absolute;
	left:0;
	bottom: 0;
	width: 180px;
	height: 42px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
	overflow: hidden;
	padding: 16px 16px 0;
	font-size: 14px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	background: url(../img/index/index-toggle-btn.png) repeat-x 0 -90px;
}
.g-raiders dd a:hover img{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
:root .g-raiders dd a span{
	background: none;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.45) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.45) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.45) 100%);	
}
.g-raiders dl:first-child{
	margin-bottom: 10px;
}
.g-raiders dl:first-child dt{
	background-color: #ff4a4a;
}
/*装修步骤*/
.g-steps .m-ct{
	padding-bottom: 90px;
}
.g-steps .m-ct ul{
	padding-left: 44px;
	height: 185px;
}
.g-steps .m-ct li{
	position: relative;
	float: left;
	width: 189px;
	height: 185px;
}
.g-steps .m-ct a{
	position: absolute;
	left:0;
	top:0;
	z-index: 1;
	width: 167px;
	height: 135px;
	padding-top: 50px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background:url(../img/index/steps-sprite.png) 0 0 no-repeat;
}
.g-steps .m-ct a .iconfont{
	display: inline-block;
	width: 100%;
	line-height: 60px;
	font-size: 40px;
}
.g-steps .m-ct a:hover{
	color: #fe7004;
	background-position:-173px 0;
}
.g-steps .join{
	position: relative;
	width: 185px;
	height: 185px;
	margin-left: 84px;
}
.g-steps .join span{
	position: absolute;
	background:url(../img/index/steps-sprite.png) 0 0 no-repeat;
}
.g-steps span.arc{
	top:7px;
	left:40px;
	width: 106px;
	height: 15px;
	background-position: 0 -237px;
}
.g-steps span.circle{
	top:158px;
	left:84px;
	width: 24px;
	height: 24px;
	background-position: 0 -200px\9;
}
.g-steps span.dot{
	top:4px;
	left:92px;
	width: 7px;
	height: 7px;
	background-position: 0 -273px\9;
}
:root .g-steps span.circle{
	background: none;
	border: 1px solid #ffd5a0;
	border-radius: 24px;
}
:root .g-steps span.dot{
	background: none;
	background-color: #e2dede;
	border-radius: 7px;
	-webkit-transform-origin:0 90px;
	-moz-transform-origin:0 90px;
	-ms-transform-origin:0 90px;
	-o-transform-origin:0 90px;
	transform-origin:0 90px;
	-webkit-animation: dotRotateLeft 5s linear infinite;
     -moz-animation: dotRotateLeft 5s linear infinite;
    -ms-animation: dotRotateLeft 5s linear infinite;
    -o-animation: dotRotateLeft 5s linear infinite;
    animation: dotRotateLeft 5s linear infinite; 
}
.g-steps .even span.arc{
	background-position: -119px -246px;
	top:163px;
}
.g-steps .even span.circle{
	top:4px;
}
.g-steps .even span.dot{
	top:174px;
	-webkit-transform-origin:0 -90px;
	-moz-transform-origin:0 -90px;
	-ms-transform-origin:0 -90px;
	-o-transform-origin:0 -90px;
	transform-origin:0 -90px;
	-webkit-animation: dotRotateRight 5s linear 2.5s infinite;
    -moz-animation: dotRotateRight 5s linear 2.5s infinite;
    -ms-animation: dotRotateRight 5s linear 2.5s infinite;
    -o-animation: dotRotateRight 5s linear 2.5s infinite;
    animation: dotRotateRight 5s linear 2.5s infinite;
}
@-webkit-keyframes dotRotateLeft {
    from { -webkit-transform: rotateZ(0deg); opacity: 1;}
    25% { -webkit-transform: rotateZ(90deg); opacity: 0;}
    50% { -webkit-transform: rotateZ(180deg); opacity: 0;}
    75% { -webkit-transform: rotateZ(270deg); opacity: 0;}
    to { -webkit-transform: rotateZ(320deg); opacity: 1;}
}
@-moz-keyframes dotRotateLeft {
    from { -moz-transform: rotateZ(0deg); opacity: 1;}
    25% { -moz-transform: rotateZ(90deg); opacity: 0;}
    50% { -moz-transform: rotateZ(180deg); opacity: 0;}
    75% { -moz-transform: rotateZ(270deg); opacity: 0;}
    to { -moz-transform: rotateZ(360deg); opacity: 1;}
}
@-ms-keyframes dotRotateLeft {
    from { -ms-transform: rotateZ(0deg); opacity: 1;}
    25% { -ms-transform: rotateZ(90deg); opacity: 0;}
    50% { -ms-transform: rotateZ(180deg); opacity: 0;}
    75% { -ms-transform: rotateZ(270deg); opacity: 0;}
    to { -ms-transform: rotateZ(360deg); opacity: 1;}
}
@-o-keyframes dotRotateLeft {
    from { -o-transform: rotateZ(0deg); opacity: 1;}
    25% { -o-transform: rotateZ(90deg); opacity: 0;}
    50% { -o-transform: rotateZ(180deg); opacity: 0;}
    75% { -o-transform: rotateZ(270deg); opacity: 0;}
    to { -o-transform: rotateZ(360deg); opacity: 1;}
}
@keyframes dotRotateLeft {
    from { transform: rotateZ(0deg); opacity: 1;}
    25% { transform: rotateZ(90deg); opacity: 0;}
    50% { transform: rotateZ(180deg); opacity: 0;}
    75% { transform: rotateZ(270deg); opacity: 0;}
    to { transform: rotateZ(360deg); opacity: 1;}
}
@-webkit-keyframes dotRotateRight {
    from { -webkit-transform: rotateZ(0deg); opacity: 1;}
    25% { -webkit-transform: rotateZ(-90deg); opacity: 0;}
    50% { -webkit-transform: rotateZ(-180deg); opacity: 0;}
    75% { -webkit-transform: rotateZ(-270deg); opacity: 0;}
    to { -webkit-transform: rotateZ(-360deg); opacity: 1;}
}
@-moz-keyframes dotRotateRight {
    from { -moz-transform: rotateZ(0deg); opacity: 1;}
    25% { -moz-transform: rotateZ(-90deg); opacity: 0;}
    50% { -moz-transform: rotateZ(-180deg); opacity: 0;}
    75% { -moz-transform: rotateZ(-270deg); opacity: 0;}
    to { -moz-transform: rotateZ(-360deg); opacity: 1;}
}
@-ms-keyframes dotRotateRight {
    from { -ms-transform: rotateZ(0deg); opacity: 1;}
    25% { -ms-transform: rotateZ(-90deg); opacity: 0;}
    50% { -ms-transform: rotateZ(-180deg); opacity: 0;}
    75% { -ms-transform: rotateZ(-270deg); opacity: 0;}
    to { -ms-transform: rotateZ(-360deg); opacity: 1;}
}
@-o-keyframes dotRotateRight {
    from { -o-transform: rotateZ(0deg); opacity: 1;}
    25% { -o-transform: rotateZ(-90deg); opacity: 0;}
    50% { -o-transform: rotateZ(-180deg); opacity: 0;}
    75% { -o-transform: rotateZ(-270deg); opacity: 0;}
    to { -o-transform: rotateZ(-360deg); opacity: 1;}
}
@keyframes dotRotateRight {
    from { transform: rotateZ(0deg); opacity: 1;}
    25% { transform: rotateZ(-90deg); opacity: 0;}
    50% { transform: rotateZ(-180deg); opacity: 0;}
    75% { transform: rotateZ(-270deg); opacity: 0;}
    to { transform: rotateZ(-360deg); opacity: 1;}
}
/*友情链接*/
.g-links{
	padding-bottom: 60px;
}
.g-links div{
	position: relative;
	border: 1px solid #e5e5e5;
}
.g-links h4{
	position: absolute;
	left:10px;
	top:-15px;
	padding: 0 10px;
	line-height: 30px;
	font-size: 14px;
	color: #383d48;
	background-color: #fff;
}
.g-links p{
	padding: 20px 19px;
	font-size: 0;
	line-height: 24px;
}
.g-links p a{
	display: inline-block;
	margin-right: 20px;
	white-space:nowrap;
	word-break: break-all; 
	font-size: 14px;
	color: #999;
}
.g-links p a:hover{
	color: #333;
}