.g-banner1{
	height: 4483px;
	background:url(../../static/img/merit/merit01.jpg) center 0 no-repeat;
}
.g-banner2{
	height: 5484px;
	background:url(../../static/img/merit/merit02.jpg) center 0 no-repeat;
}
.g-banner3{
	height: 5489px;
	background:url(../../static/img/merit/merit03.jpg) center 0 no-repeat;
}
.tabNav{
	height: 100px;
}
.tabNav li{
	float: left;
	width: 33.33%;
	height: 100%;
}
.tabNav li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
