html,body{
	width: 100%;
	height: 100%;
}
body{
	position: relative;
	background: #1997db url(../img/merit/bg.jpg) center center no-repeat;
	color: #fff;
}
.loading{
	position: absolute;
	left:50%;
	top:50%;
    height: 200px;
}
@-webkit-keyframes triangle-skew-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
            transform: perspective(100px) rotateX(180deg) rotateY(0); }

  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
            transform: perspective(100px) rotateX(180deg) rotateY(180deg); }

  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
            transform: perspective(100px) rotateX(0) rotateY(180deg); }

  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
            transform: perspective(100px) rotateX(0) rotateY(0); } 
}
@keyframes triangle-skew-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
            transform: perspective(100px) rotateX(180deg) rotateY(0); }

  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
            transform: perspective(100px) rotateX(180deg) rotateY(180deg); }

  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
            transform: perspective(100px) rotateX(0) rotateY(180deg); }

  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
            transform: perspective(100px) rotateX(0) rotateY(0); }
}
.loading .in{
	position: relative;
	width: 52px;
	height: 46px;
	background:url(../img/merit/loading.png) no-repeat;
	-webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: triangle-skew-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
    animation: triangle-skew-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
}
.loading p{
	font-size: 14px;
	line-height: 66px;
}
.loading .in div{
	display: none;
}
:root .loading .in div{
	background: none;
	display: block;
}
.loading .in .dot{
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #fff;
}
.loading .in .dot:after{
	content:"";
	position: absolute;
	width: 44px;
	height: 2px;
	background-color: #fff;
}
.loading .in .dot1{
	left:50%;
	top:0;
	margin-left: -5px;
}
.loading .in .dot1:after{
	left: -26px;
    top: 20px;
    -webkit-transform: rotate(-240deg);
    -ms-transform: rotate(-240deg);
    -o-transform: rotate(-240deg);
    transform: rotate(-240deg);
}
.loading .in .dot3:after{
	top: -17px;
    left: -29px;
    -webkit-transform: rotate(-121deg);
    -ms-transform: rotate(-121deg);
    -o-transform: rotate(-121deg);
    transform: rotate(-121deg);
}
.loading .in .dot2:after{
	left:3px;
	top:3px;
}
.loading .in .dot2{
	left:0;
	bottom:0;
}
.loading .in .dot3{
	right:0;
	bottom:0;
}
.sidenav{
	position: fixed;
	right: 0;
	top: 0;
	width: 67px;
	height: 100%;
}
.sidenav .line{
	height: 100%;
	border-left: 1px dashed #b4b4b6;
}
.sidenav ul{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
}
.sidenav ul li p{
	position: absolute;
	width: 26px;
	padding: 14px 0;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}
.sidenav ul li:hover{

}
.g-tb{
	position: absolute;
	left:0;
	top:0;
	z-index: 90;
	background-color: #fff;
}
.index{
	color: #61687a;
}
.index:hover{
	color: #fe7004;
}
.content{
	position: relative;
	height: 100%;
}
.section{
	position: absolute;
	left:50%;
	top:50%;
}
.section1{
	width: 630px;
	height: 443px;
	margin-left: -315px;
	margin-top: -221px;
	background:url(../img/merit/screen1-bg.png) 41px 64px no-repeat;
}
.section1 h2{
	font-size: 100px;
	line-height: 443px;
	font-weight: bold;
	text-align: center;
	text-shadow:0 0 15px rgba(0,0,0,.6);
}
.section1 .adv{
	position: absolute;
	width: 180px;
	font-size: 30px;
	line-height: 70px;
	text-align: center;
}
.section1 .adv1{
	top:0;
	left: -30px;
}
.section1 .adv2{
	right: -30px;
    top: 20px;
}
.section1 .adv3{
	bottom: -70px;
	left:210px;
}