/*装修美图*/
body{
	background-color: #ebeced;
}
.g-bd{
	padding: 20px 0 50px;
}
.g-sd{
	width: 260px;
}
.g-sd .section .m-tt{
	padding-left: 19px;
	font-size: 16px;
	line-height: 58px;
	color: #383d48;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.g-sd .featured .m-ct li{
	position: relative;
	width: 258px;
	height: 258px;
	overflow: hidden;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.g-sd .featured .m-ct li:first-child{
	border-top: none;
}
.g-sd .featured .m-ct .arrow{
	position: absolute;
	right: -40px;
	top:0;
	width: 40px;
	height: 40px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}
.g-sd .featured .m-ct .arrow em{
	position: absolute;
	left:0;
	top:0;
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 40px;
	border-color: transparent;
	border-style: dashed;
	border-top-style: solid;
	border-top-color: #ff4a4a;
}
.g-sd .featured .m-ct .arrow i{
	position: absolute;
	left: 8px;
	top: -8px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fffdf6;
}
.g-sd .featured .m-ct li:hover .arrow{
	right: 0;
	opacity: 1;
	filter: alpha(opacity=100);
}
.g-sd .featured .m-ct li .txt{
	position: absolute;
	left:0;
	bottom: 0;
	width: 100%;
	height: 58px;
	font-size: 18px;
	line-height: 58px;
	text-align: center;
	color: #fff;
	background: url(../img/index/index-toggle-btn.png) repeat-x 0 -90px;
}
:root .g-sd .featured .m-ct li .txt{
	background: none;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.45) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.45) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.45) 100%);	
}
.g-sd .raiders .m-ct{

	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.g-mn{
	width: 920px;
}
.m-sch-info{
	position: relative;
	padding-left: 30px;
	line-height: 38px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.m-sch-info strong{
	font-size: 14px;
	font-weight: normal;
	color: #61687a;
}
.m-sch-info .f-st{
	margin: 0 10px;
}
.m-sch-info .tags{
	display: inline-block;
	padding: 0 10px 0 8px;
	font-size: 14px;
	line-height: 24px;
	color: #fe7004;
	cursor: pointer;
	border: 1px solid #fe7004;
	border-radius: 2px;
}
.m-sch-info .tags i{
	padding-left: 20px;
}
.m-sch-info .result{
	margin-left: 20px;
	font-size: 14px;
	color: #999;	
}
.m-sch-info .result i{
	color: #fe7004;
}
.m-sch-info .tips{
	position: absolute;
	top:0;
	right: 40px;
	font-size: 14px;
	line-height: 38px;
	color: #61687a;
}
.m-sort{
	width: 100%;
	height: 38px;
	overflow: hidden;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
}
.m-sort strong{
	float: left;
	padding: 0 31px;
	margin-left: -1px;
	font-size: 14px;
	font-weight: normal;
	line-height: 38px;
	color: #999;
	cursor: pointer;
}
.m-sort strong.current{
	padding: 0 30px;
	color: #61687a;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background-color: #fff;
} 
.m-sort a{
	float: left;
	padding: 0 31px;
	margin-left: -1px;
	font-size: 14px;
	line-height: 38px;
	color: #999;
}
.m-sort a:hover{
	color: #61687a;
}
.m-sort a i{
	display: none;
}
.m-sort a.current{
	padding: 0 30px;
	color: #61687a;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background-color: #fff;
}
.m-sort a.current .desc,.m-sort a.current.sort .asc{
	display: inline-block;
}
.m-sort a.current.sort .desc{
	display: none;
}
.m-filter{
	width: 100%;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.m-filter .list{
	float: left;
	width: 1146px;
	height: 18px;
	padding: 10px 0;
	overflow: hidden;
	border-right: 1px solid #e5e5e5;
}
.m-filter .btns{
	float: right;
	width: 50px;
	height: 38px;
	background-color: #fff;
}
.m-filter .more-btn{
	position: relative;
	display: block;
	height: 100%;
}
.m-filter .more-btn span,.m-filter .more-btn i{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	margin-left: -6px;
	margin-top: -3px;
	overflow: hidden;
	border-width: 6px;
	border-color: transparent;
	border-style: dashed;
	border-top-style: solid;
	border-top-color: #d2d2d2;
}
.m-filter .more-btn i{
	margin-top: -5px;
	border-top-color: #fff;
}
.m-filter dl{
	float: left;
	width: 164px;
	height: 18px;
	overflow: hidden;
	line-height: 18px;
	border-left: 1px solid #eee;
}
.m-filter dl:first-child{
	border-left: none;
}
.m-filter dl dt{
	float: left;
	padding-left: 30px;
	font-size: 14px;
	color: #61687a;
}
.m-filter dl dd{
	float: left;
	width: 70px;
	padding-left: 5px;
}
.m-filter dl dd a{
	float: left;
	font-size: 14px;
	padding: 0 15px;
	color: #999;
	margin-bottom: 10px;
}
.m-filter.toggle .list{
	float: none;
	width: 100%;
	padding: 0;
	height: auto;
	border: none;
}
.m-filter.toggle dl{
	float: none;
	width: 100%;
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #f4f4f4;
}
.m-filter.toggle dl dd{
	width: auto;
}
.m-filter.toggle .current{
	color: #fe7004;
}
.m-filter.toggle .btns{
	float: none;
	width: 100%;
	height: 20px;
}
.m-filter.toggle .more-btn span,.m-filter.toggle .more-btn i{
	margin-top: -8px;
	border-color: transparent;
	border-style: dashed;
	border-bottom-style: solid;
	border-bottom-color: #d2d2d2;
}
.m-filter.toggle .more-btn i{
	margin-top: -6px;
	border-bottom-color: #fff;
}
.m-content .m-list{
	position: relative;
}
.m-content .m-list li{
	position: absolute;
}
.m-content .m-list li .box{
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.m-content .m-list .img{
	display: block;
	width: 100%;
}
.m-content .m-list .img:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.m-content .m-list .txt{
	padding: 7px 20px 0;
	height: 61px;
}
.m-content .m-list .txt h4 a{
	display: block;
	width: 100%;
	height: 32px;
	overflow: hidden;
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
	color: #383d48;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.m-content .m-list .txt h4 a:hover{
	color: #fe7004;
}
.m-content .m-list .txt p{
	height: 12px;
}
.m-content .m-list .txt p span{
	float: left;
	padding: 0 10px;
	font-size: 12px;
	line-height: 12px;
	color: #999;
	border-left: 1px solid #eee;
}
.m-content .m-list .txt p span:first-child{
	padding-left: 0;
	border-left: none;
}
.m-content .m-list .shadow{
	height: 4px;
	margin: 0 3px;
}
.m-content .m-list .shadow div{
	height: 1px;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-top: none;
}
.m-content .m-list .shadow div.two{
	margin: 0 3px;
}
/* 美图详情 */
body,html,.g-detail{
	width:100%;
	height: 100%;
}
.g-detail{
	overflow: hidden;
}
.g-mn{
	float:left;
	width:100%;
	height: 100%;
}
.g-mn .m-mn{
	margin:46px 420px 46px 20px;
	background:url(../img/user/loading.gif) center center no-repeat;
}
.g-mn .m-mn .img{
	width: 100%;
	height: 100%;
	text-align: center;
}
.g-mn .m-mn .img img{
	height: 100%;
}
.g-sd{
	position:relative;
	right: -400px;
	float:right;
	width:399px;
	height: 100%;
	margin-left:-400px;
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
}
.g-sd .related{
	position: absolute;
	top:58%;
	left:29px;
}
.g-sd .related h3{
	font-size: 14px;
	line-height: 55px;
	color: #999;
} 
.g-sd .related li{
	float: left;
	width: 106px;
	height: 106px;
	padding:0 10px 10px 0;
}
.g-sd .related li a{
	display: block;
	width: 100%;
	height: 106px;
	overflow: hidden;
	background:url(../img/user/loading.gif) center center no-repeat;
}
.g-sd .related li a:hover{
	border: 3px solid #fe7004;
	width: 100px;
	height: 100px;
}
.g-sd .related li a img{
	width: 100%;
	min-height: 100%;
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
}
.g-sd .info{
	position: relative;
	height: 130px;
	padding-left: 125px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.g-sd h2{
	padding-left: 19px;
	font-size: 18px;
	line-height: 132px;
	font-weight: bold;
	color: #383d48;
}
.g-sd .info .head{
	position: absolute;
	left:29px;
	top:30px;
	width: 66px;
	height: 66px;
	overflow: hidden;
	border: 2px solid #e5e5e5;
	border-radius: 66px;
}
.g-sd .info .head img{
	width: 100%;
	min-height: 100%;
}
.g-sd .info dt{
	padding-top: 32px;
	font-size: 16px;
	line-height: 36px;
	color: #383d48;
}
.g-sd .info dd{
	font-size: 14px;
	line-height: 26px;
	color: #999;
}
.g-sd .close{
	position: absolute;
	top:0;
	right: 0;
	width: 50px;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	color: #6c707c;
	background-color: #ebecee;
}
.g-sd .close:hover{
	color: #ff6a6a;
	background-color: #e0e0e0;
}