/*2015-0-10-12 用户中心公共样式*/
body{
	background-color: #ebeced;
}
.g-user{
	padding-bottom: 50px;
}
/*面包屑导航*/
.breadCrumbs{
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	color: #61687a;
}
.breadCrumbs a{
	color: #888;
}
.breadCrumbs a:hover{
	color: #fe7004;
	text-decoration: underline;
}
/*侧边栏导航*/
.g-sd .m-sdc{
	width: 258px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}
.g-sd h2{
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.g-sd h2 a{
	display: block;
	padding-left: 24px;
	font-size: 16px;
	line-height: 64px;
	font-weight: bold;
	color: #383d48;
}
.g-sd .active a{
	color: #fe7004;
	background-color: #f9f9f9;
}
.g-sd a:hover{
	color: #fe7004;	
}
.g-sd dl{
	padding:10px 0;
}
.g-sd dt{
	padding-top: 5px;
	padding-left: 24px;
	font-size: 16px;
	line-height: 38px;
	color: #61687a;
}
.g-sd .line{
	margin:0 24px;
	height: 1px;
	overflow: hidden;
	background-color: #eee;
}
.g-sd dd a{
	display: block;
	padding-left: 24px;
	font-size: 14px;
	line-height: 34px;
	color: #888;
}
.g-mn{
	width: 920px;
}
.g-mn .main{
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}
.g-mn .m-tt{
	height: 65px;
	padding-left: 19px;
	font-size: 16px;
	line-height: 65px;
	color: #383d48;
	border-bottom: 1px solid #eee;
}
/*留言*/
.message{
	margin-bottom: 10px;
	line-height: 48px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}
.message .num{
	display: block;
	width: 68px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #fe7004;
}
.message .more{
	display: block;
	width: 68px;
	font-size: 14px;
	color: #61687a;
	text-align: center;
}
.message .list{
	width: 780px;
	height: 48px;
	overflow: hidden;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
.message .list li{
	padding: 0 20px;
}
.message .list li a{
	display: block;
	font-size: 14px;
	color: #999;
}
.message .list li a:hover{
	color: #fe7004;
	text-decoration: underline;
}
.message .more:hover{
	color: #fe7004;
	background-color: #f9f9f9;
}
.message-more .num,.message-more .more,.message .upper{
	display: none;
}
.message-more .list{
	width: 100%;
	height: auto;
	padding: 10px 0;
	border: none;
}
.message-more .list li a{
	line-height: 26px;
}
.message-more .upper{
	display: block;
	padding-right: 10px;
}
/*按钮*/
.u-btns{
	display: inline-block;
	padding: 0 17px;
	line-height: 36px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	background-color: #fe7004;
	border: 1px solid #e75812;
	border-radius: 3px;
	-webkit-transition:background 0.5s;
	-ms-transition:background 0.5s;
	-moz-transition:background 0.5s;	
	-o-transition:background 0.5s;
	transition:background 0.5s;
}
.u-btns:hover{
	color: #fff;
	background-color: #ff801f;
}
.u-btns-revise{
	color: #60636a;
	background-color: #f6f6f6;
	border-color: #ccc;
}
.u-btns-revise:hover{
	color: #333;
	background-color: #e8e8e8;
	color: #cbcbcb;
}
/*表单*/
.k-form{

}
.k-form .m-btns{
	padding: 30px 0;
	text-align: center;
	border-top: 1px dashed #e5e5e5;
}
.k-form .m-boxs{
	position: relative;
	padding: 30px 19px 40px;
}
.k-form .m-item{
	padding-bottom: 20px;
}
.k-form .u-lab{
	float: left;
	width: 150px;
	line-height: 30px;
	font-size: 14px;
	color: #61687a;
}
.k-form .u-inp{
	float: left;
}
.k-form .u-inp .inp{
	position: relative;
	width: 230px;
	height: 20px;
	padding:4px 9px;
	border: 1px solid #d2d2d2;
	background-color: #f9f9f9;
	border-radius: 2px;
}
.k-form .u-inp .address{
	width: 478px;
}
.k-form .u-inp .phone{
	color: #888;
	background-color: #fff;
}
.k-form .u-inp .input{
	width: 100%;
	height:20px;
	line-height: 20px;
	border: none;
	background: none;
	color: #61687a;
}
.k-form .u-inp .radio{
	height: 30px;
	line-height: 30px;
}
.k-form .u-inp .unit{
	position: absolute;
	right:0;
	top:0;
	width: 40px;
	line-height: 28px;
	text-align: center;
	color: #999;
}
.k-form .u-inp .radio label{
	float: left;
	margin-right: 30px;
	cursor: pointer;
}
.k-form .u-inp .radio span{
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
	overflow: hidden;
	margin-right: 10px;
	background:url(../img/user/user-radio-bg.png) no-repeat;
}
.k-form .u-inp .radio .active{
	background-position: 0 -14px;
}
/*头像上传裁切*/
.k-uppicbox{
	position: absolute;
	top:30px;
	right:30px;
}
.k-uppicbox #upload{
	position: relative;
    width: 180px;
	height: auto;
    overflow: visible;
    background:none;
    text-align: center;
}
.k-uppicbox #upload .fileBtn,.k-uppicbox #upload .uploadify-button{
	position: absolute;
    z-index: 1;
    left:50%;
    top: 0;
    width: 120px;
    height: 120px;
    margin-left: -60px;
}
.k-uppicbox #upload .uploadify-button{
    z-index: 10;
}
.k-uppicbox #upload .uploadify-queue,.k-uppicbox .uploadify-queue{
	display: block;
}
.k-uppicbox p{
	padding-top: 10px;
	text-align: center;
}
.k-cropMask{
	position:fixed;
	z-index: 1000;
	left:0;
	top:0;
	background-color: #000;
	display: none;
}
.k-uppicbox .uploadify-queue-item {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 11px Verdana,Geneva,sans-serif;
    margin-top: 5px;
    max-width: 350px;
    padding: 10px
}

.k-uppicbox .uploadify-error {
    background-color: #FDE5DD!important
}

.k-uppicbox .uploadify-queue-item.completed{
    background-color: #E5E5E5
}

.k-uppicbox .uploadify-progress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%
}

.k-uppicbox .uploadify-progress-bar {
    background-color: #09F;
    height: 3px;
    width: 1px
}
.k-uppicbox .up_filename,.k-uppicbox .delfilebtn,.k-uppicbox .progressnum{
	display: none;
}
.k-uppicbox #upload .img{
	width: 120px;
	height: 120px;
	margin: 0 auto;
	border-radius: 120px;
}
.k-cropBox{
	position: fixed;
	left:50%;
	z-index: 1001;
	top:-100%;
	width:500px;
	padding: 20px;
	margin-left: -250px;
	background-color: #fff;
	border-radius: 5px;
	display: none;
	opacity: 0;
	filter: alpha(opacity=0);
}
.k-cropBox .cropBox{
	position:relative;
	background-color: #bababa;
}
.k-cropBox img{
	width: 100%;
}
.k-cropBox .img1{
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.k-cropBox .img2{
	position: absolute;
	left:0;
	top:0;
	clip:rect(0px 300px 300px 0px);
}
.k-cropBox .cropBorder{
	position: absolute;
	left:-1px;
	top:-1px;
	z-index: 2;
	width: 300px;
	height: 300px;
	border: 1px solid #fff;	
}
.k-cropBox .cropBorder span{
	position: absolute;
	left:0;
	top:0;
	width: 4px;
	height:4px;
	background-color: #fff;
	margin-left: -2px;
	margin-top: -2px;
}
.k-cropBox .cropBorder div{
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
}
.k-cropBox .cropBorder .dot2{
	left:50%;
}
.k-cropBox .cropBorder .dot3{
	left:100%;
}
.k-cropBox .cropBorder .dot4{
	top:50%;
	left:100%;
}
.k-cropBox .cropBorder .dot5{
	top:100%;
	left:100%;
}
.k-cropBox .cropBorder .dot6{
	top:100%;
	left:50%;
}
.k-cropBox .cropBorder .dot7{
	top:100%;
}
.k-cropBox .cropBorder .dot8{
	top:50%;
}
.k-cropBox .btns{
	padding: 34px 0 12px;
	text-align: center;
}
.k-cropBox .btns .u-btns{
	line-height: 38px;
}
/*下拉选择框*/
.k-select{
	position: relative;
	z-index: 2;
	width: 250px;
}
.k-select .option,.k-select .editor{
	overflow: hidden;
	height: 28px;
	line-height: 28px;
	position: relative;
	cursor: pointer;
	padding:0 20px 0 10px;
	background-color: #f9f9f9;
	border: 1px solid #d2d2d2;
	border-radius: 2px;
}
.k-select .option .value{
	display: block;
	font-size: 14px;
	color: #61687a;
}
.k-select .editor .value{
	width: 100%;
	font-size: 14px;
	border: none;
	background: none;
}
.k-select .arrow{
	position: absolute;
	top:9px;
	right:15px;
	background-color: #f9f9f9;
}
.k-select .arrow em,.k-select .arrow i{
	position: absolute;
	left:0;
	top:0;
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 5px;
	border-color: transparent;
	border-style: dashed;
	border-top-style: solid;
	border-top-color: #f9f9f9;
}
.k-select .arrow em{
	top:3px;
	border-top-color: #aaa;
}
.k-select .arrow i{display: none;}
.k-select .select{
	position: absolute;
	left:-1px;
	top:31px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-top: none;
	display: none;
	max-height: 240px;
	overflow-y: auto;
}
.k-select .select a{
	display: block;	
	line-height: 30px;
	text-align: center;
	color: #333;
}
.k-select .select a:hover{
	color: #fff;
	text-decoration: none;
	background-color: #ccc;
}
/*城市插件*/
.k-cities{
	position: relative;
	z-index: 2;
}
.k-cities .tipsinfo{
	line-height: 24px;
    color: #d92222;
}
.k-cities .list{
	position: relative;
    z-index: 2;
	float: left;
	width: 156px;
	margin-right: 15px;
	text-align: left;
}
.k-cities .option{
	overflow: hidden;
	height: 28px;
	line-height: 28px;
	position: relative;
	cursor: pointer;
	padding:0 20px 0 10px;
	background-color: #f9f9f9;
	border: 1px solid #d2d2d2;
	border-radius: 2px;
}
.k-cities .option .value{
	font-size: 12px;
	color: #61687a;
}
.k-cities .arrow{
	position: absolute;
	top:9px;
	right:15px;
	background-color: #fff;
}
.k-cities .arrow em,.k-cities .arrow i{
	position: absolute;
	left:0;
	top:0;
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 5px;
	border-color: transparent;
	border-style: dashed;
	border-top-style: solid;
	border-top-color: #fff;
}
.k-cities .arrow em{
	top:3px;
	border-top-color: #aaa;
}
.k-cities .arrow i{display: none;}
.k-cities .select{
	position: absolute;
	left:-1px;
	top:26px;
	width: 100%;
	height: 210px;
	overflow-y: auto;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-top: none;
	display: none;
}
.k-cities .select a{
	display: block;	
	line-height: 30px;
	text-align: center;
	color: #333;
}
.k-cities .select a:hover{
	color: #fff;
	text-decoration: none;
	background-color: #ccc;
}
/*业主用户中心*/
.m-index .info{
	padding: 19px;
	padding-bottom: 29px;
	border-bottom: 1px solid #eee;
}
.m-index .info .editor{
	width: 106px;
	line-height: 32px;
	font-size: 14px;
	text-align: center;
	color: #60636a;
	border: 1px solid #e5e5e5;
	background-color: #f6f6f6;
	border-radius: 3px;
}
.m-index .info .editor:hover{
	color: #383d48;
	background-color: #f6f6f6;
	border-color: #ccc;
}
.m-index .info dt a{
	display: block;
	width: 120px;
	height: 120px;
	overflow: hidden;
	background-color: #d5d7db;
	border-radius: 120px;
}
.m-index .info dt a:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.m-index .info dd{
	padding-top: 5px;
	padding-left: 30px;
}
.m-index .info dd h3{
	font-size: 28px;
	line-height: 44px;
}
.m-index .info dd h3 a{
	color: #4b4f5d;
}
.m-index .info dd h3 a:hover{
	color: #fe7004;
}
.m-index .info dd p{
	font-size: 14px;
	line-height: 34px;
	color: #999;
}
.m-index .info dd p i{
	padding-right: 10px;
}
.m-index .flow{
	height: 133px;
	padding-left: 60px;
	padding-top: 27px;
	text-align: center;
	background: url(../img/user/index-flow-bg.gif);
}
.m-index .flow li{
	float: left;
	width: 86px;
}
.m-index .flow .line{
	margin: 26px 8px 0;
	height: 4px;
	background-color: #e9e9e9;
	border-radius: 1px;
}
.m-index .flow .txt{
	margin: 0 3px;
}
.m-index .flow .num{
	width: 50px;
	height: 56px;
	line-height: 56px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
	color: #fe7004;
	background:url(../img/user/index-flow-list-bg.png) no-repeat;
}
.m-index .flow .txt p{
	line-height: 18px;
	color: #fe7004;
}
.m-index .list{

}
.m-index .list li{
	padding: 20px 19px 30px;
	border-top: 1px solid #eee;
}
.m-index .list h4{
	padding-right: 10px;
	font-size: 14px;
	line-height: 30px;
	color: #61687a;
	background-color: #f5f5f5;
}
.m-index .list h4 span{
	float: left;
	width: 70px;
	margin-right: 10px;
	text-align: center;
	color: #fff;
	background-color: #04bafe;
}
.m-index .list .progress{
	width: 150px;
	text-align: center;
}
.m-index .list .progress .bar{
	width: 100%;
	height: 8px;
	background-color: #f1f1f1;	
}
.m-index .list .progress .in{
	height: 8px;
	background-color: #fe7004;
}
.m-index .list .progress .in0{
	width:20%;
}
.m-index .list .progress .in1{
	width:40%;
}
.m-index .list .progress .in2{
	width:40%;
}
.m-index .list .progress .in3{
	width:60%;
}
.m-index .list .progress .in4{
	width:80%;
}
.m-index .list .progress .in5{
	width:100%;
}
.m-index .list .progress .in6{
	width:60%;
}
.m-index .list .progress .in7{
	width:100%;
}
.m-index .list .progress p{
	line-height: 30px;
	color: #999;
}
.m-index .list .ct{
	padding: 53px 0 40px;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	color: #61687a;
}
.m-index .list .btns{
	text-align: center;
}
/*发布需求*/
.release .work-tips{
	padding-top: 5px;
}
.release .work-tips p{
	line-height: 20px;
	color: #aaa;
}
.release .mark li{
	float: left;
}
.release .u-inp .mark .inp{
	float: left;
	width: 60px;
}
.release .u-inp .mark li:first-child .inp{
	width: 130px;
}
.release .u-inp .mark span{
	float: left;
	padding: 0 10px;
	font-size: 14px;
	line-height: 30px;
	color: #999;
}
.k-stylePic{
	width: 320px;
	height: 200px;
	background:#fff url(../img/public/loading1.jpg) center center no-repeat;
}
.k-stylePic .stylePic{
	position: relative;
	width: 100%;
	height: 100%;
}
.k-stylePic h4{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
}
.k-stylePic .text{
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	font-size: 16px;
	height: 52px;
	line-height: 52px;
	color: #fff;
	text-align: center;
	background:url(../img/user/stylePic-text-bg.png) repeat-x;
}
.k-stylePic .pic{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 2px;
}
.k-stylePic .pic ul{
	position: absolute;
	left:0;
	top:0;
}
.k-stylePic .pic li{
	float: left;
	width: 320px;
	height: 200px;
	overflow: hidden;
}
.k-stylePic .toggle .btns{
	position: absolute;
	top:50%;
	left:0;
	width: 30px;
	height: 35px;
	margin-top: -17px;
}
.k-stylePic .toggle .btns span{
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter: alpha(opacity=50);
	opacity: 0.5;
	-webkit-transition:opacity 0.5s;
	-ms-transition:opacity 0.5s;
	-moz-transition:opacity 0.5s;	
	-o-transition:opacity 0.5s;
	transition:opacity 0.5s;
}
.k-stylePic .toggle .btns:hover span{
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.k-stylePic .toggle .prev span{
	border-radius: 0 6px 6px 0;
}
.k-stylePic .toggle .next{
	left: auto;
	right:0;
}
.k-stylePic .toggle .next span{
	border-radius:6px 0 0 6px;
}
.k-stylePic .toggle .btns i{
	position: absolute;
	width: 100%;
	height: 100%;
}
/*需求列表*/
.m-requirementList .list{

}
.m-requirementList .list li{
	padding: 0;
	cursor: pointer;
	border-top: none;
	-webkit-transition:background 0.5s;
	-ms-transition:background 0.5s;
	-moz-transition:background 0.5s;	
	-o-transition:background 0.5s;
	transition:background 0.5s;
}
.m-requirementList .list li:hover{
	background-color: #f9f9f9;
}
.m-requirementList .list .boxs{
	padding: 20px 0;
	margin: 0 19px;
	border-top: 1px solid #eee;
}
.m-requirementList .list li:first-child .boxs{
	border-top: none;
}
.m-requirementList .list .tag span{
	display: inline-block;
	vertical-align: middle;
	padding: 0 13px;
	margin-right: 10px;
	line-height: 24px;
	color: #fe7004;
	border: 1px solid #fe7004;
}
.u-requirement{
	min-width: 126px;
	padding: 0;
	margin-top: 14px;
	margin-right: 19px;
	font-size: 14px;
	line-height: 36px;
}
/*需求详情*/
.m-requirement .tabs{
	height: 46px;
	padding-left: 19px;
	line-height: 46px;
	background-color: #f1f1f1;	
}
.m-requirement .tabs li{
	float: left;
	font-size: 14px;
}
.m-requirement .tabs li a{
	display: block;
	padding: 0 22px;
	color: #383d48;
}
.m-requirement .tabs li a:hover{
	color: #fe7004;
}
.m-requirement .tabs .active{
	position: relative;
	margin-top: -1px;
	z-index: 1;
	border-top: 3px solid #fe7004;
	line-height: 44px;
	height: 44px;
	overflow: hidden;
	background-color: #fff;
}
.m-requirement .tabs .active a{
	color: #fe7004;
}
.detail-drid{
	padding: 20px 19px;
}
.detail-drid ul{
	border: 1px solid #eee;
	border-bottom: none;
}
.detail-drid li{
	height: 53px;
	line-height: 53px;
	vertical-align: top;
	border-bottom: 1px solid #eee;
}
.detail-drid li .span{
	width: 100%;
	font-size: 14px;
}
.detail-drid li .span strong{
	display: inline-block;
	width: 130px;
	padding-left: 19px;

	color: #61687a;
	background-color: #f0f8fb;
}
.detail-drid li .span span{
	display: inline-block;
	padding-left: 25px;
	color: #383d48;
}
.detail-drid li .f-fl{
	width: 50%;
}
.detail-btns{
	padding: 30px 0;
	text-align: center;
	border-top: 1px dashed #e5e5e5;
}
.detail-btns .u-btns{
	margin: 0 15px;
}
/*预约量房*/
.booking-tips{
	height: 38px;
	line-height: 38px;
	padding: 31px 19px 32px;
}
.booking-tips p{
	font-size: 16px;
	color: #999;
}
.booking h3{
	padding-left: 19px;
	font-size: 16px;
	line-height: 49px;
	color: #383d48;
	border-top: 1px solid #e5e5e5;
}
.booking .m-designerList li{
	padding: 20px 19px;
	border-top: 1px solid #e6e6e6;
	cursor: pointer;
}
.booking.disabled .m-designerList li,.score .m-designerList li{
	cursor:default
}
.m-designerList .info .head{
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 70px;
}
.m-designerList .info .head img{
	width: 100%;
}
.m-designerList .info dl{
	padding-left: 20px;
}
.m-designerList .info dt{
	height: 26px;
	padding-bottom: 4px;
	line-height: 26px;
}
.m-designerList .info dt a{
	margin-right: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #383d48;
}
.m-designerList .info dt a:hover{
	color: #fe7004;
}
.m-designerList .info dt span{
	display: inline-block;
	line-height: 18px;
	padding-right: 5px;
	border: 1px solid #fe7004;
	border-radius: 2px;
}
.m-designerList .info dt i{
	display: inline-block;
	width: 20px;
	height: 18px;
	line-height: 18px;
	background-color: #fe7004;
	margin-right: 4px;
	text-align: center;
	color: #fff;
}
.m-designerList .info dd{
	font-size: 14px;
	line-height: 22px;
	color: #999;
}
.m-designerList .info dd em{
	margin: 0 17px 0 5px;
}
.m-designerList .info dd strong{
	margin: 0 12px;
	font-weight: normal;
	color: #383d48;
}
.booking .m-designerList .select{
	padding-top: 16px;
}
.booking .m-designerList .select span{
	display: inline-block;
	vertical-align: middle;
}
.booking .m-designerList .match{
	padding: 0 14px;
	margin-right: 52px;
	line-height: 36px;
	color: #61687a;
	border: 1px solid #61687a;
	border-radius: 2px;
}
.booking .m-designerList .status{
	width: 38px;
	height: 38px;
	background:url(../img/user/booking-status-icon.png) 0 0 no-repeat;
} 
.booking .m-designerList .active{
	background-color: #f0f8fb;
	border-left: 5px solid #fc7207;
	padding-left: 14px;
}
.booking .m-designerList .active .status{
	background-position: 0 -38px;
} 
.booking-btns{
	padding: 30px 0;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}
/*确认量房*/
.score .select .btns{
	text-align: right;
} 

/*模态窗口*/
.k-motai{
	position: fixed;
	left:0;
	top:0;
	z-index: 1000;
	width: 100%;
	height: 100%;
}
.k-motai .mask{
	position: absolute;
	left:0;
	top:0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.k-motai .motai{
	position: absolute;
	left:50%;
	top:100px;
	z-index: 2;
	margin-left: -264px;
	width: 528px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.12);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.12);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.12);
}
.k-motai .score{
	top:50%;
	height: 508px;
	margin-top: -254px;
}
.k-motai .score h3{
	padding: 0 19px;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 65px;
	color: #383d48;
	border-bottom: 1px solid #eee;
}
.k-motai .score .textarea{
	height: 160px;
	margin:16px 19px 0;
  	overflow: hidden;
  	padding-left: 20px;
	border: 1px solid #e5e5e5;
	background-color: #f9f9f9;
	border-radius: 2px;
}
.k-motai .score dl{
	height: 44px;
	padding:0 19px;
	line-height: 44px;
}
.k-motai .score dt{
	float: left;
	width: 100px;
	font-size: 16px;
	color: #61687a;
}
.k-motai .score dd{
	font-size: 0;
	padding-top: 10px;
}
.k-motai .score dd span{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 6px;
	background:url(../img/user/star-icon.png) 0 bottom no-repeat;
}
.k-motai .score dd .active{
	background-position: 0 0;
}
.k-motai .score .textarea textarea{
  float: left;
  width: 100%;
  height: 140px;
  line-height: 20px;
  margin-left: -20px;
  padding: 10px;
  font-size: 14px;
  border: 0;
  resize: none;
  background: none;
}
.k-motai .score .anonymity{
	padding: 0 19px 20px;
}
.k-motai .score .anonymity span{
	display: block;
	width: 100px;
	height: 34px;
	line-height: 34px;
	cursor: pointer;
}
.k-motai .score .anonymity span i{
	display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    overflow: hidden;
    margin-right: 15px;
    background: url(../img/user/user-radio-bg.png) no-repeat;
}
.k-motai .score .anonymity span .active{
	background-position: 0 -14px;
}
.k-motai .score .btns{
	padding: 30px 0;
	text-align: center;
	border-top: 1px dashed #e5e5e5;
}
.k-motai .score .btns .u-btns{
	margin: 0 10px;
}
/*方案列表*/
.plans-tips{
	height: 38px;
	line-height: 38px;
	padding: 31px 19px 32px;
}
.plans-tips p{
	font-size: 16px;
	color: #999;
}
.m-plans li{
	border-top: 1px solid #e6e6e6;
}
.m-plans .boxs{
	padding:20px 19px 30px;
}
.m-plans li:hover .boxs{
	padding: 18px 17px 28px;
	border: 2px solid #e5e5e5;
}
.m-plans .boxs .head{
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 70%;
}
.m-plans .boxs .head img{
	width: 100%;
}
.m-plans .boxs dl{
	padding-left: 20px;
}
.m-plans .boxs dt{
	line-height: 34px;
}
.m-plans .boxs dt a{
	font-size: 20px;
	font-weight: bold;
	color: #383d48;
}
.m-plans .boxs dt a:hover{
	color: #fe7004;
}
.m-plans .boxs dt span{
	display: inline-block;
	line-height: 18px;
	padding-right: 5px;
	margin:0 20px;
	border: 1px solid #fe7004;
	border-radius: 2px;
}
.m-plans .boxs .status{
	width: 78px;
	font-size: 14px;
	line-height: 36px;
	text-align: center;
	border-radius: 2px;
}
.m-plans .boxs .status3{
	border: 1px solid #61687a;
	color: #61687a;
}
.m-plans .boxs .status4{
	border: 1px solid #999;
	color: #999;
}
.m-plans .boxs .status5{
	border: 1px solid #fe7004;
	color: #fe7004;
}
.m-plans .boxs dt i{
	display: inline-block;
	width: 20px;
	height: 18px;
	line-height: 18px;
	background-color: #fe7004;
	margin-right: 4px;
	text-align: center;
	color: #fff;
}
.m-plans .boxs dd{
	line-height: 30px;
}
.m-plans .boxs dd span{
	margin-right: 18px;
	font-size: 16px;
	color: #999;
}
.m-plans .boxs dd span strong{
	margin-left: 17px;
	color: #fe7004;
}
.m-plans .profile{
	padding: 18px 0;
	font-size: 14px;
	line-height: 20px;
	color: #61687a;
}
.m-plans .profile p{
	width: 800px;
}
.m-plans .images{
	height: 210px;
}
.m-plans .images img{
	margin-left: 20px;
	width: 280px;
	height: 180px;
	border-radius: 2px;
}
.m-plans .images img:first-child{
	margin-left: 0;
}
.m-plans .select{
	height: 38px;
	line-height: 38px;
}
.m-plans .select .msg{
	font-size: 14px;
	color: #61687a;
}
.m-plans .select .msg:hover{
	text-decoration: underline;
	color: #fe7004;
}
.m-plans .select .u-btns{
	margin-left: 15px;
}
/*意向设计师列表*/
.designer .m-designerList .select{
	display: none;
}
.designer .booking .m-designerList li{
	cursor: default;
}
.designer .booking .m-designerList li:first-child{
	border-top: none;
}
.designer .m-designerList li:hover .select{
	display: block;
}
/*作品收藏*/
.g-mn .favorite{
	background:none;
    border:none;
    border-radius: 0;
}
.favorite .m-tt{
	background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}
.favorite .m-ct{
	width: 100%;
	overflow: hidden;
}
.favorite .list{
	margin-left: -20px;
}
.favorite .list li{
	float: left;
	width: 448px;
	margin-left: 20px;
	margin-top: 15px;
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
}
.favorite .list .img{
	display: block;
	width: 100%;
	height: 270px;
	overflow: hidden;
}
.favorite .list .img img{
	width: 100%;
	min-height: 100%;	
}
.favorite .list h4{
	padding: 12px 19px 0;
	line-height: 30px;
	color: #999;
}
.favorite .list h4 a{
	margin-right: 10px;
	font-size: 16px;
	color: #383d48;
}
.favorite .list h4 a:hover{
	color:#fe7004;
}
.favorite .list .tag{
	padding: 0 19px 10px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #eee;
} 
.favorite .list .tag span{
	display: inline-block;
	margin-right: 25px;
	color: #fe7004;
}
.favorite .list .boxs p{
	height: 48px;
	padding: 17px 19px;
	line-height: 16px;
	color: #999;
}
.favorite .list .boxs,.favorite .list .deleted{
	position: relative;
	width: 448px;
	height: 435px;
}
.favorite .list .deleted{
	height: 272px;
	padding-top: 163px;
	text-align: center;
	background:url(../img/user/index-flow-bg.gif);
}
.favorite .list .deleted p{
	padding-bottom: 6px;
	font-size: 16px;
	line-height: 45px;
	color: #61687a;
}
.favorite .list .boxs .u-btns{
	position: absolute;
	right:19px;
	top:17px;
	display: none;
}
.favorite .list .boxs:hover .u-btns{
	display: block;
}
