/**
 * 
 * @authors jiayi (690405541@qq.com)
 * @date    2015-07-27
 */
/*初始化  reset*/
*html{background-image:url(about:blank);background-attachment:fixed;}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei",\5FAE\8F6F\96C5\9ED1, "微软雅黑","MicrosoftJhengHei","华文细黑","STHeiti","MingLiu","SimHei","黑体", \5b8b\4f53,"SimSun", "宋体",sans-serif; color: #666;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
em,i{font-style:normal;}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
ol,ul{list-style:none;}
a{text-decoration:none;}
fieldset,img{border:0 none;vertical-align:top;}
textarea{resize:none;}
a,input,button,select,textarea{outline:none;}
a,button{cursor:pointer;}
table{border-collapse:collapse;border-spacing:0}
/*布局  grid***********************************************************/
.g-wp{width:1200px;margin-left:auto;margin-right:auto}
/*功能  function*******************************************************/
.f-fl{float:left}
.f-fr{float:right}
.f-fl,.f-fr{display:inline}
.f-cb:after,.f-cb:before,.item:after,.item:before{content: "";display:table;clear:both;}
.f-cb,.item{*zoom:1}
.f-tac{text-align: center;}
.f-st{font-family:\5b8b\4f53,"SimSun", "宋体";}
.f-fz16{font-size: 16px;}
.f-fz16{font-size: 18px;}
.f-fz20{font-size: 20px;}
.f-fz24{font-size: 24px;}
.f-fz30{font-size: 30px;}
.hide{display:none !important;}
.show{display:block !important;}

/*图标字体  iconfont*******************************************************/
@font-face{font-family:"iconfont";
	src: url('../font/iconfont.eot');
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  	url('../font/iconfont.woff') format('woff'),
  	url('../font/iconfont.ttf') format('truetype'), 
  	url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
	font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*模块  module********************************************************/
.i-icon{
	background:url(../img/public/sprite.png) 0 0 no-repeat;
}
.btn{
	display: inline-block;
	width: 260px;
	line-height: 50px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border:0 none;
	background-color: #fe7004;
	border-radius:5px;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;	
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.btn:hover{
	color: #fff;
	background-color: #fe4504;
}
.btn-add{ 

}
.btn-editor{

}
.btn-cancel{

}
.btn-onfirm{

}
.btn-delete{

}
.btn-fillet{
	display: block;
    width: 240px;
    line-height: 50px;
    border-radius: 50px;
}
/*圆形小头像*/
.m-head{
	display: block;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
a.m-head:hover{
	border-color:#fe7004;
}
.m-head img{
	width: 100%;	
}
/*组件  widget********************************************************/
/*消息提示框*/
.k-prompt{
	position: fixed;
	left:50%;
	width: 300px;
	margin-left: -151px;
	background-color: #fff;
	border: 2px solid #dcdcdc;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 11px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 11px rgba(0,0,0,0.25);
}
.k-prompt h3{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #333;
	padding-left: 20px;
	border-bottom: 1px solid #dcdcdc;
}
.k-prompt p{
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 24px;
}
.k-prompt .success{
	color: #28b726;
}
.k-prompt .error{
	color: #d92222;
}
/*表单组件*/
.w-form{padding-right: 4px;}
.w-form .m-item{padding-bottom: 15px;}
.w-form .m-item .u-lab{
	float: left;
	width: 120px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #333;
}
.w-form .m-item .u-inp{
	float: left;
}
.w-form .m-item .box{
	height: 22px;
	padding: 4px 0;
}
.w-form .m-item .input{
	width: 100%;
	height: 22px;
	line-height: 22px;
	display: block;
	border: none;
	background-color: #fff;
}
.w-form .m-item .sex{
	height: 30px;
	line-height: 30px;
}
.w-form .m-item .sex label{
	position: relative;
	float: left;
	margin-right: 30px;
	cursor: pointer;
	padding-left: 15px;
}
.w-form .m-item .sex label input{
	position: absolute;
	left:0;
	top:9px;
}
.w-form .m-item .check{
	position: relative;
    height: 30px;
	line-height: 30px;
}
.w-form .m-item .check label{
	position: relative;
	float: left;
	padding-left: 18px;
	cursor: pointer;
	margin-right: 25px;
}
.w-form .m-item .check label input{
	position: absolute;
	left:0;
	top:9px;
}
.w-form .m-item{
	position: relative;
}
.w-form .m-item .tips-icon{
	position: absolute;
	left:348px;
	top:0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #d92222;
}
.w-form .m-item .tips-icon-ok{
	color: #28b726;
}
.w-form .m-item .tips-icon .iconfont{
	font-size: 24px;
}
.w-form .m-item .tips-info,.w-form .m-error-info{
	line-height: 24px;
	padding-left: 120px;
	color:#d92222;
}
.w-form .m-error-info{
	padding-left: 0;
}
.m-select{
	position: relative;
	z-index: 2;
	width: 200px;
}
.m-select .option,.m-select .editor{
	line-height: 22px;
	position: relative;
	cursor: pointer;
	padding-right: 25px;
}
.m-select .editor .value{
	width: 100%;
	border: none;
}
.m-select .arrow{
	position: absolute;
	top:6px;
	right:20px;
	background-color: #fff;
}
.m-select .arrow em,.m-select .arrow i{
	position: absolute;
	left:0;
	top:0;
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 8px;
	border-color: transparent;
	border-style: dashed;
	border-top-style: solid;
	border-top-color: #fff;
}
.m-select .arrow em{
	top:3px;
	border-top-color: #ccc;
}
.m-select .select{
	position: absolute;
	left:-1px;
	top:31px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-top: none;
	display: none;
	max-height: 240px;
	overflow-y: auto;
}
.m-select .select a{
	display: block;	
	line-height: 30px;
	text-align: center;
	color: #333;
}
.m-select .select a:hover{
	color: #fff;
	text-decoration: none;
	background-color: #ccc;
}
/*城市插件*/
.m-cities{
	position: relative;
	z-index: 2;
}
.m-cities .tipsinfo{
	line-height: 24px;
    color: #d92222;
}
.m-cities .list{
	position: relative;
    z-index: 2;
	float: left;
	width: 150px;
	padding: 3px 0 3px 10px;
	margin-right: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: left;
}
.m-cities .option{
	line-height: 22px;
	position: relative;
	cursor: pointer;
	padding-right: 25px;
}
.m-cities .arrow{
	position: absolute;
	top:6px;
	right:20px;
	background-color: #fff;
}
.m-cities .arrow em,.m-cities .arrow i{
	position: absolute;
	left:0;
	top:0;
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 8px;
	border-color: transparent;
	border-style: dashed;
	border-top-style: solid;
	border-top-color: #fff;
}
.m-cities .arrow em{
	top:3px;
	border-top-color: #ccc;
}
.m-cities .select{
	position: absolute;
	left:-1px;
	top:26px;
	width: 100%;
	height: 210px;
	overflow-y: auto;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-top: none;
	display: none;
}
.m-cities .select a{
	display: block;	
	line-height: 30px;
	text-align: center;
	color: #333;
}
.m-cities .select a:hover{
	color: #fff;
	text-decoration: none;
	background-color: #ccc;
}
/*在线报价*/
.m-onlinePrice{
	width: 100%;
}
.m-onlinePrice td{
	width: 25%;
}
.k-popup{
	position: fixed;
	z-index: 10001;
	left:50%;
	top:50%;
	background-color: #fff;
	display: none;
	width: 660px;
	padding: 20px;
	margin-left: -330px;
	margin-top: -300px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 11px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 11px rgba(0,0,0,0.15);
}
.popup-shade{
	position: fixed;
	left:0;
	top:0;
	z-index: 10000;
	background-color: #000;
	display: none;
}
.popup-confirm{
	position: fixed;
	left:50%;
	top:0;
	z-index: 10001;
	min-width: 240px;
	_width:240px;
	text-align: center;
	background-color: #fff;
	border: 2px solid #696969;
	border-radius: 4px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
.popup-confirm .info{
	padding: 30px 26px 30px 20px;
	color: #333;
	line-height: 24px;
}
.popup-confirm .btns{
	min-width:180px;
	padding: 14px 26px 18px;
	background-color: #f2f2f2;
	font-size: 0;
	white-space:nowrap;
	text-align: right;
}
.popup-confirm .btns a{
	display: inline-block;
	font-size: 12px;
	margin-left: 12px;
	width: 78px;
	text-align: center;
	line-height: 24px;
	padding: 1px;
	border: 1px solid #707070;
	background-color: #f3f3f3;
	color: #270000;
	border-radius: 3px;
	background: #f2f2f2;
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(49%,#ebebeb), color-stop(50%,#dddddd), color-stop(100%,#cfcfcf));
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ebebeb 49%,#dddddd 50%,#cfcfcf 100%);
	background: -o-linear-gradient(top,  #f2f2f2 0%,#ebebeb 49%,#dddddd 50%,#cfcfcf 100%);
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#ebebeb 49%,#dddddd 50%,#cfcfcf 100%);
	background: linear-gradient(to bottom,  #f2f2f2 0%,#ebebeb 49%,#dddddd 50%,#cfcfcf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cfcfcf',GradientType=0 );
}
.popup-confirm .btns a:hover{
	text-decoration: none;
	color: #270000;
	border-color: #3c7fb1;
	background-color: #3c7fb1;
}
.popup-confirm .confirm{
	
}
.popup-confirm .cancel{
	
}
.k-popup .popup-tt{
	position: relative;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
}
.k-popup .popup-tt h3{
	font-size: 18px;
	color: #333;
	font-weight: normal;
}
.k-popup .close{
	position: absolute;
	right:0;
	top:0;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	cursor: pointer;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;	
	-o-transition:all 0.5s;
	transition:all 0.5s;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.k-popup .close:hover{
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
.k-popup .popup-ct{

}


.m-page{
	height: 25px;
	line-height: 25px;
	padding: 50px 0 100px;
	font-size: 0;
	text-align: center;
}
.m-page .btns{
	display: inline-block;
	line-height: 25px;
	padding:0 9px;
	margin: 0 5px;
	font-size: 14px;
	color: #7c8389;
}
.m-page .btns.current{
	color: #fff;
	background-color: #fe7004;
	border-radius: 4px;
}
.m-page a.btns:hover{
	color: #fe7004;
}
.m-page .text{
	display: inline-block;
	font-size: 14px;
}


.m-page .btns.current.prev,.m-page .btns.current.next{
	display: none;
}
/*皮肤  skin*********************************************************/
/*状态  zhuangtai****************************************************/



/*头部**********************************************************************************/
.g-hd{
	/*position: absolute;
	top:0;
	left:0;*/
	width: 100%;
	height: 105px;
	background-color:rgba(255,255,255,0.8);
}
.m-logo{
	margin-top: 23px;
	margin-left: 54px;
	background:url(../img/public/logo.png) no-repeat 0 0;
}
.m-logo a{
	display: block;
	width: 181px;
	height: 0;
	overflow: hidden;
	padding-top: 59px;
}
.g-hd .user{
	height: 34px;
	padding-right: 20px;
	line-height: 34px;
	text-align: right;
}
.g-hd .user a{
	margin:0 3px;
	font-size: 14px;
	color: #34495e;
}
.g-hd .user a:hover{
	color: #fe7004;
}
.m-nav{
	padding-top: 16px;
	padding-left: 100px;
}
.m-nav li{
	float: left;
	padding-right: 20px;
}
.m-nav a{
	display: inline-block;
	height: 50px;
	padding: 0 20px;
	min-width: 144px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	color: #34495e;
}
.m-nav .active a{
	color: #fe7004;
	border-bottom: 5px solid #fe7004;
}

.m-nav a:hover{
	text-decoration: none;
	color: #fe7004;
}
/*底部**********************************************************************************/
.m-sitemap{
	width: 100%;
	min-width: 1200px;
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #3c3c3c;
	border-bottom: 1px solid #4c4c4c;
}
.m-sitemap .sitemap{
	padding-left: 135px;
}
.m-sitemap dl{
	float: left;
	width: 215px;
}
.m-sitemap dt{
	margin-bottom: 20px;
	line-height: 30px;
	color: #fe7004;
	font-size: 18px;
}
.m-sitemap dd{
	font-size: 14px;
	line-height: 30px;
}
.m-sitemap dd a{
	color: #ddd;
}
.m-sitemap dd a:hover{
	text-decoration: underline;
	color: #fff;
}
.m-sitemap .erweima{
	width: 180px;
	padding-right: 115px;
}
.m-sitemap .erweima img{
	width: 100%;
}
.m-copy{
	width: 100%;
	min-width: 1200px;
	line-height: 40px;
	color: #999;
	background-color: #3c3c3c;
	border-top: 1px solid #2c2c2c;
}
/*主体**********************************************************************************/
.g-bd{
	padding: 20px 0;
}
.g-index-item{
	padding:70px 0;
}
.g-index-item .m-tt{
	
}
.g-index-item .m-tt h2{
	width: 440px;
	margin: 0 auto;
	height: 30px;
	text-align: center;
	background:url(../img/index/index-tt.png) no-repeat 0 7px;
}
.g-index-item .m-tt span{
	float: left;
	background:url(../img/index/index-tt.png) no-repeat right -23px;
}
.g-index-item .m-tt strong{
	float: left;
	line-height: 30px;
	font-size: 18px;
	color: #34495e;
	font-weight: normal;
	padding: 0 160px;
	min-width: 116px;
	_width: 116px;
}
.g-index-item .more{
	padding-top: 75px;
	text-align: center;
}
.g-index-item .more a{
	font-size: 22px;
	color: #34495e;
	text-decoration: underline;
}
.g-index-item .more .btn{
	display: block;
	width: 240px;
	line-height: 50px;
	margin: 0 auto;
	font-size: 18px;
	color: #fff;
	background-color: #fe7004;
	border-radius: 50px;
	text-decoration: none;
}
.g-index-item .more .btn:hover{
	text-decoration: none;
	color: #fff;
	background-color: #fe4504;
}
.g-index-item .more a:hover{
	color: #fe7004;
}
.g-index-live .m-ct{
	padding: 15px;
	margin-top: 70px;
	overflow: hidden;
}
.g-index-live ul{
	width: 1230px;
}
.g-index-live li{
	position: relative;
	float: left;
	width: 366px;
	height: 455px;
	overflow: hidden;
	margin-right: 24px;
	margin-top: 27px;
	background-color: #fff;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 11px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 11px rgba(0,0,0,0.15);
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;	
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.g-index-live li:hover{
	-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 11px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 11px rgba(0,0,0,0.35);
}
.g-index-live .pic{
	width: 100%;
	height: 288px;
	overflow: hidden;
}
.g-index-live .pic img{
	width: 100%;
	min-height: 288px;
}
.g-index-live .m-head{
	position: absolute;
	left:50%;
	top:220px;
	margin-left: -48px;
}
.g-index-live .txt{
	padding: 48px 20px 0;
	text-align: center;
	color: #7c8389;
}
.g-index-live .txt h4{
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	
}
.g-index-live .txt h4 a{
	color: #333;
}
.g-index-live .txt h4 a:hover{
	color: #fe7004;
}
.g-index-live .txt .desc{
	line-height: 44px;
}
.g-index-live .txt .desc span{
	margin: 0 10px;
}
.home-info .works span{
	background-color: #fff;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.loading{
	width: 164px;
	height: 64px;
	margin:50px auto;
	background:#fff url(../img/public/loading1.jpg) no-repeat;
}
.nodata{
	background-image: url(../img/public/nodata.jpg);
}
.goto{
	position: fixed;
	right: 100px;
	bottom: 50px;
	z-index: 1000;
	display: inline-block;
	width: 40px;
	height: 40px;
	background:url(../img/public/goto.png) 0 0 no-repeat;
}
.goto:hover{
	background-position: 0 -40px;
}