html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: Helvetica;
  background-color: #f2f2f3;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.content {
  position: relative;
}
.homePage {
  width: 100%;
  height: auto;
}
.calcPriceHouse, .calcPriceStyle {
  position: absolute;
  display: none;
  width: 100%;
  top: 0px;
}
.calcPriceHouse {
  text-align: center;
}
.calcPriceHouse .houseType {
  background-color: #FFF;
  margin-top: 1rem;
}
.calcPriceHouse .houseType .title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.calcPriceHouse .houseType .selectorContainer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.calcPriceStyle {
  text-align: center;
}
.calcPriceHouse .title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.collectionContainer {
  background-color: #FFF;
  margin-top: 1rem;
}
.collectionContainer .title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.collectionView {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.collectionView .col {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.btnContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.btnContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.btnSubmit {
  display: inline-block;
  vertical-align: middle;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.2rem;
  border: 0;
  width: 20rem;
  color: #fff;
  background-color: #fe7004;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 4rem;
  line-height: 4rem;
  background-color: rgba(0, 0, 0, .7);
}
.footer a {
  display: inline-block;
  vertical-align: middle;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 60%;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #fe7004;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
