.homePage {
  width: 100%;
  height: auto;
  background-color: #123695;
  color: #FF0000;
}
.calcPriceHouse {
  position: absolute;
  display: none;
  width: 100%;
  height: auto;
  top: 0px;
  background-color: #369715;
  color: #FF0000;
}
.calcPriceStyle {
  position: absolute;
  display: none;
  width: 100%;
  height: auto;
  top: 0px;
  background-color: #551668;
  color: #FF0000;
}
