html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: Helvetica;
  background: url(bg.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.content {
  position: relative;
}
.homePage {
  width: 100%;
  height: auto;
  background-color: #123695;
  color: #FF0000;
}
.calcPriceHouse, .calcPriceStyle {
  position: absolute;
  display: none;
  width: 100%;
  height: auto;
  top: 0px;
  color: #FF0000;
}
.calcPriceHouse {
  background-color: #369715;
}
.calcPriceStyle {
  background-color: #551668;
}
