<ol class="breadcrumb"><li><a ui-sref="index">首页</a></li><li class="active">装修美图</li></ol>
<form name="recruit" ng-submit="searchTimeBtn()" novalidate>
	<p>[注意] 如果搜索当前的信息，开始时间为当天日期，结束时间为第二天日期</p>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1">开始时间</div>
			<div class="col-md-3">
				<p class="input-group">
				  	<input type="text" class="form-control" uib-datepicker-popup ng-model="startTime.time" is-open="startTime.status.opened" datepicker-options="startTime.dateOptions" close-text="关闭" clear-text="清除" current-text="今天" required />
				  	<span class="input-group-btn">
				  		<button type="button" class="btn btn-default" ng-click="startTime.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				  	</span>
			  	</p>
			</div>
			<div class="col-md-1">--结束时间</div>
			<div class="col-md-3">
				<p class="input-group">
				  	<input type="text" class="form-control" uib-datepicker-popup ng-model="endTime.time" is-open="endTime.status.opened" datepicker-options="endTime.dateOptions" close-text="关闭" clear-text="清除" current-text="今天" required />
				  	<span class="input-group-btn">
				  		<button type="button" class="btn btn-default" ng-click="endTime.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				  	</span>
				</p>
			</div>
			<div class="col-md-2"><button type="submit" class="btn btn-info" ng-disabled="recruit.$invalid">搜索</button></div>
		</div>
	</div>
</form>
<br />
<div>
	<a ui-sref="picturesAdd()" class="btn btn-success">添加装修美图</a>
</div>
<br />
<div class="panel panel-info">
	<table class="table table-bordered">
		<tbody>
			<tr class="info thead">
				<th>美图ID</th>
				<th>创建时间</th>
				<th>美图标题</th>
				<th>当前状态</th>
				<th>状态操作</th>
				<th>更新时间</th>
				<th>修改操作</th>
				<th>预览操作</th>
			</tr>
			<tr ng-repeat="user in userList">
				<td>{{user._id}}</td>
				<td>{{user.create_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>{{user.title}}</td>
				<td>{{user.status == 1 ? "页面显示" : "页面隐藏"}}</td>
				<td><button type="button" class="btn btn-danger" ng-click="changeStatus(user._id,user.status)">更改状态</button></td>
				<td>{{user.lastupdate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td><a ui-sref="picturesAdd({id:user._id})">修改更新</a></td>
				<td><a ng-href="/tpl/mito/detail.html?pid={{ user._id }}&imgid={{user.images[0].imageid}}&imgw={{ user.images[0].width }}&imgh={{ user.images[0].height }}" target="_blank">点击查看</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="loadData" ng-hide="loading.loadData"></div>
<div class="loadData notData" ng-show="loading.notData"></div>
<div class="text-center" ng-if="loading.loadData && !loading.notData">
	<uib-pagination total-items="pagination.totalItems" first-text="首页" next-text="下一页" previous-text="上一页" last-text="尾页" ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" rotate="false" ng-change="pagination.pageChanged()"></uib-pagination>
	<span class="pagecode">当前：{{pagination.currentPage}} / {{numPages}} 页 总共 {{pagination.totalItems}} 条数据</span>
</div>
