html,body,.g-bd{
    height: 100%;
}
body{
    padding-top: 105px;
}
.table-break th{
    white-space:nowrap;
    word-break: break-all;
}
.g-hd{
    width: 100%;
    height: 105px;
}
.m-logo{
    margin-top: 23px;
    margin-left: 54px;
    background: url(../img/logo.png) no-repeat 0 0;
}
.m-logo a{
    display: block;
    width: 181px;
    height: 0;
    overflow: hidden;
    padding-top: 59px;
}
.g-bd{
    padding: 0;
}
.m-loading{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 250px;
    height: 250px;
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
    opacity: 1;
    z-index: 5001;
}
.m-loading p{
    text-align: center;
    color: #fe7004;
    margin: 0;
}
.loading {
    position: relative;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background:url(../img/loading.png) center center no-repeat;
}
.loading:before {
    content: "";
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #fe7004;
    transition: all 350ms cubic-bezier(0.215,.61,.215,1);
    -webkit-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
    -moz-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
    -o-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite
}
.loading:after {
    content: "";
    position: absolute;
    top: 60px;
    left: 60px;
    right: 60px;
    bottom: 60px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #fe7004;
    transition: all 350ms cubic-bezier(0.215,.61,.215,1);
    -webkit-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
    -moz-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
    -o-transition: all 350ms cubic-bezier(0.215,.61,.215,1);
    -webkit-animation: spin .75s linear infinite;
    animation: spin .75s linear infinite
}
@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg)
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg)
    }
}

.g-sd{position: fixed;width: 250px;}
.g-sd nav li{
    position: relative;
}
.g-sd nav li.active:after {
    content: "";
    position: absolute;
    display: block;
    right: -4px;
    top: 50%;
    margin-top: -4px;
    background-color: #f8f8f8;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.g-sd nav a{
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #333;
    font-size: 14px;
}

.g-sd nav li.active a{
    color: #fff;
    background-color: #337ab7;
}



.g-mn{
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #9E9E9E;
    width: 100%;
}
.g-mnc{
    position: relative;
    height: 100%;
    margin-left: 250px;
    padding: 20px;
    background-color: #f8f8f8;
    border-left: 1px solid #e7e7e7;
    overflow: auto;
}
.g-hd{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: #bdc3c7;
}
.g-ft{
    height: 40px;
    line-height: 40px;
    background-color: #bdc3c7;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
}


/*上传图片*/
.m-item .file{
    width: 780px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.m-item .file .tips{
    margin: 0;
    color: #fc8c42;
}
.m-item .file-list{
    width: 820px;
}
.m-item .file-list .pic{
    width: 244px;
    height: 244px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #ccc;
}
.m-item .file-list .pic .img{
    width: 100%;
}
.user-form .fileBox{
    position: absolute;
    right:0px;
    top:30px;
    width: 250px;
}
#upload{
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    background-color: #ccc;
    text-align: center;
}
#upload .img{
    width: 100%;
}
#upload .fileBtn{
    position: absolute;
    z-index: 1;
    left:0;
    top:0;
    width: 250px;
    height: 250px;
}
#upload .fileBtn .uploadify-button-text{
    width: 250px;
    height: 250px;
    display: block;
}
.uploadify-button{
    position: absolute;
    left:0;
    top:0;
    z-index: 10;
    width: 250px;
    height: 250px;
}
.user-form .fileBox p{
    line-height: 30px;
    text-align: center;
}

.create-item, .previews-item {
    position: relative;
    float: left;
    width: 268px;
    height: 300px;
    padding-top: 20px;
}
.previews-item .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: url(../img/uploadify-cancel.png) center center no-repeat;
}
.previews-item .pic{
    width: 250px;
    height: 250px;
    overflow: hidden;
}
.previews-item .pic img{
    width: 100%;
}
.m-select{
    position: relative;
    z-index: 100;
    width: 100%;
}
.m-select .option,.m-select .editor{
    position: relative;
    cursor: pointer;
    height: 34px;
    padding: 6px 12px;
    padding-right: 25px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.m-select .option:focus,,.m-select .editor:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.m-select .editor .value{
    width: 100%;
    border: none;
}
.m-select .arrow{
    position: absolute;
    top:6px;
    right:20px;
    background-color: #fff;
}
.m-select .arrow em,.m-select .arrow i{
    position: absolute;
    left:0;
    top:0;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 8px;
    border-color: transparent;
    border-style: dashed;
    border-top-style: solid;
    border-top-color: #fff;
}
.m-select .arrow em{
    top:3px;
    border-top-color: #ccc;
}
.m-select .select{
    position: absolute;
    left:-1px;
    top:31px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-top: none;
    display: none;
    max-height: 240px;
    overflow-y: auto;
}
.m-select .select a{
    display: block;
    line-height: 30px;
    text-align: left;
    padding-left: 30px;
    color: #333;
}
.m-select .select a:hover{
    color: #fff;
    text-decoration: none;
}
/*城市插件*/
.m-cities{
    position: relative;
    z-index: 2;
    height: 30px;
    margin-bottom: 10px;
}
.m-cities .tipsinfo{
    line-height: 24px;
    color: #d92222;
}
.m-cities .list{
    position: relative;
    z-index: 2;
    float: left;
    width: 32%;
    margin-right: 1%;
    padding: 3px 0 3px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    background-color: #fff;
}
.m-cities .option{
    line-height: 22px;
    position: relative;
    cursor: pointer;
    padding-right: 25px;

}
.m-cities .arrow{
    position: absolute;
    top:6px;
    right:20px;
    background-color: #fff;
}
.m-cities .arrow em,.m-cities .arrow i{
    position: absolute;
    left:0;
    top:0;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 8px;
    border-color: transparent;
    border-style: dashed;
    border-top-style: solid;
    border-top-color: #fff;
}
.m-cities .arrow em{
    top:3px;
    border-top-color: #ccc;
}
.m-cities .select{
    position: absolute;
    left:-1px;
    top:26px;
    width: 100%;
    height: 210px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-top: none;
    display: none;
}
.m-cities .select li{
    list-style: none;
}
.m-cities .select a{
    display: block;
    line-height: 30px;
    text-align: center;
    color: #333;
}
.m-cities .select a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #ccc;
}

#authTab{
    height: 45px;
}
#authTab li{
    float: left;
    padding:0 15px;
    line-height: 30px;
    margin-right: 5px;
    border: 1px solid #dcdcdc;
    background-color: #eee;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
}
#authTab li.active{
    border-color: #fe7004;
    background-color: #ff9400;
    color: #fff;
}

/*分页组件*/
.sabrosus{
    height: 25px;
    line-height: 25px;
    padding: 50px 0 100px;
    font-size: 0;
    text-align: center;
}
.sabrosus a,.sabrosus span,.sabrosus i{
    display: inline-block;
    line-height: 25px;
    padding:0 9px;
    margin: 0 5px;
    font-size: 14px;
    color: #7c8389;
}
.sabrosus .current{
    color: #fff;
    background-color: #fe7004;
    border-radius: 4px;
}
.sabrosus a:hover{
    color: #fe7004;
}
.sabrosus span.disabled{
    display: none;
}

/*数据加载*/
.loadData{
    width: 164px;
    height: 64px;
    margin:50px auto;
    background:#fff url(../img/loading1.jpg) no-repeat;
}
.notData{
    background-image: url(../img/nodata.jpg);
}

/*菜单*/
.m-info li{
    float: left;
    position: relative;
}
.m-info li .menu-bd{

}

.pop{
    width: 110px;
    position: absolute;
    top: 105px;
    z-index: 990;
    overflow: visible;
    background-color: #fff;
    right: 50%;
    margin-right: -55px;
    border-radius: 6px;
    padding: 6px 0;
    box-shadow: 0 2px 3px rgba(133,133,133,0.65), 1px 0 2px rgba(33,33,33,0.45);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    opacity: 1;
    transform: translate(0,0,0);
}
.tran{
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    border-width: 0 6px 6px 6px;
    width: 0;
    height: 0;
    position: absolute;
    top: -6px;
    right: 50%;
    margin-right: -6px;
    z-index: 999;
}
.pop a {
  display: block;
  line-height: 30px;
  text-align: center;
}
.pop a:nth-of-type(1){
  border-bottom: 1px solid #e6e5e5;
}
.shrink {
    opacity: 0;
    transform: translateY(-500px);
    z-index: -1;
}


/*分页*/
.pagination{
    vertical-align: middle;
}
.pagecode{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.ng-valid-required.ng-invalid-ellipsis{
    border-color: #be0000;
}

/* table sorter */
.tablesorter-header {
    background-image: url(../img/sort-default.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.tablesorter-headerNone {
    background-image: none;
}

.tablesorter-headerAsc {
    background-image: url(../img/sort-asc.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.tablesorter-headerDesc {
    background-image: url(../img/sort-desc.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.tr-odd {
  background-color: #d9edfc;
}
