<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> 主标题 | 副标题</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <style type="text/css">
    .foot{
        position: fixed;
        left:0;
        right: 0;
        bottom: 0;
        height: 100px;
        line-height: 100px;
        background-color: rgba(0,0,0,0.5);
    }
    </style>
  </head>
  <body>
    <p>hello world</p>

    <div class="foot"><a href="tel:400-8515-167">咨询热线   400-8515-167</a></div>
  </body>
</html>
