<div class="main diary">
    <div class="m-tt">
        <h2>我的日记</h2>
    </div>
    <div class="m-ct">
        <div ng-if="diary && diary.length != 0">
            <ul class="list f-cb">
                <li class="add">
                    <div class="btns">
                        <a class="u-btns" ui-sref="diary.add({})"><i class="iconfont">&#xe629;</i>&nbsp;&nbsp;创建装修日记</a>
                    </div>
                </li>
                <li ng-repeat="list in diary track by $index" bindonce="diary">
                    <img my-loadimg data-imgid="{{list.cover_imageid}}" data-imgApi="/api/v2/web/thumbnail2/920/260/" data-imgDefault="/static/img/diary/covers-default.jpg" />
                    <div class="mask"></div>
                    <div class="boxs">
                        <h4 bo-text="list.title"></h4>
                        <div class="tag">
                            <span bo-if="list.house_area"><i bo-text="list.house_area"></i>m&sup2;&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <span bo-if="list.house_type"><i bo-text="list.house_type"></i>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <span bo-if="list.dec_style"><i bo-text="list.dec_style"></i>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <span bo-if="list.work_type"><i bo-text="list.work_type"></i></span>
                        </div>
                    </div>
                    <div class="click" ng-click="goShow(list)"></div>
                    <div class="operate">
                        <a class="btns edit" ui-sref="diary.add({id:list._id})"><i class="iconfont">&#xe627;</i></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pageLoading" ng-if="!diary"></div>
        <div class="add" ng-if="diary && diary.length == 0">
            <p>您还没有装修日记</p>
            <div class="btns">
                <a class="u-btns" ui-sref="diary.add({})"><i class="iconfont">&#xe629;</i>&nbsp;&nbsp;创建装修日记</a>
            </div>
        </div>
    </div>
</div>
