<div class="plans">
	<ul class="m-plans">
		<li bindonce="requirement">
			<div class="boxs">
				<div class="info f-cb">
					<a bo-href-i="/tpl/designer/{{requirement.designer._id}}" class="head f-fl" target="_blank">
						<img bo-src-i="/api/v2/web/thumbnail2/70/70/{{requirement.designer.imageid}}" bo-alt="requirement.designer.username" bo-if="requirement.designer.imageid" />
						<img bo-src="/static/img/user/headPic.png" bo-alt="requirement.designer.username" bo-if="!requirement.designer.imageid" />
					</a>
					<dl style="padding-left:90px;">
						<dt>
							<a bo-href-i="/tpl/designer/{{requirement.designer._id}}" bo-text="requirement.designer.username" target="_blank"></a>
						</dt>
						<dd bo-if="requirement.work_type == 2">
							<span>设计费<strong>&yen;<i bo-text="requirement.plan.total_design_fee"></i></strong></span>
							<span><i class="iconfont2">&#xe625;</i><em bo-text="requirement.designer.phone"></em></span>
						</dd>
						<dd bo-if="requirement.work_type != 2">
							<span>报价<strong>&yen;<i bo-text="requirement.plan.total_price"></i></strong></span>
							<span>工期<strong><i bo-text="requirement.plan.duration"></i>天</strong></span>
							<span>开工日期
								<strong bo-text="requirement.start_at | date : 'yyyy年MM月dd日'"></strong>
							</span>
							<span>承包方式<strong bo-text="requirement.work_type | workTypeFilter"></strong></span>
							<!-- <span><i class="iconfont2">&#xe625;</i><em bo-text="data.designer.phone"></em></span> -->
						</dd>
					</dl>
					<!-- <span bo-class="{'status status4 f-fr':data.status == 4,'status status5 f-fr':data.status == 5,'status status3 f-fr':data.status == 3}">
						<i bo-if="data.status == 4">未中标</i>
						<i bo-if="data.status == 5">已中标</i>
						<i bo-if="data.status == 3">沟通中</i>
					</span> -->
				</div>
				<div class="profile f-cb">
					<h4 class="f-fl">设计说明：</h4>
					<p class="f-fl" bo-text="requirement.plan.description"></p>
				</div>
				<ul class="images">
					<li class="image-list" ng-repeat="img in requirement.plan.images track by $index">
						<!-- <img bo-src-i="/api/v2/web/thumbnail2/280/180/{{img}}" alt=""> -->
						<div class="img">
							<img class="lightBox"
								my-imagelarger my-list="requirement.plan.images"
								bo-src-i="/api/v2/web/thumbnail2/280/180/{{img._id}}"
								bindonce="requirement.plan.images">
            </div>
					</li>
				</ul>
				<div class="price-detail">
					<table class="tab-price-detail">
						<tr class="tr-head">
							<th class="left">项目</th>
							<th class="center">备注说明</th>
							<th class="right">项目总价</th>
						</tr>
						<tr ng-repeat="item in requirement.plan.price_detail track by $index"
								ng-class="$odd?'tr-odd':''">
							<td class="left" bo-text="item.item"></td>
							<td class="center" bo-text="item.description"></td>
							<td class="right" bo-text="item.price"></td>
						</tr>
					</table>

					<div class="proccess-total-price">
						<div class="process-price">
							<p>工程总造价
								<span>
									<strong class="text-delete">&yen;
										<i bo-text="requirement.plan.project_price_before_discount"></i>
									</strong>
								</span>
							</p>
							<p>工程折后价
								<span>
									<strong>&yen;
										<i bo-text="requirement.plan.project_price_after_discount"></i>
									</strong>
								</span>
							</p>
							<p>设计费
								<span>
									<strong>&yen;
										<i bo-text="requirement.plan.total_design_fee"></i>
									</strong>
								</span>
							</p>
						</div>

						<div class="discount-total-price">
							<h2>折后总价</h2>
							<p>
								<strong class="discount-price">&yen;<i bo-text="requirement.plan.total_price"></i></strong>
							</p>
						</div>
					</div>
				</div>

			</div>
		</li>
	</ul>

	<div class="pageLoading" ng-hide="!!requirement"></div>
</div>
