<div class="main add-requirement-page">
	<div class="write-tel" ng-if="!user.sendRequireSuccess">
		<h1><span class="span-tel">填写手机号码</span></h1>
		<p>请输入手机号码，方便我们的客服人员与您联系</p>
		<div class="input-box">
			<form ng-keyup="myKeyup($event)">
				<div class="input-padding">
					<span class="u-lab-user" for="login-account"><i class="user-img"></i></span>
					<input type="text" name="phone" class="btn-tel" placeholder="请输入您的姓名"
					ng-model="user.username" />
				</div>

				<div class="input-padding">
					<span class="u-lab" for="login-account"><i class="iconfont">&#xe606;</i></span>
					<input type="text" name="phone" class="btn-tel" placeholder="请输入手机号码"
					ng-model="user.tel" />
				</div>
				<p class="text-error" ng-if="user.errorText" ng-bind="user.errorText"></p>
			</form>
		</div>
		<div>
			<input type="submit" class="btn-submit" ng-click="sendTel()" value="立即发布" />
		</div>
	</div>

	<div class="write-tel" ng-if="user.sendRequireSuccess">
		<h1 class="send-success">
			<span>
				<i class="iconfont">&#xe608;</i>
			</span>
			发布成功
		</h1>
		<p>我们的客服人员会在24小时内与您联系，请保持电话畅通。</p>
		<input type="button" class="btn-submit" value="确定" ng-click="resetPage()" />
	</div>
</div>
