<div class="main m-requirement" bindonce="requirement" ng-controller="requirementCtrl">
	<div class="m-tt">
		<h2 class="f-fl">
			<span bo-if="requirement.basic_address" bo-text="requirement.basic_address"></span>
			<span bo-if="requirement.detail_address" bo-text="requirement.detail_address"></span>
		</h2>
		<a ui-sref="requirementList" class="f-fr u-btns u-btns-revise returnList">返回需求列表</a>
	</div>
	<div class="m-ct">
		<ul class="tabs">
			<li ng-class="{active: tab==&quot;detail&quot;}">
				<a ui-sref="requirement.detail({id:requiremtneId})">需求详情</a>
			</li>
			<li ng-class="{active: tab==&quot;plan&quot;}"
				ng-if="requirement.status == 7 || requirement.status == 4 ||
				requirement.status == 5 || requirement.status == 8">
				<a ui-sref="requirement.plan({id:requiremtneId})">方案详情</a>
			</li>
			<!-- <li ng-class="{active: tab==&quot;contract&quot;}"
				ng-if="(requirement.status == 4 || requirement.status == 7 ||
				requirement.status == 5 || requirement.status == 8) &&
				requirement.work_type != 2">
				<a ui-sref="requirement.contract({id:requiremtneId})">生成合同</a>
			</li> -->
			<li ng-class="{active: tab==&quot;field&quot;}"
				ng-if="(requirement.status == 5 || requirement.status == 8) &&
				requirement.work_type != 2">
				<a ui-sref="requirement.field({id:requiremtneId})">工地管理</a>
			</li>
			<li ng-class="{active: tab==&quot;fulfill&quot;}"
				ng-if="requirement.status == 8 && requirement.work_type != 2">
				<a ui-sref="requirement.fulfill({id:requiremtneId})">竣工</a>
			</li>
			<li ng-class="{active: tab==&quot;fulfill&quot;}"
				ng-if="requirement.status == 4 && requirement.work_type == 2">
				<a ui-sref="requirement.fulfill({id:requiremtneId})">竣工</a>
			</li>
		</ul>
		<div class="requirement" ng-controller="requirementDetailsCtrl">
			<!--视图模板容器 start-->
			<div ui-view></div>
			<!--视图模板容器 end-->
		</div>
	</div>
</div>
