<h1 class="bs-callout bs-callout-info" ng-bind="processes.cell"></h1>
<p>当前阶段：<span>{{processes.going_on | fieldsNameFilter}}</span></p>
<p>
  创建时间：
  <span>{{processes.create_at | date:'yyyy-MM-dd'}}</span>
  开工时间
  <span>{{processes.start_at | date:'yyyy-MM-dd'}}</span>
</p>
<p>工地位置：
  <span ng-if="processes.province" ng-bind="processes.province"></span>
  <span ng-if="processes.city" ng-bind="processes.city"></span>
  <span ng-if="processes.district" ng-bind="processes.district"></span>
</p>
<p>
  总价：
  <span>{{processes.total_price}} 万元</span>
  工地周期：
  <span>{{processes.duration}} 天</span>
</p>
<p>
  装修风格：
  <span>{{processes.dec_style | decStyleFilter}}</span>
  装修面积：
  <span>{{processes.house_area}} m&sup2;</span>
  装修户型：
  <span>{{processes.house_type | houseTypeFilter}}</span>
  包工类型：
  <span>{{processes.work_type | workTypeFilter}}</span>
</p>
<p>
  设计师信息：<br>
  姓名：
  <span>{{processes.designer.username}}</span>
  电话：
  <span>{{processes.designer.phone}}</span>
</p>
<p>
  业主信息：<br>
  姓名：
  <span>{{processes.user.username}}</span>
  电话：
  <span>{{processes.user.phone}}</span>
</p>
<div ng-repeat="list in processes.sections">
    <h3 class="bs-callout bs-callout-danger">阶段名称：{{list.name | fieldsNameFilter}} <small>当前状态：{{list.status | fieldstatusFilter}}</small></h3>
    <p>
      开始时间：
      <span>{{list.start_at | date:'yyyy-MM-dd'}}</span>
      结束时间
      <span>{{list.end_at | date:'yyyy-MM-dd'}}</span>
    </p>
    <h4 class="alert alert-warning">施工项目</h4>
    <div class="panel panel-default" ng-repeat="items in list.items">
        <div class="panel-heading">
          <h5>项目名称：{{items.name | fieldsNameFilter}} <small>当前状态：{{items.status | fieldstatusFilter}}</small></h5>
        </div>
        <div class="panel-body">
          <img ng-repeat="img in items.images" ng-src="/api/v2/web/thumbnail/100/{{img}}" alt="">
        </div>
        <ul>
          <li ng-repeat="comments in items.comments">
            {{comments}}
          </li>
        </ul>
    </div>
    <h4 class="alert alert-success">验收</h4>
    <div class="panel panel-success">
        <div class="panel-heading">
          <h5>验收时间：{{list.ys.date | date:'yyyy-MM-dd'}}</h5>
        </div>
        <div class="panel-body">
         <img ng-repeat="img in list.ys.images" ng-src="/api/v2/web/thumbnail/100/{{img.imageid}}" alt="">
        </div>
    </div>
</div>
