<div class="contract" bindonce="contract">
	<div class="contract-tips">
		<h3>合同概况</h3>
	</div>
	<div class="contract-main" ng-if="contract._id">
		<div class="info f-cb">
			<span class="head f-fl" bo-if="contract.user._id">
				<img bo-src-i="/api/v2/web/thumbnail/70/{{contract.user.imageid}}" bo-if="contract.user.imageid" bo-alt="contract.user.username">
			</span>
			<dl class="f-fl">
				<dt>
					<strong bo-text="contract.user.username"></strong>
				</dt>
				<dd>
					<i bo-text="contract.designer.province" bo-if="contract.designer.province || contract.designer.province != '请选择省'"></i>
					<i bo-text="contract.designer.city" bo-if="contract.designer.city || contract.designer.city != '请选择市'"></i>
					<i bo-text="contract.designer.district" bo-if="contract.designer.district || contract.designer.district != '请选择县/区'"></i>
				</dd>
				<dd><i>手机</i><span bo-text="contract.user.phone"></span></dd>
			</dl>
		</div>
		<div class="list">
			<dl>
				<dt>工程期限</dt>
				<dd ng-if="contract.status == 4">总工期：<strong bo-text="contract.plan.duration"></strong>天，开工日期 <strong></strong> 年 <strong></strong> 月 <strong></strong> 日，竣工日期 <strong></strong> 年 <strong></strong> 月 <strong></strong> 日。</dd>
				<dd ng-if="contract.status == 7 || contract.status == 5">总工期：<strong bo-text="contract.plan.duration"></strong>天，开工日期<strong bo-text="contract.start_at | date : 'yyyy'"></strong>年<strong bo-text="contract.start_at | date : 'MM'"></strong>月<strong bo-text="contract.start_at | date : 'dd'">19</strong>日，竣工日期<strong bo-text="contract.start_at | contractEndTime : contract.plan.duration | date : 'yyyy'"></strong>年<strong bo-text="contract.start_at | contractEndTime : contract.plan.duration | date : 'MM'"></strong>月<strong bo-text="contract.start_at | contractEndTime : contract.plan.duration | date : 'dd'"></strong>日。</dd>
			</dl>
			<dl>
				<dt>工程价款</dt>
				<dd>本工程装修合同总价为人民币（大写）<strong bo-text="contract.total_price*10000 | chineseNumber"></strong>元（&yen;<strong bo-text="contract.total_price*10000"></strong>元 ）; 承包方式:   <strong bo-text="contract.work_type | workTypeFilter"></strong>（半包、全包）。</dd>
			</dl>
		</div>
	</div>
	<div class="contract-btns" ng-if="contracts.btnsBox">
		<a href="javascript:;" onclick="window.open('../other/agreement.html','maxwindow','toolbar=no,width=1000,location=no,directories=no,menubar=no,scrollbars=yes,resizable=no,status=no');" class="u-btns u-btns-revise">查看第三方合同</a>
		<a href="javascript:;" class="u-btns" ng-click="contracts.setStartDate()" bo-if="contract.status == 4">设置开工日期</a>
		<a ng-click="goTo(detail._id,'0')" class="u-btns hide">下载第三方合同</a>
	</div>
	<div class="contract-startDate" ng-if="contracts.motaiStartDate">
		<dl>
			<dt>请设置开工日期</dt>
			<dd>
				<div my-date my-query="contracts.startDate" my-set="year-month-days"></div>
			</dd>
		</dl>
		<div class="btns">
			<a href="javascript:;" class="u-btns u-btns-revise" ng-click="contracts.setCancelBtn()">&nbsp;&nbsp;取消&nbsp;&nbsp;</a>
			<a href="javascript:;" class="u-btns" ng-click="contracts.setDefineBtn()">&nbsp;&nbsp;确定&nbsp;&nbsp;</a>
		</div>
	</div>
</div>