<div class="m-plan">
	<div class="plans-tt f-cb">
		<h3 class="f-fl">提交装修方案</h3>
	</div>
	<div class="plans-ct" bindonce="plan" ng-if="plan">
		<div class="boxs detail" ng-show="designerPlan.tab">
			<form name="create" ng-submit="designerPlan.submit()" novalidate>
				<div class="k-form release">
					<div class="m-boxs">
						<div class="m-item f-cb">
							<div class="item">
								<label class="u-lab" for="owner-name">业主姓名</label>
								<div class="u-inp">
									<div class="input disabled" ng-bind="designerPlan.username"></div>
								</div>
							</div>
						</div>
						<div class="m-item f-cb" ng-if="designerPlan.worktype != 2">
							<div class="item">
								<label class="u-lab" for="owner-sex">工期</label>
								<div class="u-inp">
									<input type="text" class="input" ng-model="plan.duration" model-format="int" placeholder="请输入整数" my-placeholder required />
									<span class="unit">天</span>
								</div>
							</div>
						</div>
						<div class="m-item f-cb" ng-if="designerPlan.worktype == 2">
							<div class="item">
								<label class="u-lab" for="owner-sex">设计费</label>
								<div class="u-inp">
									<input type="text" class="input" ng-model="plan.total_design_fee" model-format="int" placeholder="请输入整数" my-placeholder required />
									<span class="unit">元</span>
								</div>
							</div>
						</div>
						<div class="m-item f-cb" ng-if="designerPlan.worktype != 2">
							<div class="item">
								<label class="u-lab" for="owner-email">报价</label>
								<div class="u-inp">
									<div class="input quote" ng-click="designerPlan.tabBtn(false)">
										<input type="hidden" ng-model="plan.total_price" required />
										<div ng-bind="plan.total_price | number"></div>
										<span class="unit">元</span>
									</div>
								</div>
							</div>
						</div>
						<div class="m-item f-cb">
							<div class="item">
								<label class="u-lab" for="owner-email">方案说明</label>
								<div class="u-inp">
									<textarea class="input long textarea" rows="10" ng-model="plan.description" ng-focus="comment.focus()" ng-blur="comment.blur()" required></textarea>
								</div>
							</div>
						</div>
						<div class="m-item f-cb" ng-if="designerPlan.worktype != 2">
							<div class="item">
								<label class="u-lab">项目经理</label>
								<div class="u-inp" style="z-index:100">
										<input type="hidden" ng-model="plan.manager" required />
										<div my-selectn my-list="designerPlan.managers" my-query="plan.manager" ng-if="plan.manager && designerPlan.managers.length"></div>
										<a ui-sref="addteam" class="u-btns" style="display:node;" ng-show="designerPlan.addteam">请先添加一名项目经理再提交方案</a>
								</div>
							</div>
						</div>
						<div class="m-item f-cb">
							<div class="item">
								<label class="u-lab" for="owner-addr">上传平面图</label>
								<div class="u-inp insertimage">
									<input type="hidden" ng-model="plan.images.length" check-images required />
									<div my-insertimage my-query="plan.images" ng-if="plan" my-type="default"></div>
								</div>
							</div>
						</div>
						<div class="m-item m-error-info" ng-if="error_info" ng-bind="error_info"></div>
					</div>
					<div class="m-btns">
						<input type="submit" class="u-btns" ng-if="!designerPlan.isCreate" ng-class="{'u-btns-disabled':create.$invalid || designerPlan.disabled}" ng-disabled="create.$invalid || designerPlan.disabled" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
						<input type="submit" class="u-btns" ng-if="designerPlan.isCreate" ng-class="{'u-btns-disabled':create.$invalid || designerPlan.disabled}" ng-disabled="create.$invalid || designerPlan.disabled" value="&nbsp;&nbsp;修改&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</div>
		<div class="boxs quotes" class="hide" ng-show="!designerPlan.tab">
			<form name="quote" novalidate>
				<div class="table">
					<table>
						<thead>
							<tr class="title">
								<th class="td1"><span>项目</span></th>
								<th class="td2"><span>项目总价(元)</span></th>
								<th class="td3"><span>备注说明</span></th>
								<th class="td4">&nbsp;&nbsp;&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr class="tbody">
								<td>&nbsp;&nbsp;&nbsp;</td>
							</tr>
							<tr ng-repeat="list in plan.price_detail">
								<td class="td1"><span bo-text="list.item"></span></td>
								<td class="td2"><input type="text" class="input" placeholder="请输入8位以内整数" my-placeholder ng-model="list.price" ng-blur="designerPlan.computePrice()" model-format="int" /></td>
								<td class="td3"><input type="text" ng-model="list.description" /></td>
								<td class="td4"><a href="javascript:;" ng-click="designerPlan.remove_price_detail($index)"><i class="iconfont2">&#xe619;</i></a></td>
							</tr>
							<tr class="tbody">
								<td>&nbsp;&nbsp;&nbsp;</td>
							</tr>
						</tbody>
						<tfoot>
							<tr class="create">
								<td>&nbsp;&nbsp;&nbsp;</td>
								<td colspan="2"><span class="new"><input type="text" ng-model="designerPlan.add_price_detail_name" placeholder="请输入新添加项目名称" my-placeholder ng-bind="designerPlan.computeTotalprice()" /></span><a href="javascript:;" ng-click="designerPlan.add_price_detail()"><i class="iconfont2">&#xe603;</i></a></td>
								<td>&nbsp;&nbsp;&nbsp;</td>
							</tr>
							<tr class="footer">
								<td class="td1"><span>工程折后价(元)</span></td>
								<td class="td2"><input type="text" placeholder="请输入8位以内整数" my-placeholder ng-model="plan.project_price_after_discount" ng-bind="designerPlan.computeTotalprice()" model-format="int" /></td>
								<td class="td3"><span>设计费(元)</span><span class="designFee"><input type="text" placeholder="请输入8位以内整数" my-placeholder ng-model="plan.total_design_fee" model-format="int" /></span></td>
								<td class="td4">&nbsp;&nbsp;&nbsp;</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="price f-cb">
					<dl class="f-fl">
						<dt>工程总造价</dt>
						<dd><span ng-if="plan.project_price_before_discount"><s ng-bind="plan.project_price_before_discount | number"></s>元</span></dd>
					</dl>
					<dl class="f-fl">
						<dt>工程折后价</dt>
						<dd><span ng-if="plan.project_price_after_discount"><em ng-bind="plan.project_price_after_discount | number"></em>元</span></dd>
					</dl>
					<dl class="f-fl">
						<dt>设计费</dt>
						<dd><span ng-if="plan.total_design_fee"><em ng-bind="plan.total_design_fee | number"></em>元</span></dd>
					</dl>
					<dl class="f-fr">
						<dt>折后总价</dt>
						<dd><span ng-if="plan.total_price"><strong ng-bind="plan.total_price | number"></strong>元</span></dd>
					</dl>
				</div>
				<div class="btns">
					<input type="button" value="&nbsp;&nbsp;创建报价&nbsp;&nbsp;" class="u-btns" ng-class="{'u-btns-disabled':quote.$invalid}" ng-disabled="quote.$invalid" ng-click="designerPlan.createQuote()">
				</div>
			</form>
		</div>
	</div>
	<div class="pageLoading" ng-hide="!!plan"></div>
</div>
