<div class="detail">
	<div class="detail-drid" bindonce="detail">
		<ul>
			<li>
				<div class="span">
					<strong>业主姓名</strong>
					<span bo-text="detail.user.username"></span>
				</div>
			</li>
			<li>
				<div class="span">
					<strong>装修城市</strong>
					<span bo-text="detail.area"></span>
				</div>
			</li>
			<li>
				<div class="span">
					<strong>所属街道/路</strong>
					<span bo-text="detail.street"></span>
				</div>
			</li>
			<li>
				<div class="span">
					<strong>位置</strong>
					<span bo-text="detail.property"></span>
				</div>
			</li>
			<li>
				<div class="span">
					<strong>装修类别</strong>
					<span bo-text="detail.dec_type"></span>
				</div>
			</li>
			<li>
				<div class="span f-fl">
					<strong>户型</strong>
					<span bo-text="detail.house_type"></span>
				</div>
				<div class="span f-fl">
					<strong>计划常住成员</strong>
					<span bo-text="detail.family_description"></span>
				</div>
			</li>
			<li>
				<div class="span f-fl">
					<strong>装修面积</strong>
					<span><i bo-text="detail.house_area"></i>m&sup2;</span>
				</div>
				<div class="span f-fl">
					<strong>风格喜好</strong>
					<span bo-text="detail.dec_style"></span>
				</div>
			</li>
			<li>
				<div class="span f-fl">
					<strong>包工类型</strong>
					<span bo-text="detail.work_type"></span>
				</div>
				<div class="span f-fl">
					<strong>装修预算</strong>
					<span><i bo-text="detail.total_price"></i>万元</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="detail-btns" ng-if="detail.status == '0'">
		<a ui-sref="revise({id:detail._id})" class="u-btns u-btns-revise">修改装修需求</a>
		<a ng-click="goTo(detail._id,'0')" class="u-btns">前往预约量房</a>
	</div>
</div>