<div class="main">
	<div class="m-tt">
		<h2>身份认证</h2>
	</div>
	<div class="m-ct">
		<div class="inofTips"><i class="iconfont2">&#xe612;</i>仅通过身份认证的设计师才能接单和收款</div>	
		<form name="idcard">
			<div class="k-form">
				<div class="m-boxs">
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-name">真实姓名</label>
							<div class="u-inp">
								<input type="text" class="input" ng-model="designer.username" required />
								<p>收款用，一定填写真实的姓名</p>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-sex">身份证号</label>
							<div class="u-inp">
								<input type="text" class="input" ng-model="designer.uid" required ng-pattern="/^(\d{6})(18|19|20)?(\d{2})([01]\d)([0123]\d)(\d{3})(\d|X)?$/" />
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-email">开户银行</label>
							<div class="u-inp">
								<div my-selectn my-list="bankList" my-query="designer.bank"></div>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab">银行卡号</label>
							<div class="u-inp">
								<input type="text" class="input" ng-model="designer.bank_card" required ng-pattern="/^[1-9]*[1-9][0-9]*$/" ng-minlength="15" ng-maxlength="20" />
			
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="dec_area">上传身份证正面照</label>
							<div class="u-inp">
								<div class="" data-boxData="{'width':'250px','height':'120px'}">
									<div my-otheruploade my-query="designer.uid_image1"></div>
								</div>				
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-addr">上传身份证反面照</label>
							<div class="u-inp">
								<div class="" data-boxData="{'width':'250px','height':'120px'}">
									<div my-otheruploade my-query="designer.uid_image2"></div>
								</div>	
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-addr">银行卡正面照片</label>
							<div class="u-inp">
								<div class="" data-boxData="{'width':'250px','height':'120px'}">
									<div my-otheruploade my-query="designer.bank_card_image1"></div>
								</div>	
							</div>
						</div>
					</div>
					<div class="m-item m-error-info hide" id="error-info"></div>
				</div>
				<div class="m-btns">
					<input type="button" class="u-btns" ng-disabled="myForm.$invalid" ng-click="designerIdcard.send(idcard.$valid)" value="提交认证" />
				</div>
			</div>
		</form>
	</div>
</div>