<div class="plans">
	<div class="plans-tips">
		<p class="f-fl">装修方案摘要</p>
	</div>
	<ul class="m-plans">
		<li bindonce="plans" ng-repeat="data in plans">
			<div class="boxs">
				<div class="info f-cb">
					<a bo-href-i="../design/homepage.html?{{data.designer._id}}" class="head f-fl">
						<img bo-src="data.imageSrc" bo-alt="data.designer.username" />
					</a>
					<dl class="f-fl">
						<dt>
							<a bo-href-i="../design/homepage.html?{{data.designer._id}}" bo-text="data.designer.username"></a>
							<span><i>V</i>认证设计师</span>
							的方案
						</dt>
						<dd>报价   ￥<i bo-text="data.total_price"></i>    工期   <i bo-text="data.duration"></i>天<i>手机</i><span bo-text="data.designer.phone"></span></dd>
					</dl>
					<span class="status f-fr"></span>
				</div>
				<div class="profile f-cb">
					<h4 class="f-fl">设计说明：</h4>
					<p class="f-fl" bo-text="data.description"></p>
				</div>
				<div class="images">
					<img bo-src="img" alt="" ng-repeat="img in data.planImages track by $index" />
				</div>
				<div class="select">
					<a href="" class="msg f-fl">留言 (<i>6</i>)</a>
					<div class="btns f-fr">
						<a bo-href-i="plans.html#/detail/{{data._id+'&'+data.requirementid}}" class="u-btns u-btns-revise" target="_blank">预览方案</a>
						<a href="javascript:;" class="u-btns" ng-hide="{{requirement.status == 4}}" ng-click="definePlan(data._id,data.designer._id)">选定方案</a>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>