<div class="owenr">
	<div class="owenr-tips">
		<p class="f-fl">装修需求摘要</p>
	</div>
	<div class="owenr-boxs" bindonce="detail">
		<div class="info f-cb">
			<a bo-href-i="../design/homepage.html?{{data.designer._id}}" class="head f-fl">
				<img bo-src="data.imageSrc" bo-alt="data.designer.username" />
			</a>
			<dl class="f-fl">
				<dt>
					<a bo-href-i="../design/homepage.html?{{data.designer._id}}" bo-text="data.designer.username"></a>
					<span><i>V</i>认证设计师</span>
					的方案
				</dt>
				<dd>报价   ￥<i bo-text="data.total_price"></i>    工期   <i bo-text="data.duration"></i>天<i>手机</i><span bo-text="data.designer.phone"></span></dd>
			</dl>
			<span class="status f-fr"></span>
		</div>
		<div class="profile f-cb">
			<h4 class="f-fl">设计说明：</h4>
			<p class="f-fl" bo-text="data.description"></p>
		</div>
		<div class="images">
			<img bo-src="img" alt="" ng-repeat="img in data.planImages track by $index" />
		</div>
		<div class="select">
			<div class="btns f-fr" ng-if="detail.status == 1">
				<a href="javascript:;" class="u-btns u-btns-revise" target="_blank" ng-click="">响应</a>
				<a href="javascript:;" class="u-btns" ng-hide="{{requirement.status == 4}}" ng-click="definePlan(data._id,data.designer._id)">拒绝</a>
			</div>
			<div class="btns f-fr" ng-if="detail.plan.status == 2">
				<a bo-href-i="plans.html#/detail/{{data._id+'&'+data.requirementid}}" class="u-btns u-btns-revise" target="_blank">量房时间设置</a>
			</div>
			<div class="btns f-fr" ng-if="detail.plan.status == 2">
				您已经提交量房时间，等候业主确认，才能上传方案
			</div>
			<div class="btns f-fr" ng-if="detail.plan.status == 6 || detail.plan.status == 3">
				<a bo-href-i="scheme_create.html?{{detail._id+'&'+detail.user._id}}&create" class="u-btns u-btns-revise" target="_blank">提交方案</a>
				<!-- <a bo-href-i="plans.html#/create/{{data._id+'&'+data.requirementid}}" class="u-btns u-btns-revise" target="_blank">提交方案</a> -->
			</div>
		</div>
	</div>
</div>
