<div class="main">
	<div class="m-tt">
		<h2 class="f-fl">我的作品列表</h2>
	</div>
	<div class="m-ct m-productList">
		<ul class="list f-cb">
			<li ng-repeat="list in productList" bindonce="productList">
				<div class="boxs f-fl">
					<h4>
						<a bo-href-i="../design/detail.html?{{list._id}}"  target="_blank">
							<span bo-if="list.province">
								<i bo-text="list.province"></i> 
								<i bo-text="list.city"></i>
								<i bo-text="list.district"></i>
							</span>
							<span bo-if="list.cell"><i bo-text="list.cell"></i></span>
						</a>
						<span class="status" ng-switch="list.auth_type">
							<i ng-switch-when="0" class="authStatus1">未提交</i>
							<i ng-switch-when="1" class="authStatus0">认证中</i>
							<i ng-switch-when="2" class="authStatus2">认证成功</i>
							<i ng-switch-when="3" class="authStatus3">认证失败</i>
							<i ng-switch-when="4" class="authStatus4">违规屏蔽</i>
						</span>
						</h4>
					<div class="tag">
						<span bo-if="list.dec_style"><i bo-text="list.dec_style"></i></span><em>|</em><span bo-if="list.house_type"><i bo-text="list.house_type"></i></span><em>|</em><span bo-if="list.work_type"><i bo-text="list.work_type"></i></span>
					</div>
				</div>
				<div class="select f-fr">
					<a ui-sref="revise({id:list._id})" class="editor"><i>编辑</i></a><a href="javascript:;" class="remove" ng-click="deleteProduct(list._id)"><i>删除</i></a>
				</div>
			</li>
		</ul>
		<div my-pageing page-object="pageing" page-callback="callback" ng-if="productList"></div>
	</div>
</div>
