<div class="main">
	<div class="m-tt">
		<h2 class="f-fl">我的装修需求列表</h2>
	</div>
	<div class="m-ct">
		<div class="m-index m-requirementList">
			<ul class="list">
				<li ng-if="requiremtnes.length == 0">
					<div class="ct">您还没有装修需求哟，修改接单资料和上传作品，更容易获得业主预约</div>
					<div class="btns">
						<a ui-sref="service" class="u-btns">前往修改</a>
						<a ui-sref="addProduct" class="u-btns">上传作品</a>
					</div>
				</li>
				<li bindonce ng-repeat="data in requiremtnes" ng-click="goTo(data._id,data.status)">
					<div class="boxs">
						<div class="tt f-cb">
							<h4 class="f-fl">
								<strong>物业地址</strong>
								<span bo-if="data.province"><i bo-text="data.province"></i></span>
								<span bo-if="data.city"><i bo-text="data.city"></i></span>
								<span bo-if="data.district"><i bo-text="data.district"></i></span>
								<span bo-if="data.street"><i bo-text="data.street"></i></span>
								<span bo-if="data.cell"><i bo-text="data.cell"></i>小区</span>
								<span bo-if="data.cell_phase"><i bo-text="data.cell_phase"></i>期</span>
								<span bo-if="data.cell_building"><i bo-text="data.cell_building"></i>栋</span>
								<span bo-if="data.cell_unit"><i bo-text="data.cell_unit"></i>单元</span>
								<span bo-if="data.cell_detail_number"><i bo-text="data.cell_detail_number"></i>室</span>
							</h4>
							<div class="progress f-fr">
								<div class="bar">
									<div class="in in{{data.plan.status}}"></div>
								</div>
								<p ng-switch="data.plan.status">
									<i ng-switch-when="0">等待响应预约</i>
									<i ng-switch-when="1">等待响应预约</i>
									<i ng-switch-when="2">等待业主确认量房</i>
									<i ng-switch-when="3">等待业主选择方案</i>
									<i ng-switch-when="4">方案未选中</i>
									<i ng-switch-when="5">方案被选中</i>
									<i ng-switch-when="6">提交方案中</i>
									<i ng-switch-when="7">未响应业主</i>
									<i ng-switch-when="8">未上传方案</i>
								</p>
							</div>
						</div>
						<div class="tag">
							<span bo-if="data.dec_style"><i bo-text="data.dec_style"></i></span>
							<span bo-if="data.work_type"><i bo-text="data.work_type"></i></span>
							<span bo-if="data.house_type"><i bo-text="data.house_type"></i></span>
							<span bo-if="data.house_area"><i bo-text="data.house_area"></i>m&sup2;</span>
							<span bo-if="data.total_price"><i bo-text="data.total_price"></i>万元</span>
						</div>
						<div class="time">
							<i></i><span ng-bind="data.countdown"></span>
						</div>
					</div>
				</li>
			</ul>
			<div class="pageLoading" ng-hide="!!requiremtnes"></div>
		</div>
	</div>
</div>
