<div class="main m-service">
	<div class="m-tt">
		<h2>接单资料</h2>
	</div>
	<div class="m-ct">
		<div class="inofTips"><i class="iconfont2">&#xe612;</i>接单资料修订后，保存即生效</div>
		<form name="myService" ng-submit="service.submit(myService.$valid)" novalidate>
			<div class="k-form" ng-if="designerService">
				<div class="m-boxs">
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-name">装修类型</label>
							<div class="u-inp">
								<div my-radio my-list="service.decType" my-query="designerService.dec_types" my-selects="0"></div>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-name">包工类型</label>
							<div class="u-inp">
								<div my-radio my-list="service.workType" my-query="designerService.work_types" my-selects="0"></div>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-name">擅长风格<span>最多三个</span></label>
							<div class="u-inp">
								<div my-radio my-list="service.decStype" my-query="designerService.dec_styles" my-selects="3"></div>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="dec_area">接单区域</label>
							<div class="u-inp">
								<div my-cities my-list="service.address" my-province="designerService.province" my-city="designerService.city"></div>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-name">意向接单户型<span>最少1项</span></label>
							<div class="u-inp">
								<div my-radio my-list="service.houseType" my-query="designerService.dec_house_types" my-selects="0"></div>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-name">设计费报价<span>元/m&sup2;</span></label>
							<div class="u-inp">
								<div my-radio my-list="service.designFee" my-query="designerService.design_fee_range" my-selects="1"></div>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-name">施工费报价<span>元/m&sup2;</span></label>
							<div class="u-inp">
								<ul class="dec-fee">
									<li>半包<input type="text" class="input" check-number ng-model="designerService.dec_fee_half" required />元以上</li>
									<li>全包<input type="text" class="input" check-number ng-model="designerService.dec_fee_all" required />元以上</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-name">习惯沟通方式</label>
							<div class="u-inp">
								<div my-radio my-list="service.designType" my-query="designerService.communication_type" my-selects="1"></div>
							</div>
						</div>
					</div>
					<div class="m-item m-error-info hide" id="error-info"></div>
				</div>
				<div class="m-btns">
					<input type="button" class="u-btns" ng-class="{'u-btns-disabled':myService.$invalid}" ng-disabled="myService.$invalid" id="owner-submit" ng-click="service.submit()" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" />
				</div>
			</div>
		</form>
		<div class="pageLoading" ng-hide="!!designerService"></div>
	</div>
</div>
<div class="k-motai" ng-if="service.motaiDone">
	<div class="motai done">
		<span class="done-icon"></span>
		<h3>设置成功！</h3>
		<p>提交成功文案，您已经提交成功您可以做很多事情，敬请期待。</p>
		<a href="javascript:;" class="u-btns" ng-click="service.scoreDefineBtn()">&nbsp;发布作品&nbsp;</a>
	</div>
</div>