<div class="main m-team">
	<div class="m-tt">
		<h2 class="f-fl">添加施工团队</h2>
		<a ui-sref="teamList" class="u-btns u-btns-revise f-fr">返回施工团队列表</a>
	</div>
	<div class="m-ct">
		<form name="myTeam" ng-if="team" ng-submit="designerTeam.submit()" novalidate>
			<div class="k-form">
				<div class="m-boxs">
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-name">项目经理</label>
							<div class="u-inp">
								<input type="text" class="input" ng-model="team.manager" required />
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-sex">性别</label>
							<div class="u-inp">
								<div class="radio">
									<div my-radio my-radioobj="designerTeam.userSex"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="dec_area">所在地区</label>
							<div class="u-inp">
								<div my-cities my-list="designerTeam.cities_list" my-province="team.province" my-city="team.city" my-district="team.district" ng-if="team.province"></div>				
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-email">身份证号</label>
							<div class="u-inp">
								<input type="text" class="input" ng-model="team.uid" ng-pattern="/^(\d{6})(18|19|20)?(\d{2})([01]\d)([0123]\d)(\d{3})(\d|X)?$/" />
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab">曾就职装饰公司</label>
							<div class="u-inp">
								<input type="text" class="input" ng-model="team.company" />
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-addr">从业年限</label>
							<div class="u-inp">
								<input type="text" class="input" ng-model="team.work_year" check-number />
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-addr">擅长工种</label>
							<div class="u-inp">
								<div my-selectn my-list="designerTeam.goodAtList" my-query="team.good_at"></div>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-addr">正在施工工地</label>
							<div class="u-inp">
								<input type="text" class="input" ng-model="team.working_on" />
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="dec_area">上传身份证正面照</label>
							<div class="u-inp">
								<div class="" data-boxData="{'width':'250px','height':'120px'}">
									<div my-otheruploade my-query="team.uid_image1"></div>
								</div>				
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab" for="owner-addr">上传身份证反面照</label>
							<div class="u-inp">
								<div class="" data-boxData="{'width':'250px','height':'120px'}">
									<div my-otheruploade my-query="team.uid_image2"></div>
								</div>	
							</div>
						</div>
					</div>
					<div class="m-item m-error-info hide" id="error-info"></div>
				</div>
				<div class="m-btns">
					<input type="submit" class="u-btns" ng-class="{'u-btns-disabled':myTeam.$invalid || designerTeam.disabled}" ng-disabled="myTeam.$invalid || designerTeam.disabled" value="&nbsp;&nbsp;确定&nbsp;&nbsp;" />
				</div>
			</div>
		</form>
		<div class="pageLoading" ng-hide="!!team"></div>
	</div>
</div>