.user-page .modal .modal-dialog{
	min-width: 800px;
}
.user-page .modal .modal-dialog .modal-body .row{
	margin: 0;
}
.user-page .modal .modal-dialog .modal-body .form-group label{
	line-height: 34px;
	font-size: 14px;
}
.user-page .modal .modal-dialog .modal-body .form-group input{
	color: #6b6b6b;
	background-color: transparent;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
}
.user-page .modal .modal-dialog .value{
	font-size: 13px;
	color: #fff;
}

.user-info-page .breadcrumb{
	padding: 0;
}

.assignDesigner-page .assigned{
	color: #044c45;
}

.user-requirement-page .has-checked{
	color: #044c45;
}
