<!DOCTYPE HTML>
<html lang="zh-CN" id="docHTml">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>简繁家</title>
    <meta name="description" content="简繁家互联网装修，轻松报价，轻松装修">
    <meta name="keywords" content="简繁家，互联网装修平台，轻松报价，轻松装修">
    <meta name="format-detection" content="telephone=no,email=no" />
    <link href="../../favicon.ico" rel="shortcut icon" type="image/x-icon">
  </head>

  <body>
    <div>
      <%= JSON.stringify(data) %>
    </div>
  </body>

</html>
