<div class="m-plan">
	<div class="plans-tt f-cb">
		<h3 class="f-fl">提交装修方案</h3>
	</div>
	<div class="plans-ct" bindonce="plan" ng-if="designerPlan.loading">
		<div class="boxs detail" ng-show="designerPlan.tab">
			<form name="create" ng-submit="designerPlan.submit()" novalidate>
				<div class="k-form release">
					<div class="m-boxs">
						<div class="m-item f-cb">
							<div class="item">
								<label class="u-lab" for="owner-name">业主姓名</label>
								<div class="u-inp">
									<div class="input disabled" ng-bind="designerPlan.username"></div>
								</div>
							</div>
						</div>
						<div class="m-item f-cb" ng-if="designerPlan.tab && ((plan.requirement.work_type == 0 || plan.requirement.work_type == 1) || (designerPlan.worktype == 0 || designerPlan.worktype == 1))">
							<div class="item">
								<label class="u-lab" for="owner-sex">工期</label>
								<div class="u-inp">
									<input type="text" class="input" ng-model="plan.duration" model-format="int" placeholder="请输入整数" my-placeholder required />
									<span class="unit">天</span>
								</div>
							</div>
						</div>
						<div class="m-item f-cb" bo-if="designerPlan.worktype == 2 || plan.requirement.work_type == 2">
							<div class="item">
								<label class="u-lab" for="owner-sex">设计费</label>
								<div class="u-inp">
									<input type="text" class="input" ng-model="plan.total_design_fee" model-format="int" placeholder="请输入整数" my-placeholder required />
									<span class="unit">元</span>
								</div>
							</div>
						</div>
						<div class="m-item f-cb" >
							<div class="item">
								<label class="u-lab" for="owner-email">报价</label>
								<div class="u-inp">
									<div class="input quote" ng-click="designerPlan.tabBtn()">
										<div ng-bind="plan.total_price | number"></div>
										<span class="unit">元</span>
									</div>
								</div>
							</div>
						</div>
						<div class="m-item f-cb">
							<div class="item">
								<label class="u-lab" for="owner-email">方案说明</label>
								<div class="u-inp">
									<textarea class="input long textarea" rows="10" ng-model="plan.description" ng-focus="comment.focus()" ng-blur="comment.blur()" required></textarea>
								</div>
							</div>
						</div>
						<div class="m-item f-cb">
							<div class="item">
								<label class="u-lab" for="owner-addr">上传平面图</label>
								<div class="u-inp insertimage">
									<div my-insertimage my-query="plan.images" ng-if="plan" my-type="default"></div>
								</div>
							</div>
						</div>
					</div>
					<div my-alert type="warning" ng-if="designerPlan.error" close="designerPlan.close()" data-dismiss-on-timeout="3000" text="{{designerPlan.errormsg}}"></div>
					<div class="m-btns">
						<input type="submit" class="u-btns" ng-if="!designerPlan.isCreate" ng-class="{'u-btns-disabled':create.$invalid || designerPlan.disabled}" ng-disabled="create.$invalid || designerPlan.disabled" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
						<input type="submit" class="u-btns" ng-if="designerPlan.isCreate" ng-class="{'u-btns-disabled':create.$invalid || designerPlan.disabled}" ng-disabled="create.$invalid || designerPlan.disabled" value="&nbsp;&nbsp;修改&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="pageLoading" ng-hide="designerPlan.loading"></div>
</div>
