<div class="Backdrop">
	<div class="m-tt">
		<h2 class="title" ng-bind="$state.current.title"></h2>
	</div>
	<div class="m-ct" ng-if="isLoading">
		<div class="main">
			<div class="m-phone m-info">
				<div class="todo">
					<div class="infoTips"><i class="iconfont">&#xe612;</i>仅通过身份认证的设计师才能收款</div>
					<form name="idcard" ng-submit="designerIdcard.send(idcard.$valid)" novalidate>
						<div class="k-form">
							<div class="m-boxs">
								<div class="m-item f-cb">
									<div class="item">
										<label class="u-lab"><i class="required-icon"></i>真实姓名</label>
										<div class="u-inp">
											<input type="text" class="input" ng-model="designerUId.realname" required />
											<p>收款用，一定填写真实的姓名</p>
										</div>
										<div class="u-error">
											<span ng-show="idcard.uid.$dirty && idcard.uid.$error.required" class="has-error">不能为空</span>
										</div>
									</div>
								</div>
								<div class="m-item f-cb">
									<div class="item">
										<label class="u-lab"><i class="required-icon"></i>身份证号<span>15或18位</span></label>
										<div class="u-inp">
											<input type="text" class="input" ng-model="designerUId.uid" required placeholder="请输入15位或者18位或17位带X身份证号码" my-placeholder ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/" name="uid" />
										</div>
										<div class="u-error">
											<span ng-show="idcard.uid.$dirty && idcard.uid.$error.pattern" class="has-error">必须为15位或者18位或带X身份证号码</span>
											<span ng-show="idcard.uid.$dirty && idcard.uid.$error.required" class="has-error">不能为空</span>
										</div>
									</div>
								</div>
								<div class="m-item f-cb">
									<div class="item">
										<label class="u-lab"><i class="required-icon"></i>上传身份证正面照</label>
										<div class="u-inp">
											<div class="uid_image uid_image1 f-fl">
												<div my-simpleupload id="designer_uid_image1" my-id="designer_uid_image1" my-query="designerUId.uid_image1" data-scale="1.585" my-loading="designerIdcard.images_loading" my-width="248" my-height="156"></div>
											</div>
											<div class="uid_example f-fl">
												<h4 class="f-fl">示例</h4>
												<img class="f-fl" src="/static/img/user/uid_example1.jpg" alt="身份证正面示例图片">
												<p class="f-fl">证件上文字清晰可见</p>
											</div>
										</div>
									</div>
								</div>
								<div class="m-item f-cb">
									<div class="item">
										<label class="u-lab"><i class="required-icon"></i>上传身份证反面照</label>
										<div class="u-inp">
											<div class="uid_image uid_image2 f-fl">
												<div my-simpleupload id="designer_uid_image2" my-id="designer_uid_image2" my-query="designerUId.uid_image2" data-scale="1.585" my-loading="designerIdcard.images_loading" my-width="248" my-height="156"></div>
											</div>
											<div class="uid_example f-fl">
												<h4 class="f-fl">示例</h4>
												<img class="f-fl" src="/static/img/user/uid_example2.jpg" alt="身份证反面示例图片">
												<p class="f-fl">证件全部信息清晰无遮挡<br />有效期在一个月以上</p>
											</div>
										</div>
									</div>
								</div>
								<div class="m-item f-cb">
									<div class="item">
										<label class="u-lab"><i class="required-icon"></i>银行卡号<span>16或19位</span></label>
										<div class="u-inp">
											<input type="text" class="input" ng-model="designerUId.bank_card" required placeholder="请输入16或19位银行卡号" my-placeholder ng-pattern="/^(\d{16}|\d{19})$/" name="bank_card" />
										</div>
										<div class="u-error">
											<span ng-show="idcard.bank_card.$dirty && idcard.bank_card.$error.pattern" class="has-error">必须为16或19位银行卡号</span>
											<span ng-show="idcard.bank_card.$dirty && idcard.bank_card.$error.required" class="has-error">不能为空</span>
										</div>
									</div>
								</div>
								<div class="m-item f-cb">
									<div class="item">
										<label class="u-lab"><i class="required-icon"></i>开户银行</label>
										<div class="u-inp">
											<div my-select data-type="getValue" my-list="designerIdcard.bankList" my-query="designerUId.bank"></div>
										</div>
									</div>
								</div>
								<div class="m-item f-cb">
									<div class="item">
										<label class="u-lab"><i class="required-icon"></i>银行卡正面照片</label>
										<div class="u-inp">
											<div class="uid_image uid_image3 f-fl">
												<div my-simpleupload id="designer_card_image2" my-id="designer_card_image2" my-query="designerUId.bank_card_image1" data-scale="1.585" my-loading="designerIdcard.images_loading" my-width="248" my-height="156"></div>
											</div>
											<div class="uid_example f-fl">
												<h4 class="f-fl">示例</h4>
												<img class="f-fl" src="/static/img/user/uid_example3.jpg" alt="银行卡正面示例图片">
												<p class="f-fl">银行卡上文字清晰可见</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div my-alert type="warning" ng-show="designerIdcard.error" text="{{designerIdcard.errormsg}}"></div>
							<div class="m-btns">
								<input type="submit" class="u-btns" ng-class="{'u-btns-disabled':idcard.$invalid || designerIdcard.disabled}" ng-disabled="idcard.$invalid || designerIdcard.disabled" value="提交认证" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="pageLoading" ng-if="!isLoading"></div>
</div>
<div class="k-cropMask" id="j-cropMask"></div>
<div class="k-cropBox" id="j-cropBox">
	<div class="cropBox">
		<img id="target" alt="Jcrop Image" />
	</div>
	<div class="btns">
		<input type="button" class="u-btns u-btns-revise" id="crop-cancel" value="取消" />
		<input type="button" class="u-btns" id="crop-submit" value="确定" />
	</div>
</div>
