<div class="Backdrop">
	<div class="main">
		<div class="m-index" bindonce="designer" ng-if="designer">
			<div class="info f-cb">
				<dl>
					<dt ng-if="designer.auth_type != 0">
						<a ui-sref="infoshow" class="head"><img bo-src-i="/api/v2/web/thumbnail2/120/120/{{designer.imageid}}" bo-alt="designer.username" bo-if="designer.imageid" /></a>
					<h3><a ui-sref="infoshow" bo-text="designer.username" bo-if="designer.username"></a></h3>
					</dt>
					<dt ng-if="designer.auth_type == 0">
						<a ui-sref="infor" class="head"><img bo-src-i="/api/v2/web/thumbnail2/120/120/{{designer.imageid}}" bo-alt="designer.username" bo-if="designer.imageid" /></a>
					<h3><a ui-sref="infor" bo-text="designer.username" bo-if="designer.username"></a></h3>
					</dt>
					<dd class="f-cb">
					<span>
						<strong bo-text="designer.deal_done_count"></strong>
						已接单
					</span>
					<span>
						<strong bo-text="designer.authed_product_count"></strong>
						认证作品
					</span>
					<span>
						<strong bo-text="designer.order_count"></strong>
						预约
					</span>
					</dd>
				</dl>
				<a ui-sref="service" class="editor"><i class="iconfont">&#xe627;</i>&nbsp;&nbsp;接单资料</a>
			</div>
			<div class="flow">
				<ul>
					<li>
						<div class="txt">
							<div class="num"></div>
							<p>提交资料完成<br />设计师认证</p>
						</div>
					</li>
					<li class="line"><div></div></li>
					<li>
						<div class="txt">
							<div class="num num2"></div>
							<p>响应并预约<br />量房时间</p>
						</div>
					</li>
					<li class="line"><div></div></li>
					<li>
						<div class="txt">
							<div class="num num3"></div>
							<p>上门量房并<br />提交方案</p>
						</div>
					</li>
					<li class="line"><div></div></li>
					<li>
						<div class="txt">
							<div class="num num4"></div>
							<p>提交方案<br />合同</p>
						</div>
					</li>
					<li class="line"><div></div></li>
					<li>
						<div class="txt">
							<div class="num num5"></div>
							<p>上门量房并<br />提交方案</p>
						</div>
					</li>
					<li class="line"><div></div></li>
					<li>
						<div class="txt">
							<div class="num num6"></div>
							<p>提交方案<br />合同</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="notice f-cb">
				<a href="/tpl/user/notice.html" class="f-fl link">设计师收费规则更改说明 <span>new</span></a>
				<a href="/tpl/user/notice.html" class="f-fr more">查看详情</a>
			</div>
			<div class="authen" ng-if="(designer.auth_type == 0 || designer.auth_type == 1 || designer.auth_type == 3 || designer.auth_type == 4) && designer.authed_product_count < 3">
				<div class="infoTips"><i class="iconfont">&#xe612;</i>完成基本资料认证及作品认证（至少3套）的设计师才可以接单</div>
				<p>
					<span ng-if="designer.auth_type == 0">欢迎来到简繁家，请完善您的基本资料</span>
					<span ng-if="designer.auth_type == 2 && designer.authed_product_count == 0">您有<strong bo-text="designer.authed_product_count"></strong>套作品通过认证，请继续发布作品</span>
					<span ng-if="designer.auth_type == 1">您的基本资料已提交，请耐心等待审核</span>
					<span ng-if="designer.auth_type == 3">您的基本资料审核不通过（<span ng-bind="designer.auth_message"></span>）</span>
					<span ng-if="designer.auth_type == 4">您被基本资料审核强制下线（<span ng-bind="designer.auth_message"></span>）</span>
				</p>
				<div class="btns">
					<a class="u-btns" ng-if="designer.auth_type == 0" ui-sref="infor">提交资料</a>
					<a class="u-btns u-btns-revise" ng-if="designer.auth_type == 3" ui-sref="infor">重新提交</a>
					<a class="u-btns u-btns-revise" ng-if="designer.auth_type == 4" ui-sref="infor">重新提交</a>
					<a class="u-btns" ng-if="(designer.auth_type == 1 || designer.auth_type == 2) && designer.authed_product_count == 0" ui-sref="addProduct({list:true})">发布作品</a>
				</div>
			</div>
			<div class="authen" ng-if="designer.auth_type == 2 && designer.authed_product_count < 3">
				<div class="inofTips"><i class="iconfont">&#xe612;</i>作品认证（至少3套）的设计师才可以接单</div>
				<p>
					<span ng-if="designer.authed_product_count == 0">您还没有作品通过认证，请您前往发布</span>
					<span ng-if="designer.authed_product_count > 0">恭喜您，您已有<strong bo-text="designer.authed_product_count"></strong>套作品通过认证，请再接再厉</span>
				</p>
				<div class="btns">
					<a class="u-btns" ui-sref="addProduct({list:true})">发布作品</a>
				</div>
			</div>
			<div class="authen" ng-if="designer.auth_type == 1 && designer.authed_product_count >= 3">
				<div class="inofTips"><i class="iconfont">&#xe612;</i>完成基本资料认证及作品认证（至少3套）的设计师才可以接单</div>
				<p>
					您的基本资料已经提交，等待管理员审核。
				</p>
				<div class="btns">
					<a class="u-btns" ui-sref="infoshow">&nbsp;&nbsp;查看&nbsp;&nbsp;</a>
				</div>
			</div>
			<ul class="list">
				<li ng-if="requirementList.length == 0 && designer.auth_type == 2 && designer.authed_product_count >= 3">
					<div class="ct">您还没有装修需求哟，修改接单资料和发布更多作品，更容易获得业主预约</div>
					<div class="btns">
						<a ui-sref="service" class="u-btns">前往修改</a>
						<a ui-sref="addProduct" class="u-btns">发布作品</a>
					</div>
				</li>
				<li bindonce="requirementList" ng-repeat="data in requirementList | limitTo : 3">
					<div class="tt f-cb">
						<h4 class="f-fl">
							<strong>物业地址</strong>
							<span bo-if="data.province"><i bo-text="data.province"></i></span>
							<span bo-if="data.city"><i bo-text="data.city"></i></span>
							<span bo-if="data.district"><i bo-text="data.district"></i></span>
							<span bo-if="data.basic_address" bo-text="data.basic_address"></span>
							<span bo-if="data.detail_address" bo-text="data.detail_address"></span>
						</h4>
						<div class="progress f-fr" bo-if="data.work_type != 2">
							<div class="bar">
								<div class="in in{{data.plan.status}}" bo-if="data.plan.status && (data.status == 0 || data.status == 1 || data.status == 2 || data.status == 3 || data.status == 6)"></div>
								<div class="in in{{data.status}}" bo-if="data.plan.status == 5 && (data.status == 4 || data.status == 5 || data.status == 7 || data.status == 8) && data.work_type != 2"></div>
							</div>
							<p bo-switch="data.plan.status" bo-if="data.plan.status != 5">
								<i bo-switch-when="0">
									<i bo-if="!!data.plan.get_phone_time">等待设置量房时间</i>
									<i bo-if="!data.plan.get_phone_time">等待响应预约</i>
								</i>
								<i bo-switch-when="1">已拒绝业主</i>
								<i bo-switch-when="2">等待业主确认量房</i>
								<i bo-switch-when="3">等待业主选择方案</i>
								<i bo-switch-when="4">方案未选中</i>
								<i bo-switch-when="5">方案被选中</i>
								<i bo-switch-when="6">提交方案中</i>
								<i bo-switch-when="7">未响应业主</i>
								<i bo-switch-when="8">未上传方案</i>
							</p>
							<p bo-switch="data.status" bo-if="data.plan.status == 5 && (data.status == 4 || data.status == 5 || data.status == 7 || data.status == 8) && data.work_type != 2">
								<i bo-switch-when="4">前往配置合同</i>
								<i bo-switch-when="5">APP管理工地</i>
								<i bo-switch-when="7">查看合同</i>
								<i bo-switch-when="8">已竣工</i>
							</p>
						</div>
						<div class="progress f-fr" bo-if="data.work_type == 2">
							<div class="bar">
								<div class="in in{{data.status}}" ng-class="{'in8':data.status == 4}"></div>
							</div>
							<p bo-switch="data.plan.status" bo-if="data.plan.status != 5">
								<i bo-switch-when="0">
									<i bo-if="!!data.plan.get_phone_time">等待设置量房时间</i>
									<i bo-if="!data.plan.get_phone_time">等待响应预约</i>
								</i>
								<i bo-switch-when="1">已拒绝业主</i>
								<i bo-switch-when="2">等待业主确认量房</i>
								<i bo-switch-when="3">等待业主选择方案</i>
								<i bo-switch-when="4">方案未选中</i>
								<i bo-switch-when="5">方案被选中</i>
								<i bo-switch-when="6">提交方案中</i>
								<i bo-switch-when="7">未响应业主</i>
								<i bo-switch-when="8">未上传方案</i>
							</p>
							<p bo-if="data.plan.status == 5 && data.status == 4">
								<i>已完成</i>
							</p>
						</div>
					</div>
					<div class="ct" bo-switch="data.plan.status" bo-if="data.plan.status != 5">
						<p bo-switch-when="0">
							为了增加接单的可能性，请您尽快与业主沟通量房时间并响应业主预约。
						</p>
						<p bo-switch-when="1">
							业主向您发起一个量房预约，请等待您响应。<br />
							请在24小时内响应业主需求，过期视为放弃。
						</p>
						<p bo-switch-when="2">
							您已经响应业主，请准时上门量房<br />
							业主确认量房后，您才可以提交装修方案。
						</p>
						<p bo-switch-when="3">
							您已上传装修方案，等待业主选择装修方案
						</p>
						<p bo-switch-when="4">
							您的方案未被业主选定，请在历史历史装修需求查看
						</p>
						<p bo-switch-when="5">
							您的方案已被业主选定，前往生成并签订三方合同
						</p>
						<p bo-switch-when="6">
							业主已经确认您量房，请在5天内上传方案，过期视为放弃。
						</p>
						<p bo-switch-when="7">
							您没有在规定时间内响应，请在历史历史装修需求查看
						</p>
						<p bo-switch-when="8">
							您没有在规定时间内上传方案，请在历史历史装修需求查看
						</p>
					</div>
					<div class="ct" bo-switch="data.status" bo-if="data.plan.status == 5 && data.work_type != 2">
						<p bo-switch-when="4">
							业主已选定您的装修方案，请前往配置合同
						</p>
						<p bo-switch-when="5">
							您的工地已经配置，前往APP实时掌控最新进度
						</p>
						<p bo-switch-when="7">
							业主已选定您的装修合同，请下载 <br />简繁家APP，掌上管控装修工地。
						</p>
						<p bo-switch-when="8">
							您已完成业主工地需求
						</p>
					</div>
					<div class="ct" bo-if="data.plan.status == 5 && data.status == 4 && data.work_type == 2">
						<p>
							您已完成业主设计需求
						</p>
					</div>
					<div class="btns" bo-switch="data.plan.status" bo-if="data.plan.status != 5">
						<a class="u-btns" bo-switch-when="0" bo-href-i="designer.html#/requirement/{{data._id}}/owner">
							<i bo-if="!!data.plan.get_phone_time">前往设置量房时间</i>
							<i bo-if="!data.plan.get_phone_time">前往响应预约</i>
						</a>
						<a class="u-btns" bo-switch-when="1" bo-href-i="designer.html#/requirement/{{data._id}}/owner">前往响应预约</a>
						<a class="u-btns" bo-switch-when="2" bo-href-i="designer.html#/requirement/{{data._id}}/owner">等待业主确认量房</a>
						<a class="u-btns" bo-switch-when="3" bo-href-i="designer.html#/requirement/{{data._id}}/plan">装修方案</a>
						<a class="u-btns" bo-switch-when="4" bo-href-i="designer.html#/requirement/{{data._id}}/contract">前往生成</a>
						<a class="u-btns" bo-switch-when="5" bo-href-i="designer.html#/requirement/{{data._id}}/contract">前往生成三方合同</a>
						<a class="u-btns" bo-switch-when="6" bo-href-i="designer.html#/requirement/{{data._id}}/owner">给业主提交方案</a>
						<a class="u-btns" bo-switch-when="7" href="/tpl/download/index.html">下载简繁家APP</a>
						<a class="u-btns" bo-switch-when="8" bo-href-i="designer.html#/requirement/{{data._id}}/contract">方案过期</a>
					</div>
					<div class="btns" bo-switch="data.status" bo-if="data.plan.status == 5 && data.work_type != 2">
						<a class="u-btns" bo-switch-when="4" bo-href-i="designer.html#/requirement/{{data._id}}/contract">配置合同</a>
						<a class="u-btns" bo-switch-when="5" bo-href-i="designer.html#/requirement/{{data._id}}/field">工地管理</a>
						<a class="u-btns" bo-switch-when="7" bo-href-i="designer.html#/requirement/{{data._id}}/contract">等待业主确认合同</a>
						<a class="u-btns" bo-switch-when="8" bo-href-i="designer.html#/requirement/{{data._id}}/fulfill">工地已竣工</a>
					</div>
					<div class="btns" bo-if="data.plan.status == 5 && data.status && data.work_type == 2">
						<a class="u-btns" bo-href-i="designer.html#/requirement/{{data._id}}/fulfill">设计已完成</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="pageLoading" ng-hide="!!designer"></div>
	</div>
</div>


