<div class="Backdrop">
	<div class="m-tt">
		<h2 class="title" ng-bind="$state.current.title"></h2>
	</div>
	<div class="m-ct" ng-if="isLoading">
		<div class="main m-phone m-info">
			<div class="todo">
				<div class="infoTips"><i class="iconfont">&#xe612;</i>修改个人资料需重新认证，才能生效</div>
				<form name="designerinfo" ng-submit="designerInfo.submit()" novalidate>
					<div class="k-form">
						<div class="m-boxs">
							<div class="m-item f-cb">
								<div class="item">
									<label class="u-lab"><i class="required-icon"></i>姓名</label>
									<div class="u-inp">
										<input type="text" class="input" name="username" ng-model="designer.username" required placeholder="不能为空" my-placeholder />
									</div>
									<div class="u-error">
										<span ng-show="designerinfo.username.$dirty && designerinfo.username.$error.required" class="has-error">不能为空</span>
									</div>
								</div>
							</div>
							<div class="m-item f-cb">
								<div class="item">
									<label class="u-lab" for="owner-sex"><i class="required-icon"></i>性别</label>
									<div class="u-inp">
										<div my-radio data-type="userSex" my-query="designer.sex"></div>
									</div>
								</div>
							</div>
							<div class="m-item f-cb">
								<div class="item">
									<label class="u-lab">手机号码</label>
									<div class="u-inp">
										<div class="input disabled" ng-bind="designer.phone"></div>
									</div>
								</div>
							</div>
							<div class="m-item f-cb">
								<div class="item">
									<label class="u-lab" for="dec_area"><i class="required-icon"></i>所在地区</label>
									<div class="u-inp">
										<div my-cities my-province="designer.province" my-city="designer.city" my-district="designer.district" ng-if="designer.province"></div>
									</div>
								</div>
							</div>
							<div class="m-item f-cb">
								<div class="item">
									<label class="u-lab" for="owner-addr"><i class="required-icon"></i>邮寄详细地址</label>
									<div class="u-inp">
										<input type="text" class="input long" name="address" ng-model="designer.address" required placeholder="不能为空" my-placeholder />
									</div>
									<div class="u-error">
										<span ng-show="designerinfo.address.$dirty && designerinfo.address.$error.required" class="has-error">不能为空</span>
									</div>
								</div>
							</div>
							<div class="m-item f-cb">
								<div class="item">
									<label class="u-lab"><i class="required-icon"></i>设计理念</label>
									<div class="u-inp">
										<textarea class="input long textarea" name="philosophy" rows="10" ng-model="designer.philosophy" required placeholder="不能为空" my-placeholder></textarea>
									</div>
									<div class="u-error">
										<span ng-show="designerinfo.philosophy.$dirty && designerinfo.philosophy.$error.required" class="has-error">不能为空</span>
									</div>
								</div>
							</div>
							<div class="m-item f-cb">
								<div class="item">
									<label class="u-lab"><i class="required-icon"></i>毕业院校</label>
									<div class="u-inp">
										<input type="text" class="input" name="university" ng-model="designer.university" required placeholder="不能为空" my-placeholder />
									</div>
									<div class="u-error">
										<span ng-show="designerinfo.university.$dirty && designerinfo.university.$error.required" class="has-error">不能为空</span>
									</div>
								</div>
							</div>
							<div class="m-item f-cb">
								<div class="item">
									<label class="u-lab">上传学历图片</label>
									<div class="u-inp">
										<div class="uid_image" style="background: #f9f9f9">
											<div class="simpleupload card-upload">
												<div class="create">
													<div class="fileBtn">
														<input class="hide" id="fileToUpload1" my-simpleupload my-query="designer.diploma_imageid" my-loading="designerInfo.images_loading" data-width="248" data-height="156" type="file" name="Filedata">
														<input type="hidden" id="sessionId1" value="${pageContext.session.id}" />
														<input type="hidden" value="1215154565" name="tmpdir" id="id_file1">
													</div>
													<img class="img"
													ng-src="/api/v2/web/thumbnail2/248/156/{{designer.diploma_imageid}}"
													ng-if="designer.diploma_imageid" alt="" />
													<div class="tips"><span><em></em><i></i></span><p>请上传3M以内jpg/png格式的图片</p></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="m-item f-cb">
								<div class="item">
									<label class="u-lab"><i class="required-icon"></i>曾就职装饰公司</label>
									<div class="u-inp">
										<input type="text" class="input" name="company" ng-model="designer.company" required placeholder="不能为空" my-placeholder />
									</div>
									<div class="u-error">
										<span ng-show="designerinfo.company.$dirty && designerinfo.company.$error.required" class="has-error">不能为空</span>
									</div>
								</div>
							</div>
							<div class="m-item f-cb">
								<div class="item">
									<label class="u-lab"><i class="required-icon"></i>工作年限</label>
									<div class="u-inp">
										<input type="text" class="input" ng-model="designer.work_year" name="work_year" ng-pattern="/^[1-9]\d*$/" required placeholder="只能为整数" my-placeholder />
									</div>
									<div class="u-error">
										<span ng-show="designerinfo.work_year.$dirty && designerinfo.work_year.$error.pattern" class="has-error">必须为整数</span>
										<span ng-show="designerinfo.work_year.$dirty && designerinfo.work_year.$error.required" class="has-error">不能为空</span>
									</div>
								</div>
							</div>
							<div class="m-item f-cb">
								<div class="item">
									<label class="u-lab"><i class="required-icon"></i>设计成就</label>
									<div class="u-inp">
										<textarea class="input long textarea" name="achievement" rows="10" ng-model="designer.achievement" required placeholder="不能为空" my-placeholder></textarea>
									</div>
									<div class="u-error">
										<span ng-show="designerinfo.achievement.$dirty && designerinfo.achievement.$error.required" class="has-error">不能为空</span>
									</div>
								</div>
							</div>
							<div class="m-item f-cb">
								<div class="item">
									<label class="u-lab">获奖照片及描述</label>
									<div class="u-inp insertimage">
										<div my-insertimage2 my-query="designer.award_details" data-type="write" ng-if="designer" my-complete="designerInfo.award_details_complete" my-loading="designerInfo.images_loading" my-cover=""></div>
									</div>
								</div>
							</div>
							<div class="k-uppicbox">
								<div class="simpleupload">
									<div class="pic">
										<div class="fileBtn">
											<input type="file" name="Filedata" class="hide" id="fileToUpload"
											my-simpleupload my-query="designer.imageid" my-loading="designerInfo.images_loading" data-width="120" data-scale="1" data-height="120"
											data-wmin="300" data-hmin="300" />
											<input type="hidden" id="sessionId1" value="${pageContext.session.id}" />
											<input type="hidden" value="1215154565" name="tmpdir" id="id_file1">
										</div>
										<span class="icon"><i class="iconfont">&#xe61a;</i></span>
					            		<img class="img" ng-src="/api/v2/web/thumbnail2/120/120/{{designer.imageid}}" ng-if="designer.imageid" alt="头像" />
									</div>
								</div>
								<p>请上传大于300*300头像照片<br />3M以内jpg/png格式</p>
							</div>
						</div>
						<div my-alert type="warning" ng-show="designerInfo.error" text="{{designerInfo.errormsg}}"></div>
						<div class="m-btns">
							<input type="submit" class="u-btns" ng-class="{'u-btns-disabled':designerinfo.$invalid || designerInfo.disabled || designerInfo.award_details_complete}" ng-disabled="designerinfo.$invalid || designerInfo.disabled || designerInfo.award_details_complete" value="&nbsp;&nbsp;申请认证&nbsp;&nbsp;" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="pageLoading" ng-if="!isLoading"></div>
</div>
<div class="k-cropMask" id="j-cropMask"></div>
<div class="k-cropBox" id="j-cropBox">
	<div class="cropBox">
		<img id="target" alt="Jcrop Image" />
	</div>
	<div class="btns">
		<input type="button" class="u-btns u-btns-revise" id="crop-cancel" value="取消" />
		<input type="button" class="u-btns" id="crop-submit" value="确定" />
	</div>
</div>
<div class="k-motai" ng-if="designerInfo.motaiDone">
	<div class="motai done">
		<span class="done-icon"></span>
		<h3>提交成功！</h3>
		<p>请耐心等待管理员审核</p>
		<button class="u-btns" type="button" ng-if="designer.product_count == 0" ng-click="designerInfo.defineBtn()">&nbsp;&nbsp;前往下一步&nbsp;&nbsp;</button>
		<button class="u-btns" type="button" ng-if="designer.product_count != 0" ng-click="designerInfo.defineBtn(true)">&nbsp;&nbsp;提交认证&nbsp;&nbsp;</button>
	</div>
</div>
