<div class="Backdrop">
    <div class="main m-requirement" bindonce="requirement" ng-controller="requirementCtrl">
        <div class="m-tt">
            <h2 class="f-fl">
                <span bo-if="requirement.basic_address" bo-text="requirement.basic_address"></span>
                <span bo-if="requirement.detail_address" bo-text="requirement.detail_address"></span>
            </h2>
            <a ui-sref="history" ng-if="requirement.plan.status == 1 || requirement.plan.status == 7 || requirement.plan.status == 8 || requirement.plan.status == 4" class="f-fr u-btns u-btns-revise returnList">返回历史装修列表</a>
            <a ui-sref="requirementList" ng-if="requirement.plan.status == 0 || requirement.plan.status == 2 || requirement.plan.status == 2 || requirement.plan.status == 5 || requirement.plan.status == 6"  class="f-fr u-btns u-btns-revise returnList">返回装修需求列表</a>
        </div>
        <div class="m-ct">
            <ul class="tabs">
                <li ng-class="{active: tab==&quot;detail&quot;}"><a ui-sref="requirement.detail({id:requiremtneId})">需求描述</a></li>
                <li ng-class="{active: tab==&quot;owner&quot;}"><a ui-sref="requirement.owner({id:requiremtneId})">响应需求</a></li>
                <li ng-class="{active: tab==&quot;plan&quot;}" ng-if="(requirement.plan.status == 3 || requirement.plan.status == 4 || requirement.plan.status == 5) && (requirement.status == 6 || requirement.status == 3 || requirement.status == 7 || requirement.status == 4 || requirement.status == 5  || requirement.status == 8)"><a ui-sref="requirement.plan({id:requiremtneId})">提交方案</a></li>
                <li ng-class="{active: tab==&quot;contract&quot;}" ng-if="requirement.plan.status == 5 && (requirement.status == 7 || requirement.status == 4 || requirement.status == 5 || requirement.status == 8) && requirement.work_type != 2"><a ui-sref="requirement.contract({id:requiremtneId})">生成合同</a></li>
                <li ng-class="{active: tab==&quot;field&quot;}" ng-if="requirement.plan.status == 5 && (requirement.status == 5 || requirement.status == 8) && requirement.work_type != 2"><a ui-sref="requirement.field({id:requiremtneId})">管理工地</a></li>
                <li ng-class="{active: tab==&quot;fulfill&quot;}" ng-if="requirement.plan.status == 5 && requirement.status == 8 && requirement.work_type != 2"><a ui-sref="requirement.fulfill({id:requiremtneId})">完成</a></li>
                <li ng-class="{active: tab==&quot;fulfill&quot;}" ng-if="requirement.plan.status == 5 && requirement.work_type == 2"><a ui-sref="requirement.fulfill({id:requiremtneId})">完成</a></li>
            </ul>
            <div class="requirement" ng-controller="requirementDetailCtrl">
                <!--视图模板容器 start-->
                <div ui-view></div>
                <!--视图模板容器 end-->
            </div>
        </div>
    </div>
</div>