<div class="m-tt">
    <h2 class="title" ng-bind="$state.current.title"></h2>
    <div class="m-breadbtns">
        <a ui-sref="addteam" class="u-btns f-fr">添加施工队</a>
    </div>
</div>
<div class="m-ct" ng-if="isLoading">
    <div class="main m-team">
        <div ng-if="teamList" class="list">
            <dl ng-repeat="list in teamList" bindonce="teamList">
                <dt>
                <h3 class="f-fl">施工团队<i bo-text="$index + 1"></i></h3>
                <div class="address f-fl" bo-if="list.province && list.province != '请选择省份'">
                    <i class="iconfont2">&#xe61f;</i><span><i bo-text="list.province"></i><i bo-text="list.city" bo-if="list.city != '请选择市'"></i><i bo-text="list.district" bo-if="list.district != '请选择县/区'"></i></span>
                </div>
                <div class="select f-fr"><a ui-sref="updateteam({id:list._id})" class="update"><i class="iconfont2">&#xe627;</i></a><a href="javascript:;" ng-click="designerTeam.remove(list._id)" class="remove"><i class="iconfont2">&#xe619;</i></a></div>
                </dt>
                <dd class="f-cb">
                    <div class="span" bo-if="list.manager"><span>项目经理</span><em bo-text="list.manager"></em></div>
                    <div class="span" bo-if="list.work_year"><span>从业年限</span><em><i bo-text="list.work_year"></i>年</em></div>
                    <div class="span" bo-if="list.sex != ''"><span>性别</span><em bo-text="list.sex | sexFilter"></em></div>
                    <div class="span" bo-if="list.good_at"><span>擅长工种</span><em bo-text="list.good_at"></em></div>
                    <div class="span" bo-if="list.uid"><span>身份证号码</span><em bo-text="list.uid"></em></div>
                    <div class="span" bo-if="list.working_on"><span>正在施工工地</span><em bo-text="list.working_on"></em></div>
                    <div class="span span-all" bo-if="list.company"><span>曾就职装饰公司</span><em bo-text="list.company"></em></div>
                </dd>
            </dl>
        </div>
        <div class="pageNotdate designer-pageNotdate" ng-if="teamList && teamList.length == 0">
            <h3><i class="iconfont2">&#xe60f;</i></h3>
            <p>您还没有施工团队</p>
            <div class="btns">
                <a ui-sref="addteam" class="u-btns">添加施工队</a>
            </div>
        </div>
    </div>
</div>
<div class="pageLoading" ng-if="!isLoading"></div>
