<ol class="breadcrumb"><li><a ui-sref="index">首页</a></li><li><a ui-sref="requirement">业务需求列表</a></li><li class="active">匹配设计师</li></ol>
<div class="breadcrumb">
	<h2>{{user.user.username}} <small>业主 (手机号码：{{user.user.phone}})</small></h2>
	<h4>{{user.cell}} <small> 装修需求（需求编号{{user._id}}）</small></h4>
	<p>装修城市：{{user.province}} {{user.city}} {{user.district}}</p>
	<p>详细地址：{{user.basic_address}} {{user.detail_address}}</p>
	<p>装修类别：{{user.dec_type | decTypeFilter}}</p>
	<p>计划常住成员：{{user.family_description}}</p>
	<p>风格喜好：{{user.dec_style | decStyleFilter}}</p>
	<p>装修户型：{{user.house_type | houseTypeFilter}}</p>
	<p>装修面积：{{user.house_area}} m&sup2;</p>
	<p>包工类型：{{user.work_type | workTypeFilter}}</p>
	<p>装修预算：{{user.total_price}} 万元</p>
	<p>偏好设计师类型：{{user.communication_type | designTypeFilter}}</p>
	<p>偏好设计师性别：{{user.prefer_sex | sexFilter}}</p>
	<p ng-if="recDesignerList">匹配设计师：<span ng-repeat="user in recDesignerList"> <a ui-sref="designerInfo({id:user._id})">{{user.username}}({{user.phone}})</a> </span></p>
	<p ng-if="designerList">所有预约设计师：<span ng-repeat="user in designerList"> <a ui-sref="designerInfo({id:user._id})">{{user.username}}({{user.phone}})</a> </span></p>
	<p ng-if="finalDesigner">成交设计师：<a ui-sref="designerInfo({id:finalDesigner._id})">{{finalDesigner.username}}({{finalDesigner.phone}})</a> </p>
	<h4>所有服务评价：</h4>
	<table class="table table-bordered" ng-if="user.evaluations">
	      <thead>
	        <tr>
	          <th>序号</th>
	          <th>设计师</th>
	          <th>是否匿名评价</th>
	          <th>响应速度</th>
	          <th>服务态度</th>
	          <th>评价内容</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="e in user.evaluations">
	          <th scope="row">{{$index+1}}</th>
	          <td>{{e.designer.username}}({{e.designer.phone}})</td>
	          <td>{{e.is_anonymous == 1 ? "匿名" : "实名"}}</td>
	          <td>{{e.respond_speed}} 星</td>
	          <td>{{e.service_attitude}} 星</td>
	          <td>{{e.comment}}</td>
	        </tr>
	      </tbody>
    </table>
</div>
<div class="panel panel-info ng-scope">
	<table class="table table-bordered">
		<tbody>
			<tr class="info thead">
				<th>方案Id</th>
				<th>提交时间</th>
				<th>响应时间</th>
				<th>量房时间</th>
				<th>设计师姓名</th>
				<th>设计师电话</th>
				<th>项目经理</th>
				<th>当前状态</th>
				<th>方案查看</th>
			</tr>
			<tr ng-repeat="user in plans">
				<td>{{user._id}}</td>
				<td>{{user.request_date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>{{user.get_phone_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>{{user.house_check_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>{{user.designer.username}}({{user.biaoshi}})</td>
				<td>{{user.designer.phone}}</td>
				<td>{{user.manager}}</td>
				<td>{{user.status | planFilter}}</td>
				<td><a target="_blank" href="../tpl/user/plans.html?pid={{user._id}}" class="btns browse">预览方案</a></td>
			</tr>
		</tbody>
	</table>
</div>