<ol class="breadcrumb"><li><a ui-sref="index">首页</a></li><li class="active">设计师列表</li></ol>
<form name="recruit" ng-submit="searchTimeBtn()" novalidate>
	<p>[注意] 如果搜索当前的信息，开始时间为当天日期，结束时间为第二天日期</p>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1">开始时间</div>
			<div class="col-md-3">
				<p class="input-group">
				  	<input type="text" class="form-control" uib-datepicker-popup ng-model="startTime.time" is-open="startTime.status.opened" datepicker-options="startTime.dateOptions" close-text="关闭" clear-text="清除" current-text="今天" required />
				  	<span class="input-group-btn">
				  		<button type="button" class="btn btn-default" ng-click="startTime.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				  	</span>
			  	</p>
			</div>
			<div class="col-md-1">--结束时间</div>
			<div class="col-md-3">
				<p class="input-group">
				  	<input type="text" class="form-control" uib-datepicker-popup ng-model="endTime.time" is-open="endTime.status.opened" datepicker-options="endTime.dateOptions" close-text="关闭" clear-text="清除" current-text="今天" required />
				  	<span class="input-group-btn">
				  		<button type="button" class="btn btn-default" ng-click="endTime.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				  	</span>
				</p>
			</div>
			<div class="col-md-2"><button type="submit" class="btn btn-info" ng-disabled="recruit.$invalid" ng-class="">搜索</button></div>
		</div>
	</div>
</form>
<br />
<ul class="list-inline">
	<li ng-repeat="auth in authStatusList"><button type="button" class="btn btn-default" ng-class="{true:'btn-warning',false:'btn-default'}[auth.cur]" ng-click="authStatusBtn(auth.id)">{{auth.name}}</button></li>
</ul>
<ul class="list-inline">
	<li ng-repeat="auth in authList"><button type="button" class="btn btn-default" ng-class="{true:'btn-warning',false:'btn-default'}[auth.cur]" ng-click="authBtn(auth.id)">{{auth.name}}</button></li>
</ul>
<form name="search" class="form-inline" ng-submit="searchBtn()" novalidate>
	<div class="form-group">
		<label for="inputPassword2" class="sr-only">搜索设计师</label>
		<input type="text" class="form-control" placeholder="手机号码/设计师名字" ng-model="searchDesigner" required />
	</div>
	<button type="submit" class="btn btn-info">搜索设计师</button>
</form>
<br />
<div>
	<button type="button" class="btn btn-danger" ng-click="clearStatus()">重置清空还原</button>
</div>
<br />
<div class="panel panel-info ng-scope">
	<table class="table table-bordered">
		<tbody>
			<tr class="info thead">
				<th>设计师ID</th>
				<th>注册时间</th>
				<th>设计师姓名</th>
				<th>设计师电话</th>
				<th>认证申请时间</th>
				<th>认证状态</th>
				<th>已审核作品数</th>
				<th>施工团队</th>
				<th>管理员认证操作</th>
			</tr>
			<tr ng-repeat="user in userList">
				<td>{{user._id}}</td>
				<td>{{user.create_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td><a ui-sref="designerInfo({id:user._id})">{{user.username}}</a></td>
				<td>{{user.phone}}</td>
				<td>{{user.authDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>{{user.status | authTypeFilter}}</td>
				<td><a ui-sref="designerProduct({id:user._id})">查看({{user.authed_product_count}})</td>
				<td><a ui-sref="designerTeam({id:user._id})">查看({{user.team_count}})</td>
				<td>
					<a ui-sref="designerInfoAuth({id:user._id})">信息认证</a> | 
					<a ui-sref="designerIdAuth({id:user._id})">身份认证</a> | 
					<a ui-sref="designerFieldAuth({id:user._id})">实地认证</a> | 
					<a href="javascript:;" ng-click="forcedOffline(user._id,user.online_status)">{{user.online_status == 0 ? '强制离线' : '开启在线'}}</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="loadData" ng-hide="loading.loadData"></div>
<div class="loadData notData" ng-show="loading.notData"></div>
<div class="text-center" ng-if="loading.loadData && !loading.notData">
	<uib-pagination total-items="pagination.totalItems" first-text="首页" next-text="下一页" previous-text="上一页" last-text="尾页" ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" rotate="false" ng-change="pagination.pageChanged()"></uib-pagination>
	<span class="pagecode">当前：{{pagination.currentPage}} / {{numPages}} 页 总共 {{pagination.totalItems}} 条数据</span>
</div>