.g-guide{
	padding: 100px 0;
}
.g-guide h2{
	padding-left: 40px;
	font-size: 22px;
	line-height: 62px;
	color: #222;
	border: 1px solid #e0e0e0;
}
.g-guide .content{
	padding: 70px 100px 95px;
	border: 1px solid #e0e0e0;
	border-top: none;
}
.content .tabnav{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #fe7004;
}
.content .tabnav li{
	float: left;
	width: 200px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	background-color: #fe7004;
}
.content .tabnav li a{
	display: inline-block;
	width: 100%;
	color: #34495e;
	background-color: #efefef;
}
.content dl{
	padding: 30px 0;
}
.content dt{
	position: relative;
	padding-left: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #34495e;
	background-color: #efefef;
	cursor: pointer;
}
.content dd{
	display: none;
	padding-top: 30px;
}
.content .open dd{display: block;}
.content dt span{
	position: absolute;
	left:22px;
	top:19px;
}
.content dt i,.content dt em{
	position: absolute;
    left: 0;
    top:0;
    height: 0;
    width: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-color: transparent #c9c9c9 transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 7px;
}
.content dt em{
	left:1px;
	border-right-color: #efefef;
}
.content .open dt span{
	top:22px;
}
.content .open dt i,.content .open dt em{
	left:0;
    border-color:#c9c9c9 transparent transparent transparent;
    border-style:solid dashed dashed dashed;
}
.content .open dt em{
	top:-1px;
	border-top-color: #efefef;
}
.list1{padding: 0 50px;}
.list1 h3{
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 40px;
	color: #414141;
	border-bottom: 1px solid #eee;
}
.list1 p{
	font-size: 14px;
	line-height: 30px;
	color: #414141;
}
.list1 p i{
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	overflow: hidden;
	text-align: center;
	line-height: 18px;
	color: #414141;
	background-color: #efefef;
	border-radius: 50%;
}
.list2 p{
	text-indent: 2em;
	margin-bottom: 20px;
}
.list2 .color{
	color: #fe7004;
}
.list2 .table{
	width: 580px;
	margin:30px auto 30px;
	font-size: 18px;
	text-align: center;
}
.list2 .table h4{
	line-height: 60px;
	color: #fff;
	background-color: #ff9100;
}
.list2 .table li{
	line-height: 50px;
	margin-bottom: 3px;
	color: #fe7004;
	background-color: #fff9f0;
}
.list2 .table span{
	display: inline-block;
	width: 50%;
}
.list3{
	font-size: 14px;
	line-height: 26px;
}
.list3 p{
	text-indent: 2em;
	margin-bottom: 10px;
}
.list3 .title h2{
	padding-left: 0;
	font-size: 24px;
	line-height: 36px;
	border: none;
	text-align: center;
}
.list3 .title p{
	padding-left: 50px;
	color: #333;
	text-align: center;
	padding-bottom: 30px;
}
.list3 .name{

}
.list3 .name p{
	text-indent: 0;
}
.list3 .line{
	display: inline-block;
	height: 26px;
	margin: 0 3px;
	vertical-align: middle;
	border-bottom: 1px solid #333;
}
.list3 .line1{
	width: 160px;
}
.list3 .line2{
	width: 320px;
}
.list3 .line3{
	width: 380px;
	text-align: center;
}
.list3 .line4{
	width: 100px;
}
.list3 .line5{
	width: 50px;
}
.description{
	margin-top: 30px;
}
.clause h3{
	font-size: 18px;
	color: #333;
	font-weight: bold;
	margin-top: 20px;
	line-height: 36px;
}
.clause table{
	width: 100%;
	margin: 20px 0;
}
.clause td{
	width: 48%;
	padding-left: 2%;
	line-height: 50px;
	border: 1px solid #dcdcdc;
}
.signature{
	padding: 30px 0;
}
.signature .area{
	width: 50%;
	margin-bottom: 20px;
}
.annex h4{
	font-size: 24px;
	font-weight: bold;
	color: #333;
}
.annex h3{
	font-size: 24px;
	color: #333;
	text-align: center;
	line-height: 36px;
	margin-bottom: 20px;
}