body {
    background-color: #ebeced;
}

.g-bd {
    padding-bottom: 120px;
}

.g-sign {
    height: 654px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.m-sign-ad {
    position: relative;
    width: 598px;
    padding-top: 170px;
    text-align: center;
}

.m-sign-ad .line {
    position: absolute;
    left: 0;
    top: 55px;
    width: 1px;
    height: 544px;
    background: #eee;
}

:root .m-sign-ad .line {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 20%, rgba(238, 238, 238, 1) 80%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 20%, rgba(238, 238, 238, 1) 80%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 20%, rgba(238, 238, 238, 1) 80%, rgba(255, 255, 255, 1) 100%);
}

.m-sign-ad h3 {
    font-size: 18px;
    line-height: 80px;
    color: #383d48;
}

.m-sign-ad dt {
    height: 158px;
}

.m-sign-ad dt img {
    width: 158px;
    height: 158px;
}

.m-sign-ad dd {
    font-size: 14px;
    line-height: 76px;
    color: #999;
}

.m-sign-mn {
    width: 600px;
}

.sign-mn {
    width: 258px;
    padding: 175px;
    margin: 0 auto;
}

.u-btns {
    line-height: 32px;
}

.sign-mn h2 {
    font-size: 24px;
    line-height: 84px;
    text-align: center;
    color: #383d48;
}

.m-item {
    padding-bottom: 10px;
}

.m-item .item {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
}

.m-item .item .u-lab {
    float: left;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #5c5c68;
}

.m-item .item .u-inp {
    float: left;
}

.m-item .item .box {
    width: 203px;
    height: 22px;
    line-height: 22px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-left: 1px solid #d2d2d2;
}

.m-item .item .box input {
    width: 100%;
    height: 22px;
    line-height: 22px;
    color: #61687a;
    background: none;
    border: none;
}

.m-item .item .box input::-webkit-input-placeholder {
    color: #b2b2b2;
}

.m-item .item .box input::-moz-input-placeholder {
    color: #b2b2b2;
}

.m-item .item .box input::-o-input-placeholder {
    color: #b2b2b2;
}

.m-item .item .box input::-ms-input-placeholder {
    color: #b2b2b2;
}

.m-item .item .box input::input-placeholder {
    color: #b2b2b2;
}

.m-item .item.focus {
    border-color: #00a0e9;
}

.m-item .item.focus .box {
    background-color: #fff;
}

.m-item .item.error {
    border-color: #ff6a6a;
}

.m-item .item .box.focus input {
    color: #383d48;
}

.submit-btn {
    margin-top: 20px;
    width: 258px;
}

.verifyCode .item .box {
    width: 93px;
}

.verifyCode .vcode {
    width: 98px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #61687a;
    cursor: pointer;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.verifyCode .vcode.disabled {
    font-size: 12px;
    cursor: default;
    color: #000;
}

.m-item .link {
    color: #999;
}

.m-item .link:hover {
    color: #fe7004;
}

.m-error-info {
    color: #ff6a6a;
}

.m-item .other {
    line-height: 24px;
}

.m-item .other .save {
    height: 24px;
    line-height: 24px;
    color: #999;
    cursor: pointer;
}

.m-item .other .save span {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    overflow: hidden;
    margin-right: 10px;
    background: url(../img/user/user-radio-bg.png) no-repeat;
}

.m-item .other .save span.active {
    background-position: 0 -14px;
}


/*注册*/

.signup .sign-mn {
    padding: 108px 175px 0;
}

.signup .submit-btn {
    margin-top: 10px;
}

.signup .m-item .other {
    padding-left: 50px;
}

.weixin {
    font-size: 14px;
    text-align: center;
}

.weixin .btns a {
    display: block;
    line-height: 32px;
    color: #fff;
    background-color: #30bf30;
    border: 1px solid #1a9f1a;
    border-radius: 3px;
}

.weixin .btns a:hover {
    color: #fff;
    background-color: #52bf30;
}

.weixin .title h3 {
    padding-bottom: 17px;
    font-size: 14px;
    line-height: 14px;
    color: #61687a;
}

#login-status {
    padding-bottom: 25px;
}

#login-status ul {
    height: 61px;
    font-size: 24px;
    line-height: 59px;
    color: #383d48;
    border-bottom: 1px solid #ccc;
}

#login-status ul li {
    cursor: pointer;
}

#login-status ul .active {
    position: relative;
    z-index: 1;
    color: #fe7004;
    border-bottom: 3px solid #fe7004;
}

.weixin1 {
    font-size: 14px;
    text-align: center;
}

.weixin1 h4 {
    position: relative;
    height: 30px;
    background-color: #fff;
}

.weixin1 h4 span {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    width: 150px;
    margin-left: -75px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    color: #b4b4b4;
    background-color: #fff;
}

.weixin1 h4:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}

.weixin1 a {
    display: block;
    line-height: 32px;
    color: #30bf30;
    border: 1px solid #30bf30;
    border-radius: 3px;
}

.weixin1 a:hover {
    color: #fff;
    background-color: #30bf30;
}

.sign-mn .status {
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    color: #383d48;
    border-bottom: 1px solid #fe7004;
}

.sign-mn .status li {
    float: left;
    padding: 0 16px;
    cursor: pointer;
}

.sign-mn .status li.active {
    color: #fff;
    background-color: #fe7004;
}


/*找回密码*/

#j-getpw .m-sign-mn {
    width: 100%;
}
