body{
    background-color: #f7f7ee;
}
body,html,.g-user{
    width: 100%;
    height: 100%;
}
.g-user{
    position: relative;
    background:url(../img/user/user-bg.jpg) center center no-repeat;
}
.g-bd{
    position: absolute;
    left:50%;
    top:50%;
    width: 860px;
    height: 544px;
    padding: 0;
    margin-left: -430px;
    margin-top: -272px;
    background-color: #fff;
    -moz-box-shadow:0 0 15px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow:0 0 15px 0 rgba(0, 0, 0, .3);
    box-shadow:0 0 15px 0 rgba(0, 0, 0, .3);
}
.g-hd{
    padding-top: 60px;
    height: auto;
    background: none;
}
.g-user .m-logo{
    margin-top: 0;
}
.g-sd{
    height: 544px;
    padding: 0 110px 0 60px;
    font-size: 14px;
    color: #999;
    background:url(../img/user/splitline.png) 0 0 no-repeat;
}
.g-sd h4{
    padding-top: 64px;
    line-height: 16px;
}
.g-sd .link{
    height: 36px;
    line-height: 36px;
    color: #ff7e1c;
}
.g-sd .link:hover{
    color: #fe7004;
}
.g-sd .link i{
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    margin: 10px 0 0 10px;
    background:url(../img/user/link-icon.png) 0 center no-repeat;
}
.g-sd dl{
    padding-top: 15px;
}
.g-sd dt{
    line-height: 42px;
}
.g-sd dd{
    width: 115px;
    height: 115px;
    margin-bottom: 25px;
}
.g-sd dd img{
    width: 100%;
    height: 100%;
}
.g-mn{
    width: 360px;
    padding-left: 100px;
}
.m-item{
    padding-bottom: 20px;
}
.m-item .item{
    position: relative;
    background-color: #f6f6f6;
    width: 100%;
    height: 46px;
    overflow: hidden;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.m-item .item.focus{
    border: 1px solid #04bafe;
}
.m-item .item.error{
    border: 1px solid #ff4a4a;
}
.m-item .item .u-lab{
    float: left;
    width: 46px;
    height: 46px;
    padding: 0;
    text-align: center;
    line-height: 46px;
    background-color: #e9ebef;
}
.m-item .item.error .u-lab,
.m-item .item.focus .u-lab{
    width: 44px;
    padding-right: 1px;
    height: 44px;
    line-height: 44px;
}
.m-item .item .u-lab .iconfont{
    font-size: 18px;
    color: #4f4e5c;
}
.m-item .item .u-inp{
    float: left;
}
.m-item .item .box {
    width: 293px;
    height: 36px;
    line-height: 36px;
    padding: 5px 10px;
}

.m-item .item .box input{
    width: 100%;
    height: 36px;
    line-height: 36px;
    color: #61687a;
    background: none;
    border: none;
}
.m-item .item.error .box,
.m-item .item.focus .box{
    padding: 4px 10px;
    background-color: #fff;
}
.m-item .item .box input::-webkit-input-placeholder {
    color: #b2b2b2;
}

.m-item .item .box input::-moz-input-placeholder {
    color: #b2b2b2;
}

.m-item .item .box input::-o-input-placeholder {
    color: #b2b2b2;
}

.m-item .item .box input::-ms-input-placeholder {
    color: #b2b2b2;
}

.m-item .item .box input::input-placeholder {
    color: #b2b2b2;
}
.m-item .other .save{
    height: 14px;
    line-height: 14px;
    color: #999;
    cursor: pointer;
}
.m-item .other .save span{
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAcCAMAAABmiH5zAAAAhFBMVEX////+cAT+cAT+cAT+cAT+cAT+cAT+cAT+cATS0tLS0tL+cAT+cAT+cAT+cAT+cAT+cAT+cAT+cAT+cAT+cAT+cAT+cAT+cAT+cAT+cAT+cATS0tLS0tLS0tL+cAT+cAT+cAT+cAT+cAT+cAT+cAT+cAT+cAT+cATS0tLt7e35+fn+cAQZXKdrAAAAKHRSTlMAAQUKDyQrLzxJSkpOW2BkZoCNkqSzvsLJz9/k5ufp8PHy9PX2+vz95m8B7gAAAIRJREFUGNPNz9sagUAUhuE/hBJK9iYp2n73f38OYhp34Dta78E8s5YC09pMINP1ts6o7Z3af+HPkpnCbDzhFmqTYyu2KnAqNc4NMPI6Pzu8+/IbBByBx0KzCwgS7XgtNT0Nb9fy0pUmBwbWkSRvz4dUkZRiSRUlOKT+fqfSXfKp2HEZvwEV5jnXOCbP4QAAAABJRU5ErkJggg==) no-repeat 0 0;
}
.m-item .other .save .active{
    background-position: 0 -14px;
}
.m-item .other .link{
    font-size: 14px;
    line-height: 14px;
    color: #999;
}
.m-item .other .link:hover{
    color: #fe7004;
}
.m-error-info{
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    color: #ff4a4a;
}
.m-item .submit-btn{
    width: 100%;
    height: 46px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #ff7e1c;
    border: none;
    border-radius: 3px;
    -webkit-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}
.m-item .submit-btn:hover{
    background-color: #fe7004;
}
.m-weixin{
    position: relative;
    padding-top: 20px;
}
.m-weixin .line{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e9ebef;
}
.m-weixin h4{
    position: absolute;
    top:0;
    left:50%;
    width: 180px;
    margin-left: -90px;
    font-size: 14px;
    line-height: 41px;
    text-align: center;
    color: #b2b2b2;
    background-color: #fff;
}
.m-weixin .btns{
    padding-top: 26px;
    text-align: center;
}
.m-weixin .btns a{
    display: inline-block;
    vertical-align: top;
    width: 42px;
    height: 42px;
}
.m-weixin .btns .weixin-icon{
    background: #fff url(../img/user/weixin-icon.png) 0 0 no-repeat;
}
/* 登陆 */
.g-login{
    min-width: 1200px;
    min-height:550px;
}
.g-login .g-mn{
    padding-top: 106px;
}
/* 注册 */
.g-reg{
    min-width: 1200px;
    min-height:700px;
}
.g-reg .g-bd{
    padding-top: 30px;
    height: 670px;
    margin-top: -350px;
}
.g-reg h2{
    padding-top: 26px;
    font-size: 24px;
    line-height: 90px;
    text-align: center;
    color: #383d48;
}
.m-vcode .item{
    width: 225px;
}
.m-vcode .vcode{
    width: 120px;
    font-size: 14px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #ff7e1c;
    border-radius: 3px;
}
.m-vcode .item .box{
    width: 158px;
}
.m-vcode .vcode:hover{
    background-color: #fe7004;
}
.m-vcode .vcode.disabled,.m-vcode .vcode.disabled:hover{
    background-color: #f6f6f6;
    font-size: 12px;
    cursor: default;
    color: #000;
}
.m-type{

}
.m-type li{
    width: 168px;
    height: 44px;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    color: #999;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 3px;
}
.m-type li.active{
    color: #fe7004;
    border-color: #fe7004;
}
.m-select{
    position: fixed;
    left:0;
    top:0;
    z-index: 100;
    width: 100%;
    height: 100%;
}
.m-select .mask{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.m-select .boxs{
    position: absolute;
    left:50%;
    top:50%;
    z-index: 2;
    width: 665px;
    height: 337px;
    padding-top: 63px;
    margin-left: -332px;
    margin-top: -200px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.3);
    box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}
.m-select .boxs dl{
    float: left;
    width: 332px;
    height: 260px;
    padding-top: 15px;
    background: #fff url(/static/img/download/head.jpg) -239px 118px no-repeat;
    border-left: 1px solid #e5e5e5;
    cursor: pointer;
}
.m-select .boxs dl.owner{
    border-left: none;
    background-position: 105px 118px;
}
.m-select .boxs dd{
    font-size: 30px;
    line-height: 46px;
    font-weight: bold;
    color: #383d48;
}
.m-select .boxs dt{
    font-size: 14px;
    line-height: 18px;
    color: #61687a;
}
/* 找回密码 */
.g-getpw{
    min-width: 1200px;
    min-height:500px;
}
.g-getpw .g-bd{
    width: 640px;
    padding-top: 120px;
    height: 380px;
    margin-top: -250px;
    margin-left: -320px;
}
.g-getpw .g-mn{
    padding: 0;
    margin: 0 auto;
}
.g-getpw .m-step{
    position: relative;
    padding: 18px 0 36px;
}
.g-getpw .m-step span{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e9ebef;
}
.g-getpw .m-step ul{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
}
.g-getpw .m-step li{
    padding-left: 20px;
    font-size: 16px;
    line-height: 36px;
    color: #999;
    background-color: #fff;
}
.g-getpw .m-step li.f-fl{
    padding-left: 0;
    padding-right: 20px;
}
.g-getpw .m-step li.active{
    color: #383d48;
}
.g-getpw .m-status{
    position: absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    text-align: center;
    display: none;
}
.g-getpw .m-status .icon{
    padding: 118px 0 20px;
    height: 88px;
    line-height: 88px;
}
.g-getpw .m-status .icon .iconfont{
    font-size: 88px;
    color: #1cb235;
}
.g-getpw .m-status h3{
    font-size: 24px;
    line-height: 46px;
    font-weight: bold;
    color: #1cb235;
}
.g-getpw .m-status p{
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 26px;
    color: #999;
}
.g-getpw .m-status .btn{
    display: inline-block;
    width: 130px;
    line-height: 45px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: 0 none;
    background-color: #fe7004;
    border-radius: 3px;
}
