<ol class="breadcrumb"><li><a ui-sref="index">首页</a></li><li><a ui-sref="news">新闻编辑</a></li><li class="active">新闻编辑</li></ol>
<div class="">
	<form name="ueditor" class="form-horizontal" ng-submit="newsUeditor()" novalidate>
		<div class="form-group">
		   <label for="inputEmail3" class="col-sm-1 control-label">文章分类</label>
		   <div class="col-sm-11">
		     	<select class="form-control" ng-model="news.articletype">
			      	<option ng-repeat="v in articletype" ng-selected="news.articletype == v.num" value="{{v.num}}">{{ v.name }}</option>
			    </select>
		   </div>
		</div>
		<div class="form-group">
		   <label for="inputEmail3" class="col-sm-1 control-label">文章标题</label>
		   <div class="col-sm-11">
		     <input type="text" class="form-control" ng-model="news.title" required />
		   </div>
		</div>
		<div class="form-group">
		   <label for="inputEmail3" class="col-sm-1 control-label">发布时间</label>
		   <div class="col-sm-3">
		     	<p class="input-group">
				  	<input type="text" class="form-control" uib-datepicker-popup ng-model="news.create_at" is-open="startTime.status.opened" datepicker-options="startTime.dateOptions" close-text="关闭" clear-text="清除" current-text="今天" required />
				  	<span class="input-group-btn">
				  		<button type="button" class="btn btn-default" ng-click="startTime.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				  	</span>
			  	</p>
		   </div>
		    <div class="col-sm-8"></div>
		</div>
		<div class="form-group">
		   <label for="inputEmail3" class="col-sm-1 control-label">文章关键字<br />（用 | 隔开）</label>
		   <div class="col-sm-11">
		     <input type="text" class="form-control" ng-model="news.Keyword" required />
		   </div>
		</div>
		<div class="form-group">
		   <label for="inputEmail3" class="col-sm-1 control-label">文章描述</label>
		   <div class="col-sm-11">
		   	 <textarea class="form-control" rows="3" ng-model="news.description" required></textarea>
		   </div>
		</div>
		<div class="form-group">
		   <label for="inputEmail3" class="col-sm-1 control-label">文章内容</label>
		   <div class="col-sm-11">
		   	 <div class="ueditor" ng-model="news.content" ready="ready" config="config"></div>
		   </div>
		</div>
		<div class="form-group">
		    <div class="col-sm-offset-1 col-sm-11">
		      <button type="submit" class="btn btn-default" ng-disabled="ueditor.$invalid">确定</button>
		      <button type="button" class="btn btn-default">取消</button>
		    </div>
		  </div>
	</form>
</div>
