<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:ng="http://angularjs.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <!--[if lt IE 8]>
          <script type="text/javascript">if(!-[1,]){window.location.href = "/tpl/other/error.html";}</script>
    <![endif]-->
    <title>业主中心--简繁家</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="/static/css/public.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/owner.css" />
    <script type="text/javascript" src="/static/js/lib/public.js"></script>
    <script type="text/javascript" src="/static/js/ng/version.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/webuploader.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.mousewheel.min.js"></script>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="/static/js/lib/ie8.js"></script>
    <![endif]-->
</head>
<body>
    <div class="g-tb g-wa">
        <div class="g-wp f-cb">
            <a href="/tpl/download/index.html" class="m-app f-fl"><span>APP下载</span></a>
            <a href="/zt/merchants/index.html" class="m-events f-fr">简繁家主材火热招商中</a>
            <div class="m-user f-fr" id="j-user"></div>
        </div>
    </div>
    <header class="g-hd g-wa" id="j-hd">
        <div class="g-wp f-cb">
            <hgroup class="m-logo f-fl">
                <h1><a href="/">简繁家</a></h1>
                <h2>我的设计师专单平台</h2>
            </hgroup>
            <div class="m-sch f-fl" id="j-sch"></div>
            <div class="m-slogan f-fr" id="j-slogan">
                <h3>简繁家实力保障</h3>
                <p>知名风投投资</p>
            </div>
        </div>
    </header>
    <nav class="g-nav g-wa">
        <div class="g-wp">
            <ul class="m-nav f-cb">
                <li><a href="/">首页</a></li>
                <li><a href="/tpl/design/index.html">设计师</a></li>
                <li><a href="/tpl/mito/index.html">装修美图 </a></li>
                <li><a href="/tpl/diary/index.html">装修日记</a></li>
                <li><a href="/tpl/live/index.html">装修直播</a></li>
                <li><a href="/tpl/article/index.html">装修攻略</a></li>
                <li><a href="/tpl/help/index.html">你问我答</a></li>
            </ul>
            <a href="/tpl/user/owner.html#release" class="m-release bounce" id="j-release"><span><i></i></span>免费获取三套方案</a>
        </div>
    </nav>
    <div class="breadCrumbs g-wp">
        <a href="/">首页</a> &gt; <span>个人中心</span>
    </div>
	<main class="g-wp g-user f-cb" ng-controller="appController">
		<aside class="g-sd f-fl" ng-controller="SubController">
            <div class="m-sdc">
                <h2 ng-class="{active: $state.includes('index')}"><a ui-sref="index"><i class="iconfont2">&#xe610;</i>个人中心</a></h2>
                <dl>
                    <dt>我的装修</dt>
                    <dd ng-class="{active: $state.includes('requirementList') || $state.includes('requirement')}"><a ui-sref="requirementList">装修需求列表</a></dd>
                    <dd ng-class="{active: $state.includes('addRequirement') || $state.includes('addRequirementb') || $state.includes('updateRequirement') || $state.includes('updateRequirementb')}"><a ui-sref="addRequirement">填写装修需求</a></dd>
                </dl>
                <div class="line"></div>
                <dl>
                    <dt>我的收藏</dt>
                    <dd ng-class="{active: $state.includes('favorite.list')}"><a ui-sref="favorite.list({id:1})">作品收藏列表</a></dd>
                    <dd ng-class="{active: $state.includes('designer.list')}"><a ui-sref="designer.list({id:1})">意向设计师列表</a></dd>
                </dl>
                <div class="line"></div>
                <dl>
                    <dt>我的日记</dt>
                    <dd ng-class="{active: $state.includes('diary')}"><a ui-sref="diary.list()">日记本</a></dd>
                </dl>
                <div class="line"></div>
                <dl>
                    <dt>我的消息</dt>
                    <dd ng-class="{active: $state.includes('notice.list')}"><a ui-sref="notice.list.type({id:1,type:'4-99',status:undefined})">系统通知<span ng-if="count.notice" ng-bind="count.notice"></span></a></dd>
                    <dd ng-class="{active: $state.includes('remind.list')}"><a ui-sref="remind.list.type({id:1,type:'7-8-13-9-10',status:undefined})">需求提醒<span ng-if="count.remind" ng-bind="count.remind"></span></a></dd>
                    <dd ng-class="{active: $state.includes('comment.list')}"><a ui-sref="comment.list.type({id:1,type:'5-14',status:undefined})">评论<span ng-if="count.comment" ng-bind="count.comment"></span></a></dd>
                </dl>
            </div>
		</aside>
		<article class="g-mn f-fr">
			<!--视图模板容器 start-->
			<div ui-view></div>
		    <!--视图模板容器 end-->
		</article>
	</main>
    <footer class="g-ft g-wa">
        <div class="g-wp">
            <ul>
                <li class="first"><a href="/tpl/about/owner.html"><strong>业主指南</strong><em>业主指南</em></a></li>
                <li><a href="/tpl/about/design.html"><strong>设计师指南</strong><em>设计师指南</em></a></li>
                <li><a href="/tpl/article/index.html"><strong>装修攻略</strong><em>装修攻略</em></a></li>
                <li><a href="/tpl/about/index.html"><strong>关于我们</strong><em>关于我们</em></a></li>
                <li class="last"><a href="/tpl/about/contact.html"><strong>联系我们</strong><em>联系我们</em></a></li>
            </ul>
            <p>免责声明：本网站部分内容由用户自行上传，如权利人发现存在误传其作品情形，请及时与本站联系。</p>
            <p>Copyright © 2015-2016 jianfanjia.com   All Rights Reserved   武汉家易装科技有限公司   隐私权政策 鄂ICP备15014103号</p>
        </div>
    </footer>
    <script type="text/javascript" src="/static/js/utils/usercommon.js"></script>
    <script type="text/javascript" src="/static/js/user/module.js"></script>
    <script type="text/javascript" src="/static/js/user/filters.js"></script>
    <script type="text/javascript" src="/static/js/user/directives.js"></script>
    <script type="text/javascript" src="/static/js/user/ownerService.js"></script>
    <script type="text/javascript" src="/static/js/user/ownerController.js"></script>
    <script type="text/javascript" src="/static/js/user/ownerApp.js"></script>
</body>
</html>
