<div class="main">
	<div class="m-tt">
		<h2>个人信息</h2>
	</div>
	<div class="m-ct">
		<form name="userinfo" ng-submit="userInfo.submit()" novalidate ng-if="userInfo.isLoading">
			<div class="k-form">
				<div class="m-boxs">
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab">姓名</label>
							<div class="u-inp">
								<input type="text" class="input" ng-model="user.username" required />
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab">性别</label>
							<div class="u-inp">
								<div my-radio data-type="userSex" my-query="user.sex"></div>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab">电子邮箱</label>
							<div class="u-inp">
								<div class="inp">
									<input type="text" class="input" ng-model="user.email" ng-pattern="/^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/" />
								</div>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab">手机号码</label>
							<div class="u-inp">
								<div class="input disabled" ng-bind="user.phone"></div>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab">所在地区</label>
							<div class="u-inp">
								<div my-cities my-province="user.province" my-city="user.city" my-district="user.district"></div>
							</div>
						</div>
					</div>
					<div class="m-item f-cb">
						<div class="item">
							<label class="u-lab">邮寄详细地址</label>
							<div class="u-inp">
								<input type="text" class="input long" ng-model="user.address" />
							</div>
						</div>
					</div>
					<div class="k-uppicbox">
						<div id="user_imageid" my-simpleupload my-id="user_imageid" my-query="user.imageid" data-scale="1" my-loading="userInfo.images_loading" my-width="120" my-height="120"></div>
						<span class="icon"><i class="iconfont">&#xe61a;</i></span>
						<p class="uppicbox-tips">请上传大于300*300头像照片<br />3M以内jpg/png格式</p>
					</div>
				</div>
				<div class="m-btns">
					<input type="submit" class="u-btns" ng-class="{'u-btns-disabled':userinfo.$invalid || userInfo.disabled}" ng-disabled="userinfo.$invalid || userInfo.disabled" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" />
				</div>
			</div>
		</form>
		<div class="pageLoading" ng-hide="!!userInfo.isLoading"></div>
	</div>
</div>
<div class="k-cropMask" id="j-cropMask"></div>
<div class="k-cropBox" id="j-cropBox">
	<div class="cropBox">
		<img id="target" alt="Jcrop Image" />
	</div>
	<div class="btns">
		<input type="button" class="u-btns u-btns-revise" id="crop-cancel" value="取消" />
		<input type="button" class="u-btns" id="crop-submit" value="确定" />
	</div>
</div>
