<div class="main">
  <div class="m-tt">
    <h2 class="f-fl">绑定手机号码</h2>
  </div>
  <div class="m-ct">
    <form name="release" ng-submit="phone.submit()" novalidate>
      <div class="k-form release">
        <div class="m-boxs">
          <div class="m-item f-cb">
            <div class="item">
              <label class="u-lab" for="owner-sex"><i>*</i>手机号码</label>
              <div class="u-inp">
                <input type="text" class="input" ng-model="user.phone" placeholder="11位手机号码" my-placeholder ng-pattern="/^(13[0-9]{9}|15[012356789][0-9]{8}|18[0123456789][0-9]{8}|147[0-9]{8}|170[0-9]{8}|177[0-9]{8})$/" required name="phone" ng-blur="phone.verifyphone(user.phone)" />
              </div>
              <div class="u-error">
                <span ng-show="release.phone.$dirty && release.phone.$error.required" class="has-error">不能为空</span>
                <span ng-show="release.phone.$dirty && release.phone.$error.pattern" class="has-error">手机号码不正确</span>
                <span ng-show="release.phone.$dirty && phone.verifyPhoneOff" class="has-error" ng-bind="phone.phoneMsg"></span>
              </div>
            </div>
          </div>
          <div class="m-item f-cb">
            <div class="item">
              <label class="u-lab" for="owner-email"><i>*</i>验证码</label>
              <div class="u-inp">
                <input type="text" class="input code" ng-model="user.code" required placeholder="6位数字验证码" my-placeholder ng-pattern="/^[\d]{6}$/" name="code" required />
                <input type="button" ng-value="phone.codeValue" class="u-btns u-btns-revise code-btns" ng-class="{'u-btns-disabled':!phone.verifyPhoneOff || !phone.verifyCodeOff}" ng-disabled="!phone.verifyPhoneOff || !phone.verifyCodeOff" ng-click="phone.pullcode(user.phone)">
              </div>
              <div class="u-error">
                <span ng-show="release.code.$dirty && release.code.$error.pattern" class="has-error">验证码不正确</span>
                <span ng-show="release.code.$dirty && release.code.$error.required" class="has-error">不能为空</span>
              </div>
            </div>
          </div>
        <div class="m-btns">
          <input type="submit" class="u-btns" ng-class="{'u-btns-disabled':release.$invalid || phone.disabled}" ng-disabled="release.$invalid || userRelease.disabled" id="owner-submit" value="确认绑定" />
        </div>
      </div>
    </form>
  </div>
</div>
