<div class="m-plans" bindonce="plan" ng-if="plan">
	<div class="plans-tt f-cb">
		<h3 class="f-fl">
			<span bo-if="plan.requirement.cell"><i bo-text="plan.requirement.cell"></i></span>
			<span bo-if="plan.requirement.cell_phase"><i bo-text="plan.requirement.cell_phase"></i>期</span>
		</h3>
		<div class="btns f-fr">
			<a bo-href-i="{{returnUrl}}" class="u-btns u-btns-revise">查看其它方案</a>
			<a href="javascript:;" class="u-btns" ng-click="definePlan(data._id,data.designer._id)" bo-if="statusShow">选定方案</a>
		</div>
	</div>
	<div class="plans-ct">
		<ul class="tabs">
			<li ng-class="{'active':tab == 1}" ng-click="tabBtn(1)"><a href="javascript:;">方案详情</a></li>
			<li ng-class="{'active':tab == 2}" ng-click="tabBtn(2)"><a href="javascript:;">方案报价</a></li>
		</ul>
		<div class="boxs detail" ng-if="tab == 1">
			<ul class="info">
				<li>报价：<i bo-bind="plan.total_price/10000 | number"></i>万</li>
				<li>工期：<i bo-text="plan.duration">60</i>天</li>
				<li>空间：<i bo-bind="plan.requirement.house_type | houseTypeFilter"></i></li>
				<li>面积：<i bo-bind="plan.requirement.house_area">60</i>m&sup2;</li>
				<li>风格：<i bo-bind="plan.requirement.dec_style | decStyleFilter"></i></li>
			</ul>
			<div class="description f-cb">
				<a href="" class="head f-fl">
					<img bo-src-i="/api/v2/web/image/{{plan.designer.imageid}}" bo-if="plan.designer.imageid" />
				</a>
				<dl class="f-fl">
					<dt><a href="" bo-bind="plan.designer.username"></a><span><i>v</i>认证设计师</span></dt>
					<dd>
						<span class="sub"></span>
						<span class="sup"></span>
						<p bo-text="plan.description"></p>
					</dd>
				</dl>
			</div>
			<div class="images">
				<img bo-src-i="/api/v2/web/image/{{img}}" alt="" ng-repeat="img in plan.images" />
			</div>
		</div>
		<div class="boxs quote f-cb" ng-if="tab == 2">
			<div class="table f-fl">
				<table>
					<thead>
						<tr class="title">
							<th class="td1"><span>项目</span></th>
							<th class="td2"><span>备注说明</span></th>
							<th class="td3"><span>项目总价</span></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="list in plan.itme_detail" ng-class="{true : 'even'}[$odd]">
							<td class="td1"><span bo-text="list.item"></span></td>
							<td class="td2"><span bo-text="list.description"></span></td>
							<td class="td3"><span bo-text="list.price"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="price f-fl">
				<ul>
					<li>工程总造价<span>&yen;<s ng-bind="plan.total_price | number" ng-show="!project_price_after_discount"></s><i ng-bind="plan.total_price | number" ng-hide="!project_price_after_discount"></i></span></li>
					<li>工程折后价<span>&yen;<i ng-bind="plan.project_price_after_discount | number"></span></i></li>
					<li>设计费<span ng-if="plan.total_design_fee">&yen;<i ng-bind="plan.total_design_fee | number"></i></span><span ng-if="!plan.total_design_fee">&yen;<i ng-bind="plan.design_fee | number"></i></span></li>
				</ul>
				<dl>
					<dt>折后总价</dt>
					<dd>&yen;<i ng-bind="plan.discount_price | number"></i></dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<div class="m-plansMsg" id="plansMsg" ng-if="tab == 1">
	<div class="review">
		<img ng-src="/api/v2/web/image/{{comment.imageid}}" ng-if="comment.imageid" />
		<div ng-class="{'focus textarea':comment.parentFocus,'textarea':!comment.parentFocus}"><textarea rows="10" ng-model="comment.plansMsg" ng-focus="comment.focus()" ng-blur="comment.blur()"></textarea></div>
		<div class="btns"><input type="button" ng-click="comment.addPlansMsg(designer._id,requiremtne.userid)" class="u-btns" value="发表评论" /></div>
	</div>
	<div class="list" ng-if="comments.length != 0">
		<ul>
			<li bindonce="comments" ng-repeat="list in comments">
				<img bo-src-i="/api/v2/web/thumbnail/50/{{list.byUser.imageid}}" alt="" />
				<h4><span bo-text="list.byUser.username"></span><time bo-text="list.date"></time></h4>
				<p><span class="find" bo-if="list.usertypeOff">@ <i ng-bind="plan.designer.username" bo-if="list.usertype == 1"></i><i ng-bind="plan.user.username"  bo-if="list.usertype == 2"></i></span><span class="text" bo-text="list.content"></span><i ng-click="commentsBtn()" bo-if="list.usertypeOff">图标</i></p>
			</li>
		</ul>
	</div>
	<div class="more" ng-if="comments.length > 9 && comment.moreOff">
		<a href="javascript:;" ng-click="comment.moreBtn(comments.total)">加载更多</a>
	</div>
</div>