  <footer class="g-ft g-wa">
    <div class="g-wp">
      <ul>
        <div class="footer-logo"></div>
        <li class="first">
          <a href=""><strong>产品</strong></a>
          <p class="tag-href"><a href="/zt/jian/index.html">简+</a></p>
          <p class="tag-href"><a href="/zt/decorate/index.html">繁-</a></p>
          <p class="tag-href"><a href="/zt/365package/index.html">家365</a></p>
        </li>

        <li>
          <a href="/tpl/about/design.html"><strong>服务</strong></a>
          <p class="tag-href"><a href="/zt/supervision/index.html">第三方监理</a></p>
          <p class="tag-href"><a href="/zt/loan/index.html">装修贷款</a></p>
          <p class="tag-href"><a href="/zt/safeguard/index.html">双重保险</a></p>
          <p class="tag-href"><a href="/zt/merchants/index.html">合作辅材</a></p>
        </li>

        <li>
          <a href="/tpl/article/index.html"><strong>关于</strong></a>
          <p class="tag-href"><a href="/tpl/about/design.html">设计师指南</a></p>
          <p class="tag-href"><a href="/tpl/about/contact.html">联系我们</a></p>
          <p class="tag-href"><a href="/tpl/help/index.html">你问我答</a></p>
          <p class="tag-href"><a href="/tpl/about/owner.html">业主指南</a></p>
        </li>

        <!-- <li><a href="/tpl/about/index.html"><strong>关于我们</strong></a></li>
        <li class="last"><a href="/tpl/about/contact.html"><strong>联系我们</strong></a></li> -->

        <div class="consult">
          <p><strong>咨询热线</strong></p>
          <p class="phone">4008-5151-67</p>
          <li>
            <p>关注简繁家公众号</p>
            <div class="code-wechat"></div>
          </li>
          <li>
            <p>下载简繁家APP</p>
            <div class="code-app"></div>
          </li>
        </div>
      </ul>
      <%# <ul>
        <li class="first"><a href="/tpl/about/owner.html"><strong>业主指南</strong><em>业主指南</em></a></li>
        <li><a href="/tpl/about/design.html"><strong>设计师指南</strong><em>设计师指南</em></a></li>
        <li><a href="/tpl/article/index.html"><strong>装修攻略</strong><em>装修攻略</em></a></li>
        <li><a href="/tpl/about/index.html"><strong>关于我们</strong><em>关于我们</em></a></li>
        <li class="last"><a href="/tpl/about/contact.html"><strong>联系我们</strong><em>联系我们</em></a></li>
      </ul>%>
      <p>免责声明：本网站部分内容由用户自行上传，如权利人发现存在误传其作品情形，请及时与本站联系。</p>
      <p>Copyright © 2015-2016 jianfanjia.com   All Rights Reserved   武汉家易装科技有限公司   隐私权政策 鄂ICP备15014103号</p>
    </div>
  </footer>
</body>
</html>
<script>
  window.onload = function(){
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?66d38d3af612ed7c0979211372aa9682";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  }
</script>
