<div class="news-list-page common">
	<form name="recruit" ng-submit="searchTimeBtn()" novalidate>
		<p>文章创建时间过滤</p>
		<date-range-picker dt-start="startTime.time" dt-end="endTime.time" is-button="true"></date-range-picker>
	</form>
	<br />
	
	<ul class="list-inline">
		<span>文章分类：</span>
		<li ng-repeat="auth in authList"><button type="button" class="btn btn-default" ng-class="{true:'btn-warning',false:'btn-default'}[auth.cur]" ng-click="authBtn(auth.id, authList)">{{auth.name}}</button></li>
	</ul>
	<br />

	<div>
		<a ui-sref="newsAdd()" class="btn btn-success">添加新闻编辑</a>
	</div>
	<br />
	<div class="panel panel-info text-center">
		<table class="table table-bordered table-striped">
			<tbody>
				<tr class="info thead">
					<th class="text-center">文章ID</th>
					<th ng-class="{'-1':'tablesorter-headerDesc', undefined:'tablesorter-header', '1':'tablesorter-headerAsc'}[sort.create_at]" ng-click="sortData('create_at')">创建时间</th>
					<th class="text-center">文章分类</th>
					<th class="text-center">美图标题</th>
					<th class="text-center">当前状态</th>
					<th class="text-center">状态操作</th>
					<th ng-class="{'-1':'tablesorter-headerDesc', undefined:'tablesorter-header', '1':'tablesorter-headerAsc'}[sort.lastupdate]" ng-click="sortData('lastupdate')">更新时间</th>
					<th class="text-center">修改操作</th>
					<th>预览操作</th>
				</tr>
				<tr ng-repeat="user in userList">
					<td>{{user._id}}</td>
					<td class="text-left">{{user.create_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
					<td>{{user.articletype | articletypeFilter}}</td>
					<td>{{user.title}}</td>
					<td>{{user.status | displayStateFilter}}</td>
					<td><button type="button" class="btn btn-danger" ng-click="changeStatus(user._id,user.status, user)">更改状态</button></td>
					<td class="text-left">{{user.lastupdate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
					<td><a ui-sref="newsAdd({id:user._id})">修改更新</a></td>
					<td class="text-left"><a ng-href="{{'/tpl/article/strategy/' + user._id | pcUrl}}" target="_blank">点击查看</a></td>
				</tr>
			</tbody>
		</table>
		<div class="load-data" ng-if="!loading.loadData">
			<load-data ng-hide="loading.loadData"></load-data>
			<no-data ng-show="loading.notData"></no-data>
		</div>
	</div>

	<div class="text-center" ng-if="loading.loadData && !loading.notData">
		<uib-pagination total-items="pagination.totalItems" first-text="首页" next-text="下一页" previous-text="上一页" last-text="尾页" ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" rotate="false" ng-change="pagination.pageChanged()"></uib-pagination>
		<span class="pagecode">当前：{{pagination.currentPage}} / {{numPages}} 页 总共 {{pagination.totalItems}} 条数据</span>
	</div>
	<div export-data></div>
</div>
